@charset "UTF-8";
/* line 14, ../sass/style.scss */
body {
  padding-top: 140px;
  background: url(../images/body-bg.png);
  font-size: 16px;
  position: relative;
}

/* line 21, ../sass/style.scss */
body.request-popup {
  padding-top: 0;
}

/* line 25, ../sass/style.scss */
.col-no-padding {
  padding: 0;
}

/* line 28, ../sass/style.scss */
h1, h2, h3, h4, h5, h6,
p {
  color: #333333;
}

/* line 31, ../sass/style.scss */
p.border-bt {
  padding-bottom: 20px;
  border-bottom: 2px solid #cccccc;
}

/* line 34, ../sass/style.scss */
.text-brown,
.text-brown p {
  color: #7f5d3d;
}

/* line 37, ../sass/style.scss */
a,
a:hover {
  color: #7f5d3d;
}

/* line 38, ../sass/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 40, ../sass/style.scss */
.text-large {
  font-size: 40px;
  font-weight: bold;
}

/* line 41, ../sass/style.scss */
.align-right {
  text-align: right;
}

@media (max-width: 768px) {
  /* line 43, ../sass/style.scss */
  .align-right {
    text-align: left;
  }
}
/* line 46, ../sass/style.scss */
.btn-primary {
  color: #FFF;
  background-color: #fe6625;
  border-color: #fe6625;
}
/* line 50, ../sass/style.scss */
.btn-primary:hover {
  background-color: #cd5e26;
  border-color: #cd5e26;
}

/* line 55, ../sass/style.scss */
.btn-color {
  color: #333333;
  background-color: #ffc092;
}
/* line 58, ../sass/style.scss */
.btn-color:hover {
  color: #333333;
  background-color: #ffc092;
}

/* line 63, ../sass/style.scss */
.btn-delete {
  float: right;
}

@media (max-width: 640px) {
  /* line 67, ../sass/style.scss */
  .hidden-640 {
    display: none !important;
  }

  /* line 68, ../sass/style.scss */
  aside .item-list li {
    width: 100%;
  }
}
/* line 70, ../sass/style.scss */
.glyphicon.margin-right {
  margin-right: 5px;
}

/* line 71, ../sass/style.scss */
.caret.margin-left {
  margin-left: 8px;
}

/* line 72, ../sass/style.scss */
.region {
  margin-bottom: 30px;
}

/* line 74, ../sass/style.scss */
.container {
  margin-bottom: 30px;
}

/* line 75, ../sass/style.scss */
.content-inner {
  position: relative;
}

/* line 76, ../sass/style.scss */
.content-thin {
  max-width: 350px;
  margin: 0 auto;
}

/* line 80, ../sass/style.scss */
.content-smart {
  max-width: 800px;
  margin: 0 auto;
}

/* line 84, ../sass/style.scss */
.files-widget {
  width: 100%;
}
/* line 86, ../sass/style.scss */
.files-widget .files-widget-dropbox {
  width: 100% !important;
  margin: 0;
  border: 3px dashed #cccccc !important;
}
/* line 91, ../sass/style.scss */
.files-widget .controls a.fake-files-input {
  display: inline;
}
/* line 93, ../sass/style.scss */
.files-widget .files-widget-deleted p {
  border: none;
}
/* line 94, ../sass/style.scss */
.files-widget .files-widget-deleted > div {
  border: none;
  background-color: #F2F2F2;
  padding: 10px;
}

/* line 99, ../sass/style.scss */
.sidebar {
  margin-top: 6px;
}

/* line 101, ../sass/style.scss */
.sidebar .item-list .media {
  padding: 0 15px;
  margin-top: 0;
}
/* line 104, ../sass/style.scss */
.sidebar .item-list .media img {
  margin-right: 10px;
}
/* line 105, ../sass/style.scss */
.sidebar .item-list .media .media-heading {
  margin-top: 15px;
}
/* line 106, ../sass/style.scss */
.sidebar .item-list .media:last-child .item-inner {
  border-bottom: 0;
}

/* line 111, ../sass/style.scss */
.breadcrumb-wrapper,
.breadcrumb {
  margin-bottom: 0;
  font-size: 14px;
}

/* line 115, ../sass/style.scss */
.breadcrumb {
  padding: 0;
  background-color: transparent;
}
/* line 118, ../sass/style.scss */
.breadcrumb p {
  display: inline;
  color: #999;
}

/* line 121, ../sass/style.scss */
.pagination {
  margin-top: 0;
}
/* line 123, ../sass/style.scss */
.pagination > li > a {
  color: #333333;
}
/* line 125, ../sass/style.scss */
.pagination li.active a,
.pagination li.active a:hover {
  border-color: #cccccc;
  background-color: #cd5e26;
}

/* line 131, ../sass/style.scss */
[class*="dialog-ic"] {
  position: relative;
  display: block;
  float: left;
  margin-right: 0.5em;
  width: 40px;
  height: 25px;
}
/* line 138, ../sass/style.scss */
[class*="dialog-ic"]:after {
  border-width: 5px;
  border-style: solid;
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: 50%;
}

/* line 148, ../sass/style.scss */
[class*="dialog-ic-color"] {
  background-color: #fe6625;
}
/* line 150, ../sass/style.scss */
[class*="dialog-ic-color"]:after {
  border-color: #fe6625 #fe6625 transparent transparent;
}

/* line 154, ../sass/style.scss */
[class*="dialog-ic-bw"] {
  background-color: #cccccc;
}
/* line 156, ../sass/style.scss */
[class*="dialog-ic-bw"]:after {
  border-color: #cccccc #cccccc transparent transparent;
}

/* line 161, ../sass/style.scss */
.navbar-default {
  background-color: #cd5e26;
}
/* line 163, ../sass/style.scss */
.navbar-default .container {
  margin-bottom: 0;
}
/* line 164, ../sass/style.scss */
.navbar-default .navbar-toggle {
  border: none;
}
/* line 166, ../sass/style.scss */
.navbar-default .navbar-toggle:hover {
  background-color: #ff9933;
}
/* line 167, ../sass/style.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
  width: 30px;
  height: 5px;
  border-radius: 5px;
}
/* line 174, ../sass/style.scss */
.navbar-default .navbar-collapse {
  border: none;
}
/* line 175, ../sass/style.scss */
.navbar-default .navbar-header a {
  color: #FFF;
  font-size: inherit;
}
/* line 178, ../sass/style.scss */
.navbar-default .navbar-header a:hover {
  color: #FFF;
}
/* line 179, ../sass/style.scss */
.navbar-default .navbar-header a span {
  font-size: 14px;
  margin-left: 1em;
  line-height: 1em;
}
/* line 181, ../sass/style.scss */
.navbar-default .navbar-nav {
  margin-top: 60px;
}
/* line 184, ../sass/style.scss */
.navbar-default .navbar-nav.navbar-right:last-child {
  margin-right: 0;
}
/* line 185, ../sass/style.scss */
.navbar-default .navbar-nav > li {
  position: relative;
}
/* line 186, ../sass/style.scss */
.navbar-default .navbar-nav > li > a {
  color: #FFF;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
/* line 192, ../sass/style.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #4c0000;
}
/* line 196, ../sass/style.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
  color: #4c0000;
  background-color: #ff9933;
}
/* line 201, ../sass/style.scss */
.navbar-default .navbar-nav > li.active:after {
  border-color: #ff9933 #ff9933 transparent transparent;
  border-width: 10px;
  border-style: solid;
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -10px;
}

@media (max-width: 767px) {
  /* line 217, ../sass/style.scss */
  .navbar-default .navbar-header img {
    width: 65%;
  }
  /* line 220, ../sass/style.scss */
  .navbar-default .navbar-nav {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
  }
  /* line 224, ../sass/style.scss */
  .navbar-default .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
  /* line 225, ../sass/style.scss */
  .navbar-default .navbar-nav > li > a {
    color: #4c0000;
    background-color: #ff9933;
    border-bottom: 1px solid #d3722b;
    border-right: none;
  }
  /* line 230, ../sass/style.scss */
  .navbar-default .navbar-nav > li > a:hover {
    background-color: #cd5e26;
  }
  /* line 233, ../sass/style.scss */
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    color: #4c0000;
    background-color: #cd5e26;
  }
  /* line 237, ../sass/style.scss */
  .navbar-default .navbar-nav > li.active:after {
    display: none;
  }
  /* line 241, ../sass/style.scss */
  .navbar-default .navbar-toggle {
    margin-top: 20px;
  }
  /* line 243, ../sass/style.scss */
  .navbar-default .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 6px;
  }
  /* line 245, ../sass/style.scss */
  .navbar-default .navbar-collapse {
    max-height: 100%;
  }
  /* line 247, ../sass/style.scss */
  .navbar-default .sec-menu > li > a {
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 251, ../sass/style.scss */
  .navbar-default .sec-menu > li > a:hover {
    background-color: #ff9933;
    text-decoration: underline;
  }
  /* line 257, ../sass/style.scss */
  .navbar-default .sec-menu > .active > a, .navbar-default .sec-menu > .active > a:hover {
    text-decoration: underline;
    background-color: #ff9933;
  }
}
/* line 265, ../sass/style.scss */
.navbar {
  background-color: #cd5e26;
}

/* line 267, ../sass/style.scss */
.navbar-header h1 {
  margin: 0;
}

/* line 268, ../sass/style.scss */
.navbar-brand {
  height: auto;
}

/* line 269, ../sass/style.scss */
.form-action {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 275, ../sass/style.scss */
.form-normal .checkbox {
  font-weight: normal;
}
/* line 276, ../sass/style.scss */
.form-normal .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
/* line 282, ../sass/style.scss */
.form-normal .form-control:focus {
  z-index: 2;
}

/* line 285, ../sass/style.scss */
form {
  margin: 20px 0;
}

/* line 288, ../sass/style.scss */
input.first {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 293, ../sass/style.scss */
input.middle {
  margin-bottom: -1px;
  border-radius: 0;
}

/* line 298, ../sass/style.scss */
input.last,
input + .errors {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 303, ../sass/style.scss */
.checkbox ul, .radio ul {
  list-style: none;
  padding-left: 0;
}

/* line 308, ../sass/style.scss */
.checkbox-single {
  margin-top: 10px;
}

/* line 312, ../sass/style.scss */
.controls .prettycheckbox label, .controls .prettyradio label {
  font-weight: normal;
  margin: 4px 5px;
}

/* line 318, ../sass/style.scss */
.form-group .autocomplete-light-widget {
  display: block;
}
/* line 321, ../sass/style.scss */
.form-group .autocomplete-light-widget input, .form-group .autocomplete-light-widget input:focus {
  width: 100%;
}

/* line 326, ../sass/style.scss */
.inst-status {
  background-color: #d5d5d5;
  overflow: hidden;
}

/* line 332, ../sass/style.scss */
.block {
  overflow: hidden;
  background-color: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}
/* line 337, ../sass/style.scss */
.block .block-content {
  padding: 20px;
}
/* line 340, ../sass/style.scss */
.block ul.block-content {
  padding: 0;
}
/* line 343, ../sass/style.scss */
.block ul.block-content li .item-inner {
  margin: 0;
}
/* line 345, ../sass/style.scss */
.block ul.block-content li .item-inner .left {
  padding-right: 0;
  padding-left: 0;
}
/* line 346, ../sass/style.scss */
.block ul.block-content li .item-inner .right {
  padding-right: 0;
}
/* line 349, ../sass/style.scss */
.block ul.block-content.item-list {
  margin-bottom: 0;
}
/* line 351, ../sass/style.scss */
.block ul.block-content.item-list .item-inner {
  padding: 10px 5px 0 15px;
}
/* line 355, ../sass/style.scss */
.block ul.block-content.item-list.shuffle-bg li .item-inner {
  border: none;
}
/* line 357, ../sass/style.scss */
.block ul.block-content.item-list.shuffle-bg li,
.block ul.block-content.item-list.shuffle-bg li + li + li + li {
  background-color: #ff9933;
}
/* line 359, ../sass/style.scss */
.block ul.block-content.item-list.shuffle-bg li + li,
.block ul.block-content.item-list.shuffle-bg li + li + li + li + li {
  background-color: #e78c30;
}
/* line 361, ../sass/style.scss */
.block ul.block-content.item-list.shuffle-bg li + li + li,
.block ul.block-content.item-list.shuffle-bg li + li + li + li + li + li {
  background-color: #ffaf4c;
}
/* line 364, ../sass/style.scss */
.block ul.block-content.item-list li.first .item-inner {
  padding-top: 10px;
}
/* line 370, ../sass/style.scss */
.block.block-bg-transparent {
  background-color: transparent;
  border: none;
}
/* line 374, ../sass/style.scss */
.block.block-bg-grey {
  background-color: #F5F5F5;
}
/* line 377, ../sass/style.scss */
.block.block-bg-color {
  background-color: #ffc092;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 20px;
}
/* line 383, ../sass/style.scss */
.block.block-bg-hover {
  background-color: #ff9933;
}
/* line 386, ../sass/style.scss */
.block.block-no-border {
  border: none;
}

@media (min-width: 993px) {
  /* line 394, ../sass/style.scss */
  .block ul.block-content li.first .item-inner {
    border-top: none;
    padding-top: 0;
  }
  /* line 395, ../sass/style.scss */
  .block ul.block-content li.last .item-inner {
    border-bottom: none;
    padding-bottom: 0;
  }
}
@media (max-width: 992px) {
  /* line 404, ../sass/style.scss */
  .block ul.block-content li .item-inner {
    border: none;
  }
}
/* line 410, ../sass/style.scss */
.item-list {
  list-style: none;
  padding-left: 0;
}
/* line 414, ../sass/style.scss */
.item-list li .item-inner {
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px dotted #333333;
}
/* line 418, ../sass/style.scss */
.item-list li .item-inner.no-border-bottom {
  border-bottom: none;
}
/* line 422, ../sass/style.scss */
.item-list.icon-list .item-inner a {
  display: block;
  padding-left: 25px;
  margin-top: -22px;
}

@media (max-width: 640px) {
  /* line 426, ../sass/style.scss */
  .item {
    width: 100%;
  }
  /* line 428, ../sass/style.scss */
  .item .item-inner {
    min-height: 111px;
  }
  /* line 430, ../sass/style.scss */
  .item .item-inner .left {
    position: absolute;
  }
  /* line 431, ../sass/style.scss */
  .item .item-inner .right {
    padding-left: 90px;
    width: 100%;
  }
}
/* line 441, ../sass/style.scss */
.summary h3 .left img {
  max-width: 80px;
  width: 100%;
}

/* line 445, ../sass/style.scss */
.amount {
  height: 10px;
  background-color: #cd5e26;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 450, ../sass/style.scss */
.amount-wrapper {
  padding-right: 80px;
}
/* line 452, ../sass/style.scss */
.amount-wrapper a {
  color: #333333;
}

/* line 454, ../sass/style.scss */
.amount-num {
  position: absolute;
  top: 25%;
  right: 0;
  width: 70px;
  text-align: center;
  padding-left: 0;
}
/* line 461, ../sass/style.scss */
.amount-num span {
  display: block;
  line-height: 35px;
  color: #333333;
}

/* line 464, ../sass/style.scss */
.highlight-statement {
  border-bottom: 3px solid #ffb07d;
  position: relative;
}
/* line 467, ../sass/style.scss */
.highlight-statement .triangle {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: -25px;
  left: 60px;
  z-index: 2;
  background: url(../images/triangle.png) no-repeat 0 0;
}

/* line 479, ../sass/style.scss */
.block-quote,
.block-quote * {
  color: #7f5d3d;
  margin: 0;
  line-height: 1.8;
}

/* line 485, ../sass/style.scss */
.block-quote,
.block-quote-alt {
  position: relative;
  display: block;
  border-left: 0;
  padding: 20px 25px 0 25px;
  word-wrap: break-word;
}
/* line 486, ../sass/style.scss */
.block-quote strong,
.block-quote-alt strong {
  font-size: 1.25em;
  font-weight: normal;
}
/* line 493, ../sass/style.scss */
.block-quote:before, .block-quote:after,
.block-quote-alt:before,
.block-quote-alt:after {
  content: "";
  width: 23px;
  height: 18px;
  background: url(../images/quote.png) transparent no-repeat 0 0;
  position: absolute;
  z-index: 1;
}
/* line 501, ../sass/style.scss */
.block-quote:before,
.block-quote-alt:before {
  top: 0;
  left: 0;
}
/* line 504, ../sass/style.scss */
.block-quote:after,
.block-quote-alt:after {
  background-position: -23px 0;
  bottom: 0;
  right: 0;
}

/* line 509, ../sass/style.scss */
.block-quote-alt {
  padding-top: 0;
  display: inline-block;
  padding: 0 30px;
  max-width: 270px;
  font-size: 3.5em;
  font-weight: bold;
  line-height: 1.38em;
}
/* line 517, ../sass/style.scss */
.block-quote-alt:after {
  top: 0;
  right: 0;
}

@media (max-width: 992px) {
  /* line 522, ../sass/style.scss */
  .block-quote-alt {
    max-width: 100%;
    margin-bottom: 10px;
  }
}
@media (max-width: 560px) {
  /* line 528, ../sass/style.scss */
  .block-quote-alt {
    font-size: 2.8em;
  }
}
/* line 531, ../sass/style.scss */
.who-said {
  position: relative;
  overflow: hidden;
  background-color: #ffc092;
}
/* line 535, ../sass/style.scss */
.who-said.block-content {
  padding: 15px 20px 0 20px;
}
/* line 536, ../sass/style.scss */
.who-said .media {
  overflow: hidden;
  margin-top: 20px;
}
/* line 539, ../sass/style.scss */
.who-said .media .media-body {
  margin-top: 30px;
}
/* line 541, ../sass/style.scss */
.who-said .meter {
  text-align: right;
  padding-right: 0;
  margin-top: 20px;
}

@media (max-width: 600px) {
  /* line 550, ../sass/style.scss */
  .who-said.block-content {
    padding: 25px 20px 0 20px;
  }
  /* line 551, ../sass/style.scss */
  .who-said .media {
    margin-top: 10px;
  }
  /* line 552, ../sass/style.scss */
  .who-said .meter {
    margin-top: 0;
  }
}
@media (max-width: 540px) {
  /* line 557, ../sass/style.scss */
  .who-said .media {
    padding-left: 0;
  }
  /* line 559, ../sass/style.scss */
  .who-said .media a.pull-left {
    width: 75px;
  }
  /* line 561, ../sass/style.scss */
  .who-said .media a.pull-left img {
    width: 100%;
  }
  /* line 563, ../sass/style.scss */
  .who-said .media .media-body {
    margin-top: 0;
    font-size: 95%;
  }
}
@media (max-width: 479px) {
  /* line 573, ../sass/style.scss */
  .highlight-statement .block-quote {
    padding: 30px 0 30px;
  }
  /* line 575, ../sass/style.scss */
  .highlight-statement .block-quote * {
    line-height: 1.5;
  }

  /* line 579, ../sass/style.scss */
  .who-said .media {
    width: 100%;
    padding: 0 15px 15px 0;
  }
  /* line 582, ../sass/style.scss */
  .who-said .meter {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
}
/* line 590, ../sass/style.scss */
.statement-meta {
  border-bottom: 2px solid #D8D8D8;
  position: relative;
  overflow: hidden;
}
/* line 594, ../sass/style.scss */
.statement-meta .submit {
  margin-bottom: 30px;
}
/* line 595, ../sass/style.scss */
.statement-meta .fb-share-button {
  overflow: hidden;
  margin-right: 10px;
}

/* line 600, ../sass/style.scss */
.statement-desc {
  border: 5px dashed #ffc092 !important;
}
/* line 602, ../sass/style.scss */
.statement-desc .block-content > section {
  margin-bottom: 30px;
}

/* line 605, ../sass/style.scss */
.related-statement article {
  margin-bottom: 30px;
}
/* line 606, ../sass/style.scss */
.related-statement .block {
  position: relative;
  overflow: visible;
}
/* line 607, ../sass/style.scss */
.related-statement .block:after {
  border-color: #ffc092 transparent transparent #ffc092;
  border-width: 8px 11px;
  border-style: solid;
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -15px;
  left: 75px;
  margin-left: -10px;
}
/* line 618, ../sass/style.scss */
.related-statement .media {
  margin-top: 20px;
}

/* line 622, ../sass/style.scss */
.hilight-people .left {
  position: absolute;
}
/* line 623, ../sass/style.scss */
.hilight-people .right {
  padding-left: 140px;
}

/* line 626, ../sass/style.scss */
.nav-color {
  padding-top: 15px;
}
/* line 628, ../sass/style.scss */
.nav-color li {
  padding: 0 10px;
  margin: 0;
  text-align: center;
}
/* line 631, ../sass/style.scss */
.nav-color li .caret {
  border-top: none;
  border-bottom: 12px solid #F2F2F2;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  margin-bottom: -8px;
}
/* line 639, ../sass/style.scss */
.nav-color li.last, .nav-color li.dropdown {
  padding-right: 0;
}
/* line 641, ../sass/style.scss */
.nav-color li.last:after, .nav-color li.dropdown:after {
  display: none;
}
/* line 644, ../sass/style.scss */
.nav-color > li:after {
  content: "•";
  position: absolute;
  top: 0.8em;
  right: -3px;
}
/* line 650, ../sass/style.scss */
.nav-color li a {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background-color: transparent;
  padding: 10px 20px;
}
/* line 654, ../sass/style.scss */
.nav-color li a:hover {
  background-color: #ffc092;
  color: #7f5d3d;
}
/* line 659, ../sass/style.scss */
.nav-color li.active a {
  background-color: #fe6625;
  color: #FFFFFF;
  border-color: #fe6625;
}
/* line 663, ../sass/style.scss */
.nav-color li.active a:hover {
  background-color: #fe6625;
  border-color: #fe6625;
}

/* line 670, ../sass/style.scss */
.nav.full-width {
  border-bottom: 0;
}
/* line 672, ../sass/style.scss */
.nav.full-width li.dropdown {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}
/* line 677, ../sass/style.scss */
.nav.full-width li.dropdown a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #FFF;
  border: 1px solid #CCC;
  margin: 0;
  text-align: left;
}
/* line 683, ../sass/style.scss */
.nav.full-width li.dropdown a:hover {
  background-color: #FFF;
  border: 1px solid #CCC;
}
/* line 684, ../sass/style.scss */
.nav.full-width li.dropdown a.dropdown-toggle {
  font-size: 1.5em;
}
/* line 685, ../sass/style.scss */
.nav.full-width li.dropdown a .caret {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -4px;
  border-top: 8px solid #7f5d3d;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 0 solid transparent;
}
/* line 696, ../sass/style.scss */
.nav.full-width li.dropdown.open a {
  border: 1px solid #CCC;
  color: #7f5d3d;
}
/* line 697, ../sass/style.scss */
.nav.full-width li.dropdown ul.dropdown-menu {
  width: 100%;
  z-index: 2;
}
/* line 700, ../sass/style.scss */
.nav.full-width li.dropdown ul.dropdown-menu li {
  padding: 0;
}
/* line 703, ../sass/style.scss */
.nav.full-width li.dropdown ul.dropdown-menu li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: none;
}
/* line 706, ../sass/style.scss */
.nav.full-width li.dropdown ul.dropdown-menu li.active a,
.nav.full-width li.dropdown ul.dropdown-menu li:hover a {
  color: #FFF;
  background-color: #cd5e26;
}

@media (min-width: 992px) {
  /* line 716, ../sass/style.scss */
  .nav-color {
    float: right;
  }
}
@media (max-width: 768px) {
  /* line 721, ../sass/style.scss */
  .nav.full-width {
    margin: 15px 0;
  }
  /* line 724, ../sass/style.scss */
  .nav.full-width > li.active a {
    color: #7f5d3d;
  }
}
/* line 732, ../sass/style.scss */
.polygraph-list.single .nav-color {
  padding: 0;
  margin-top: -45px;
  margin-bottom: 30px;
}
/* line 738, ../sass/style.scss */
.polygraph-list.single .polygraph-list-before .block-quote-alt {
  max-width: 100%;
}
/* line 739, ../sass/style.scss */
.polygraph-list.single .polygraph-list-before .meter-image {
  margin-top: -80px;
}
/* line 740, ../sass/style.scss */
.polygraph-list.single .polygraph-list-before img {
  width: 100%;
  height: auto;
  max-width: 249px;
}

@media (max-width: 991px) {
  /* line 749, ../sass/style.scss */
  .polygraph-list.single .nav-color {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  /* line 759, ../sass/style.scss */
  .polygraph-list.single .polygraph-list-before .meter-title, .polygraph-list.single .polygraph-list-before .desc, .polygraph-list.single .polygraph-list-before .meter-image {
    width: 100%;
  }
  /* line 762, ../sass/style.scss */
  .polygraph-list.single .polygraph-list-before .meter-title, .polygraph-list.single .polygraph-list-before .meter-image {
    text-align: center;
  }
  /* line 765, ../sass/style.scss */
  .polygraph-list.single .polygraph-list-before .meter-image {
    margin-top: 20px;
  }
  /* line 766, ../sass/style.scss */
  .polygraph-list.single .polygraph-list-before img {
    max-width: 175px;
    margin-left: -35px;
  }
}
/* line 775, ../sass/style.scss */
.polygraph-list > header {
  position: relative;
  z-index: 2;
  overflow: visible;
}
/* line 776, ../sass/style.scss */
.polygraph-list > section {
  position: relative;
  z-index: 1;
}
/* line 777, ../sass/style.scss */
.polygraph-list .statement-list {
  overflow: hidden;
}
/* line 778, ../sass/style.scss */
.polygraph-list .block {
  margin-bottom: 1.2em;
}
/* line 781, ../sass/style.scss */
.polygraph-list .polygraph-list-block {
  position: relative;
}
/* line 783, ../sass/style.scss */
.polygraph-list .polygraph-list-block .block-content > span {
  display: block;
  padding: 5px 0;
  color: #FFF;
  font-size: 75%;
  background-color: #fe6625;
  width: 80px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 10px -20px;
}
/* line 794, ../sass/style.scss */
.polygraph-list .polygraph-list-block.updated span {
  background-color: #ff9933;
}
/* line 797, ../sass/style.scss */
.polygraph-list .polygraph-list-block .quote {
  line-height: 1.8em;
}

/* line 802, ../sass/style.scss */
.polygraph-list-block .block-content.float-right-img {
  padding-right: 270px;
}
/* line 804, ../sass/style.scss */
.polygraph-list-block .block-content.float-right-img img {
  width: 40px;
  height: 40px;
}
/* line 807, ../sass/style.scss */
.polygraph-list-block .meter-md {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* line 814, ../sass/style.scss */
.polygraph-list.statement-list .block-content {
  padding-bottom: 0;
  border-bottom: 85px solid #F2F2F2;
  position: initial;
}
/* line 818, ../sass/style.scss */
.polygraph-list.statement-list .block-content .quote {
  font-size: 18px;
}
/* line 821, ../sass/style.scss */
.polygraph-list.statement-list .block-content .media {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding-right: 160px;
}
/* line 828, ../sass/style.scss */
.polygraph-list.statement-list .meter-md {
  right: 20px;
  bottom: 10px;
}

@media (max-width: 991px) {
  /* line 836, ../sass/style.scss */
  .statement-list .polygraph-list-block .meter-md {
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
  /* line 840, ../sass/style.scss */
  .statement-list .polygraph-list-block .meter-md img {
    height: 100%;
  }
}
@media (max-width: 991px) {
  /* line 851, ../sass/style.scss */
  .polygraph-list-block .block-content.float-right-img {
    padding-right: 20px;
    padding-bottom: 150px;
  }
  /* line 855, ../sass/style.scss */
  .polygraph-list-block .block-content .media {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding-right: 160px;
  }
  /* line 862, ../sass/style.scss */
  .polygraph-list-block .meter-md {
    position: absolute;
    bottom: 20px;
    right: 0;
  }
  /* line 866, ../sass/style.scss */
  .polygraph-list-block .meter-md img {
    height: 150px;
    width: auto;
  }
}
@media (max-width: 767px) {
  /* line 877, ../sass/style.scss */
  .polygraph-list-block .block-content.float-right-img {
    padding-bottom: 110px;
  }
  /* line 881, ../sass/style.scss */
  .polygraph-list-block .meter-md {
    right: 20px;
  }
  /* line 883, ../sass/style.scss */
  .polygraph-list-block .meter-md img {
    height: 100px;
  }
}
@media (max-width: 460px) {
  /* line 891, ../sass/style.scss */
  .statement-list .polygraph-list-block .block-content {
    border-bottom: 125px solid #F2F2F2;
  }
  /* line 894, ../sass/style.scss */
  .statement-list .polygraph-list-block .block-content .media {
    position: relative;
    padding-right: 0;
    bottom: 0;
    margin-bottom: 15px;
  }
}
/* line 902, ../sass/style.scss */
.btn-group-custom {
  position: absolute;
  top: -45px;
  right: 0;
}
/* line 906, ../sass/style.scss */
.btn-group-custom .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/*
 *  Polygraph List Before Style.
 */
/* line 914, ../sass/style.scss */
.polygraph-list-before {
  width: 100%;
}
/* line 916, ../sass/style.scss */
.polygraph-list-before .block-content {
  overflow: hidden;
}
/* line 917, ../sass/style.scss */
.polygraph-list-before span {
  margin-bottom: 10px;
  display: block;
}
/* line 921, ../sass/style.scss */
.polygraph-list-before .desc {
  margin-top: 20px;
}

@media (max-width: 991px) {
  /* line 924, ../sass/style.scss */
  .polygraph-list-before .desc {
    padding: 0;
  }
}
/* line 929, ../sass/style.scss */
.about-statement h3 {
  margin-top: 0;
}
/* line 930, ../sass/style.scss */
.about-statement p {
  margin-bottom: 2em;
}

/* line 934, ../sass/style.scss */
.tag-list a {
  margin-bottom: 10px;
  margin-right: 10px;
}

/* line 940, ../sass/style.scss */
footer {
  background-color: #cd5e26;
}
/* line 942, ../sass/style.scss */
footer * {
  color: #FFF;
  line-height: 60px;
}
/* line 943, ../sass/style.scss */
footer .container {
  margin-bottom: 0;
}
/* line 944, ../sass/style.scss */
footer .footer-logo {
  font-size: 30px;
}
/* line 946, ../sass/style.scss */
footer .footer-menu div {
  text-align: right;
}
/* line 948, ../sass/style.scss */
footer .footer-menu div a:hover {
  color: #4c0000;
}

@media (max-width: 767px) {
  /* line 955, ../sass/style.scss */
  footer .footer-menu div {
    text-align: left;
  }
}
/* line 965, ../sass/style.scss */
.sidebar-right .form-normal .form-control {
  padding: 6px 12px;
  height: 34px;
  font-size: 14px;
}
/* line 971, ../sass/style.scss */
.sidebar-right ol {
  padding-left: 2em;
}
/* line 973, ../sass/style.scss */
.sidebar-right ol li.form-group input.form-control {
  display: inline-block;
}
/* line 976, ../sass/style.scss */
.sidebar-right form h1, .sidebar-right form h2 {
  margin-bottom: 30px;
}
/* line 978, ../sass/style.scss */
.sidebar-right .add_more {
  float: right;
}

/* line 981, ../sass/style.scss */
.sidebar .form-group textarea {
  max-width: 100%;
}

/* line 984, ../sass/style.scss */
.add-another-inline-input-list {
  overflow: hidden;
  margin-top: 20px;
}
/* line 989, ../sass/style.scss */
.add-another-inline-input-list .form-group {
  overflow: hidden;
}

/* line 993, ../sass/style.scss */
.inline-reference-wrapper {
  position: relative;
}

/* line 997, ../sass/style.scss */
#inline_overlay {
  background: url(../images/body-bg.png);
  opacity: 0.8;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: content-box;
  border-radius: 5px;
  border: solid 1px #DDD;
}

/* line 1014, ../sass/style.scss */
.autocomplete-light-widget .deck > span[data-value] {
  position: relative;
  width: 100%;
  padding: 10px !important;
  background-color: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 1023, ../sass/style.scss */
.autocomplete-light-widget .deck > span[data-value] img {
  margin: 0 0 0 0;
}
/* line 1024, ../sass/style.scss */
.autocomplete-light-widget .deck > span[data-value] .remove {
  background-position-y: 3px;
  height: 17px;
}
/* line 1028, ../sass/style.scss */
.autocomplete-light-widget .deck > span[data-value] .remove:hover {
  background-position-y: 3px;
}
/* line 1031, ../sass/style.scss */
.autocomplete-light-widget .deck > span[data-value] .reference-span {
  margin-left: 10px;
}

/* line 1038, ../sass/style.scss */
.form-group ul.tagit {
  width: 100%;
}

/* line 1041, ../sass/style.scss */
.field-container {
  overflow: hidden;
}

/* line 1044, ../sass/style.scss */
.sidebar .radio {
  padding-left: 0;
}

/* line 1047, ../sass/style.scss */
.tagit-hidden-field {
  display: none;
}

/* line 1050, ../sass/style.scss */
.media-list .prettyradio {
  display: table-row;
}

/* line 1054, ../sass/style.scss */
.media-list .prettyradio > * {
  display: table-cell;
}

/* line 1058, ../sass/style.scss */
.statement-meter .radio {
  padding-left: 0;
}

/* line 1061, ../sass/style.scss */
.statement-meter .radio .image-wrapper {
  margin-top: -11px;
  margin-right: 5px;
}

/* line 1066, ../sass/style.scss */
.statement-meter .prettyradio {
  padding-top: 11px;
  padding-left: 7px;
  padding-right: 3px;
  background-color: #FFF;
  border-radius: 25px 2px 2px 25px;
  border-right: solid 5px #ffc092;
  margin-right: 5px;
}
/* line 1075, ../sass/style.scss */
.statement-meter .prettyradio label {
  margin-left: 2px;
}

/* line 1081, ../sass/style.scss */
.staff-link-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px 0 10px;
  color: #555;
  z-index: 1;
}
/* line 1090, ../sass/style.scss */
.staff-link-wrapper ul {
  list-style: none;
  padding-left: 0px;
}
/* line 1095, ../sass/style.scss */
.staff-link-wrapper a {
  color: #555;
}

/* line 1101, ../sass/style.scss */
.people-list .dropdown {
  position: absolute;
  top: 10px;
  right: 0;
  width: 250px;
}
/* line 1106, ../sass/style.scss */
.people-list .dropdown .btn {
  width: 100%;
  text-align: left;
  white-space: normal;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 1111, ../sass/style.scss */
.people-list .dropdown .btn .caret {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -4px;
  border-top: 8px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
/* line 1121, ../sass/style.scss */
.people-list .dropdown .dropdown-menu {
  width: 100%;
  right: 0;
  left: auto;
  margin-top: -1px;
  background-color: #f4f4f4;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 1128, ../sass/style.scss */
.people-list .dropdown .dropdown-menu li {
  margin-top: 10px;
}
/* line 1129, ../sass/style.scss */
.people-list .dropdown .dropdown-menu li a {
  padding: 3px 12px;
  white-space: normal;
}
/* line 1132, ../sass/style.scss */
.people-list .dropdown .dropdown-menu li a:hover {
  background-color: #cd5e26;
  color: #FFF;
}
/* line 1137, ../sass/style.scss */
.people-list .dropdown .dropdown-menu li.active a {
  background-color: #cd5e26;
  color: #FFF;
}
/* line 1143, ../sass/style.scss */
.people-list .pull-left {
  margin-right: 20px;
  height: 122px;
  overflow: hidden;
}
/* line 1147, ../sass/style.scss */
.people-list .media-body h3 {
  margin-top: 0;
}
/* line 1149, ../sass/style.scss */
.people-list ul.list-unstyled li {
  margin: 15px 0;
}

@media (max-width: 479px) {
  /* line 1157, ../sass/style.scss */
  .people-list .dropdown {
    position: relative;
    margin-left: 15px;
    top: auto;
  }
}
/* line 1166, ../sass/style.scss */
.people-detail .media.block-content {
  background-color: #f5f5f5;
}

/* line 1169, ../sass/style.scss */
.can-edit .people-summary p {
  margin-right: 50px;
}

/* line 1173, ../sass/style.scss */
.inst-frontpage {
  border: solid 1px #c6c6c6;
  border-radius: 4px;
}
/* line 1177, ../sass/style.scss */
.inst-frontpage > label {
  display: block;
  padding: 10px 15px;
  border-bottom: solid 1px #c6c6c6;
}

/* line 1184, ../sass/style.scss */
.btn-view {
  float: right;
  margin-top: 12px;
}

/* line 1195, ../sass/style.scss */
ul.nav-tabs li.active .caret {
  display: inline-block;
}

@media (min-width: 768px) {
  /* line 1199, ../sass/style.scss */
  ul.nav-tabs li .caret {
    display: none;
  }
}
/* line 1203, ../sass/style.scss */
ul.nav-tabs li.first .caret {
  border-bottom-color: #FFF;
}

/* line 1205, ../sass/style.scss */
#main {
  height: 140px;
  margin-top: -140px;
  width: 100%;
}

@media (max-width: 767px) {
  /* line 1212, ../sass/style.scss */
  #main {
    height: 87px;
    margin-top: -87px;
  }
}
/* line 1218, ../sass/style.scss */
.front-block-quote {
  display: table-cell;
  vertical-align: middle;
}

/* line 1223, ../sass/style.scss */
.front-highlight-statement {
  display: table;
  width: 100%;
  min-height: 320px;
}

/* line 1229, ../sass/style.scss */
.front-highlight-statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 1235, ../sass/style.scss */
.front-no-highlight-statement .meter img {
  height: 103px;
}

/* line 1239, ../sass/style.scss */
.polygraph-list .polygraph-list-block .quote {
  min-height: 140px;
}

/* line 1244, ../sass/style.scss */
td.quote {
  width: 40%;
}

/* line 1248, ../sass/style.scss */
.statement-detail img {
  max-width: 100%;
  height: auto !important;
}
