{% extends 'base_single.html' %}
{% load i18n %}

{% block title %}{% trans "Please log in" %}{% endblock %}

{% block content_class %} content-thin{% endblock %}

{% block breadcrumb %}
<li class="active">{% trans "Login" %}</li>
{% endblock %}

{% block content %}

<form class="form-normal" role="form" method="post">

    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="errors alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}

    <div class="controls">
        <input name="email" type="text" class="form-control first" placeholder="{% trans "Email address or Username" %}" value="{{ form.email.value|default_if_none:"" }}" autofocus>
        {% if form.email.errors %}
        <div class="errors alert alert-danger">{{ form.email.errors }}</div>
        {% endif %}

    </div>

    <div class="controls">
        <input name="password" type="password" class="form-control last" placeholder="{% trans "Password" %}" required>
        {% if form.password.errors %}
        <div class="errors alert alert-danger">{{ form.password.errors }}</div>
        {% endif %}
    </div>

    <div class="controls">
        <div class="checkbox-single">
            <input id="id_remember_me" type="checkbox" name="remember_me"{% if form.remember_me.value %} checked{%  endif %}>
            <label for="id_remember_me" class="checkbox">{% trans "Remember me" %}</label>
        </div>
    </div>
    <div class="form-action">
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Log in" %}</button>
    </div>

    <a href="{% url 'account_reset_password' %}">{% trans "Forgot password ?" %}</a>

</form>


{% endblock %}