{% extends 'base_single.html' %}
{% load i18n %}

{% block title %}{% trans "Forgot password" %}{% endblock %}

{% block content_class %} content-thin{% endblock %}

{% block breadcrumb %}
<li class="active">{% trans "Forgot password" %}</li>
{% endblock %}

{% block content %}

<form class="form-normal" role="form" method="post">

    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="errors alert alert-danger">{{ form.non_field_errors }}</div>
    {%  endif %}

    <div class="controls">
        <input name="email" type="email" class="form-control" placeholder="{% trans "Enter your email address" %}" value="{{ form.email.value|default_if_none:"" }}" required autofocus>
        {% if form.email.errors %}
        <div class="errors alert alert-danger">{{ form.email.errors }}</div>
        {% endif %}

    </div>

    <div class="form-action">
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Reset password" %}</button>
    </div>

    <a href="{% url 'account_login' %}">{% trans "‹ Back to log in" %}</a>

</form>

{% endblock %}