{% extends 'base_single.html' %}
{% load i18n %}

{% block content %}

<h1>{% trans "Forgot password" %}</h1>
<form role="form" method="post">

    {% csrf_token %}
    {% if form.non_field_errors %}
    {{ form.non_field_errors }}
    {%  endif %}

    <div class="controls">
        <input name="email" type="email" class="form-control" placeholder="{% trans "Enter your email address" %}" required autofocus>
        {% if form.email.errors %}
        <div class="errors">{{ form.email.errors }}</div>
        {% endif %}

    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Reset password" %}</button>

</form>

{% endblock %}