{% extends 'base_single.html' %}
{% load i18n %}

{% block content %}

<div class="region row">
	<section class="col-md-8" >
		<header>
			<h2><span class="dialog-ic-color"></span>Hilight statement</h2>
		</header>
		<article class="block">
			<section class="highlight-statement block-content">
				<header>
					<h3 class="hidden">statement</h3>
				</header>
				<blockquote>
					เป้าหมายสูงสุดของโครงการรับจำนำข้าว มิใช่คะแนนนิยมของรัฐบาล แต่คือการยกระดับและรักษาความมั่นคงของรายได้ 				เพื่อชีวิตความเป็นอยู่ที่ดีขึ้นของชาวนา เพื่ออนาคตที่ดีกว่าของลูกหลาน และเพื่อให้อาชีพปลูกข้าวให้คนกิน 				หมายถึงปลูกอนาคตตัวเองลงบนผืนแผ่นดิน โดยไม่กระทบกับวินัยทางการเงินของประเทศ
				</blockquote>
				<span class="triangle"></span>
			</section>
			<section class="who-said block-content">
				<header>
					<h3 class="hidden">Who's said??</h3>
				</header>
				<div class="people-profile col-lg-6 col-xs-6">
					<img src="/static/css/images/people-1-md.png" alt="yinglak avatar" />
					<h4><a href="/people/1">ยิ่งลักษณ์ ชินวัตร</a></h4>
					<p>นายกรัฐมนตรี</p>
				</div>
				<div class="meter col-lg-6 col-xs-6">
					<h4 class="hidden">false</h4>
					<img src="/static/css/images/false-md.png" alt="false image medium" />
				</div>
			</section>
		</article>
	</section >
	<section class="col-md-4 summary">
		<header>
			<h2>Summary</h2>
		</header>
		<div class="block">
			<ul class="block-content item-list row">
				<li class="item col-md-12 col-xs-6 first">
					<div class="item-inner row">
						<div class="col-md-3 col-xs-3 left">
							<img src="/static/css/images/true-sm.png" alt="true image small" />
						</div>
						<div class="col-md-9 col-xs-9 right">
							<div class="amount-wrapper">
								<h3>true</h3>
								<div class="amount-bar"><div class="amount"></div></div>
							</div>
							<div class="amount-num">
								<span class="text-large">6</span>คำพูด
							</div>
						</div>
					</div>
				</li>
				<li class="item col-md-12 col-xs-6">
					<div class="item-inner row">
						<div class="col-md-3 col-xs-3 left">
							<img src="/static/css/images/false-sm.png" alt="false image small" />
						</div>
						<div class="col-md-9 col-xs-9 right">
							<div class="amount-wrapper">
								<h3>false</h3>
								<div class="amount-bar"><div class="amount"></div></div>
							</div>
							<div class="amount-num">
								<span class="text-large">85</span>คำพูด
							</div>
						</div>
					</div>
				</li>
				<li class="item col-md-12 col-xs-6">
					<div class="item-inner row">
						<div class="col-md-3 col-xs-3 left">
							<img src="/static/css/images/tricky-sm.png" alt="tricky image small" />
						</div>
						<div class="col-md-9 col-xs-9 right">
							<div class="amount-wrapper">
								<h3>tricky</h3>
								<div class="amount-bar"><div class="amount"></div></div>
							</div>
							<div class="amount-num">
								<span class="text-large">105</span>คำพูด
							</div>
						</div>
					</div>
				</li>
				<li class="item col-md-12 col-xs-6 last">
					<div class="item-inner row">
						<div class="col-md-3 col-xs-3 left">
							<img src="/static/css//images/cant-prove-sm.png" alt="can not prove image small" />
						</div>
						<div class="col-md-9 col-xs-9 right">
							<div class="amount-wrapper">
								<h3>can't prove</h3>
								<div class="amount-bar"><div class="amount"></div></div>
							</div>
							<div class="amount-num">
								<span class="text-large">15</span>คำพูด
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
</div>
<div class="region row">
	<section class="polygraph-list col-md-12" >
		<header class="col-md-12">
			<h2><span class="dialog-ic-bw"></span>Polygraph</h2>
		</header>
		<div class="col-md-12">
			<ul class="nav nav-pills">
			  <li class="active"><a href="#">True</a></li>
			  <li><a href="#">False</a></li>
			  <li><a href="#">Tricky</a></li>
			  <li><a href="#">Can't Prove</a></li>
			</ul>
		</div>

		<article class="block col-md-12">
			<section class="block-content row">
				<header>
					<h3 class="hidden">Polygraph List</h3>
				</header>
				<div class="statement-list">
					<ul class="item-list col-sm-6 col-xs-12 ul-left">
						<li class="item first">
							<article class="item-inner">
								<div class="col-lg-12">
									<p class="text-brown"><a href="/people/3">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท 		ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม”</a></p>
									<div class="avatar">
										<img src="/static/css/images/people-3-sm.png" alt="suthep" />
										<a href="/people/3"><strong>สุเทพ เทือกสุบรรณ</strong></a>
									</div>
								</div>
							</article>
						</li>
						<li class="item">
							<article class="item-inner">
								<div class="col-lg-12">
									<p class="text-brown">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุก แทงโก้สะกอม”</p>
									<div class="avatar">
										<img src="/static/css/images/people-4-sm.png" alt="suthep" />
										<a href="/people/3"><strong>พ.ต.ท.ดร.ทักษิณ ชินวัตร</strong></a>
									</div>
								</div>
							</article>
						</li>
						<li class="item last">
							<article class="item-inner">
								<div class="col-lg-12">
									<p class="text-brown">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุก แทงโก้สะกอม”</p>
									<div class="avatar">
										<img src="/static/css/images/people-5-sm.png" alt="suthep" />
										<a href="/people/3"><strong>ชูวิทย์ กมลวิศิษฏ์</strong></a>
									</div>
								</div>
							</article>
						</li>
					</ul>
					<div class="hidden-xs text-center" style="position: absolute; top: 30px; left: 50%; margin-left: -100px;"><img src="/static/css/images/true-lg.png" alt="True image large" /></div>
					<ul class="item-list col-sm-6 col-xs-12 ul-right">
						<li class="item first">
							<article class="item-inner">
								<div class="col-lg-12">
									<p class="text-brown">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุก แทงโก้สะกอม”</p>
									<div class="avatar">
										<img src="/static/css/images/people-3-sm.png" alt="suthep" />
										<a href="/people/3"><strong>กำนันสุเทพ เทือกสุบรรณ</strong></a>
									</div>
								</div>
							</article>
						</li>
						<li class="item">
							<article class="item-inner">
								<div class="col-lg-12">
									<p class="text-brown">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุก แทงโก้สะกอม”</p>
									<div class="avatar">
										<img src="/static/css/images/people-3-sm.png" alt="suthep" />
										<a href="/people/3"><strong>กำนันสุเทพ เทือกสุบรรณ</strong></a>
									</div>
								</div>
							</article>
						</li>
						<li class="item last">
							<article class="item-inner">
								<div class="col-lg-12">
									<p class="text-brown">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุก แทงโก้สะกอม”</p>
									<div class="avatar">
										<img src="/static/css/images/people-3-sm.png" alt="suthep" />
										<a href="/people/3"><strong>กำนันสุเทพ เทือกสุบรรณ</strong></a>
									</div>
								</div>
							</article>
						</li>
					</ul>
					<div class="visible-xs hidden-640 text-right" style="position: absolute; top: 30px; right: 0;"><img src="/static/css/images/true-lg.png" alt="True image large" /></div>
				</div>
			</section>
		</article>

	</section >
</div>
<div class="region row">
	<section class="hilight-people col-lg-12">
		<header>
			<h2 class="hidden">Hilight People</h2>
		</header>
		<div class="block block-bg-transparent">
			<div class="block-content">
				<div class="left">
					<img src="/static/css/images/people-2-lg.png" alt="chalerm yuubamroong" />
				</div>
				<div class="right">
					<p class="lead">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุก แทงโก้สะกอม”</p>
					<div class="row">
						<div class="col-sm-6 col-xs-12">
							<a href="/people/1"><strong>รตอ. ดร.เฉลิม อยู่บำรุง</strong></a>
							<p>รัฐมนตรีว่าการกระทรวงแรงงาน</p>
						</div>
						<div class="col-sm-6 col-xs-12 align-right">
							<a href="/people/2" type="button" class="btn btn-default btn-color">ดู "คำพูด" ทั้งหมดของคนนี้ <span class="glyphicon glyphicon-chevron-right"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<div class="region row">
	<section class="col-md-8">
		<header>
			<h2>Statement</h2>
		</header>
		<div class="block statement-list">
			<ul class="block-content item-list">
				<li class="item first">
					<article class="item-inner">
						<div class="col-lg-8 col-md-7 col-sm-8 col-xs-7">
							<p class="text-brown"><a href="/people/3">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม”</a></p>
							<div class="avatar">
								<img src="/static/css/images/people-3-sm.png" alt="suthep" />
								<a href="/people/3"><strong>สุเทพ เทือกสุบรรณ</strong></a>
							</div>
						</div>
						<div class="meter-md col-lg-4 col-md-5 col-sm-4 col-xs-5 text-right">
							<img src="/static/css/images/false-md.png" alt="false image medium" />
						</div>
					</article>
				</li>
				<li class="item">
					<article class="item-inner">
						<div class="col-lg-8 col-md-7 col-sm-8 col-xs-7">
							<p class="text-brown">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุก แทงโก้สะกอม”</p>
							<div class="avatar">
								<img src="/static/css/images/people-4-sm.png" alt="suthep" />
								<a href="/people/3"><strong>พ.ต.ท.ดร.ทักษิณ ชินวัตร</strong></a>
							</div>
						</div>
						<div class="meter-md col-lg-4 col-md-5 col-sm-4 col-xs-5 text-right">
							<img src="/static/css/images/cant-prove-md.png" alt="false image medium" />
						</div>
					</article>
				</li>
				<li class="item">
					<article class="item-inner">
						<div class="col-lg-8 col-md-7 col-sm-8 col-xs-7">
							<p class="text-brown">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุก แทงโก้สะกอม”</p>
							<div class="avatar">
								<img src="/static/css/images/people-5-sm.png" alt="suthep" />
								<a href="/people/3"><strong>ชูวิทย์ กมลวิศิษฏ์</strong></a>
							</div>
						</div>
						<div class="meter-md col-lg-4 col-md-5 col-sm-4 col-xs-5 text-right">
							<img src="/static/css/images/true-md.png" alt="false image medium" />
						</div>
					</article>
				</li>
				<li class="item">
					<article class="item-inner">
						<div class="col-lg-8 col-md-7 col-sm-8 col-xs-7">
							<p class="text-brown">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุก แทงโก้สะกอม”</p>
							<div class="avatar">
								<img src="/static/css/images/people-3-sm.png" alt="suthep" />
								<a href="/people/3"><strong>กำนันสุเทพ เทือกสุบรรณ</strong></a>
							</div>
						</div>
						<div class="meter-md col-lg-4 col-md-5 col-sm-4 col-xs-5 text-right">
							<img src="/static/css/images/cant-prove-md.png" alt="false image medium" />
						</div>
					</article>
				</li>
				<li class="item last">
					<article class="item-inner">
						<div class="col-lg-8 col-md-7 col-sm-8 col-xs-7">
							<p class="text-brown">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุก แทงโก้สะกอม”</p>
							<div class="avatar">
								<img src="/static/css/images/people-3-sm.png" alt="suthep" />
								<a href="/people/3"><strong>กำนันสุเทพ เทือกสุบรรณ</strong></a>
							</div>
						</div>
						<div class="meter-md col-lg-4 col-md-5 col-sm-4 col-xs-5 text-right">
							<img src="/static/css/images/false-md.png" alt="false image medium" />
						</div>
					</article>
				</li>
			</ul>
		</div>
		<a href="/people/2" type="button" class="btn btn-default">ดู "คำพูด" ทั้งหมด <span class="glyphicon glyphicon-chevron-right"></span></a>
	</section>
	<section class="col-md-4">
		<header>
			<h2 class="hidden">Other Information</h2>
		</header>
		<aside>
			<header>
				<h2>Tags</h2>
			</header>
			<div class="tag-list">
				<a href="/" type="button" class="btn btn-default"><strong>จำนำข้าว</strong></a>
				<a href="/" type="button" class="btn btn-default"><strong>รฟม.</strong></a>
				<a href="/" type="button" class="btn btn-default"><strong>ธกส.</strong></a>
				<a href="/" type="button" class="btn btn-default"><strong>สหยูเนี่ยน</strong></a>
				<a href="/" type="button" class="btn btn-default"><strong>รถไฟความเร้วสูง</strong></a>
				<a href="/" type="button" class="btn btn-default"><strong>จำนำข้าว</strong></a>
				<a href="/" type="button" class="btn btn-default"><strong>รฟม.</strong></a>
				<a href="/" type="button" class="btn btn-default"><strong>ธกส.</strong></a>	
				<a href="/" type="button" class="btn btn-default"><strong>สหยูเนี่ยน</strong></a>
				<a href="/" type="button" class="btn btn-default"><strong>รถไฟความเร้วสูง</strong></a>
				<a href="/" type="button" class="btn btn-default"><strong>จำนำข้าว</strong></a>
				<a href="/" type="button" class="btn btn-default"><strong>รฟม.</strong></a>
				<a href="/" type="button" class="btn btn-default"><strong>ธกส.</strong></a>	
			</div>
		</aside>
		<aside>
			<header>
				<h2>Contact Us</h2>
			</header>
			<p class="border-bt">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนดป่าไม้สวีท ระโงกอ่อนด้อยอมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ <a href="mailto:webmaster@example.com">info@jabted.com</a> เตอร์ชะโนดป่าไม้สวีท ระโงกอ่อนด้อย</p>
		</aside>
		<aside>
			<header>
				<h2>Expain meter</h2>
			</header>
			<p>ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนดป่าไม้สวีท ระโงกอ่อนด้อยอมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ คอมพิวเตอร์ชะโนดป่าไม้สวีท ระโงกอ่อนด้อย</p>
			<ul class="item-list">
				<li>
					<div class="item-inner">
						<h3>True</h3>
						<p>สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนดป่าไม้สวีท ระโงกอ่อนด้อย</p>
					</div>
				</li>
				<li>
					<div class="item-inner">
						<h3>False</h3>
						<p>สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนดป่าไม้สวีท ระโงกอ่อนด้อย</p>
					</div>
				</li>
				<li>
					<div class="item-inner">
						<h3>Tricky</h3>
						<p>สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนดป่าไม้สวีท ระโงกอ่อนด้อย</p>
					</div>
				</li>
				<li>
					<div class="item-inner">
						<h3>Can't Prove</h3>
						<p>สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนดป่าไม้สวีท ระโงกอ่อนด้อย</p>
					</div>
				</li>
			</ul>
		</aside>
	</section>
</div>

{% endblock %}