{% extends 'base_single.html' %}
{% load i18n %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<article class="block-white col-md-8" >
			<header>
				<h2>Hilight statement</h2>
			</header>
			<blockqoute>
				เป้าหมายสูงสุดของโครงการรับจำนำข้าว มิใช่คะแนนนิยมของรัฐบาล แต่คือการยกระดับและรักษาความมั่นคงของรายได้ 		เพื่อชีวิตความเป็นอยู่ที่ดีขึ้นของชาวนา เพื่ออนาคตที่ดีกว่าของลูกหลาน และเพื่อให้อาชีพปลูกข้าวให้คนกิน 		หมายถึงปลูกอนาคตตัวเองลงบนผืนแผ่นดิน โดยไม่กระทบกับวินัยทางการเงินของประเทศ
			</blockqoute>
			<div class="who-said">
				<div>
					<h3>ยิ่งลักษณ์ ชินวัตร</h3>
					<p>นายกรัฐมนตรี</p>
					<img src="/static/css/images/people-1.png" alt="yinglak avatar" />
				</div>
				<div>
					<h3>false</h3>
					<img src="/static/css/images/false-md.png" alt="false image medium" />
				</div>
			</div>
		</article>
		<article class="block-white col-md-4" >
			<header>
				<h2>Summary</h2>
			</header>
			<div>
				<h3>true</h3>
				<img src="/static/css/images/true-sm.png" />
				<div class="amount-bar"><div class=""></div></div>
				<div class="amount-num">6<span>คำพูด</span</div>
			</div>
			<div>
				<h3>false</h3>
				<img src="/static/css/images/false-sm.png" />
				<div class="amount-bar"><div></div></div>
				<div class="amount-num">6<span>คำพูด</span</div>
			</div>
			<div>
				<h3>tricky</h3>
				<img src="/static/css/images/tricky-sm.png" />
				<div class="amount-bar"><div></div></div>
				<div class="amount-num">6<span>คำพูด</span</div>
			</div>
			<div>
				<h3>can not prove</h3>
				<img src="/static/css//images/cant-prove-sm.png" />
				<div class="amount-bar"><div></div></div>
				<div class="amount-num">6<span>คำพูด</span</div>
			</div>
		</article>
	</div>
</div>



{% endblock %}