{% extends 'base.html' %}
{% load i18n %}
{% load common_tags %}
{% load domain_tags %}

{% block base_content %}

<div class="container">

<div class="region row">

	<section class="col-md-8" >

        <header>
			<h2><span class="dialog-ic-color"></span>{% trans "Hilight statement" %}</h2>
		</header>
		<article class="block">

            {% if hilight_statement %}
			<section class="highlight-statement block-content">
				<header>
					<h3 class="hidden">{% trans "statement" %}</h3>
				</header>
				<div class="block-quote lead">
                    <a href="{% url 'statement_detail' hilight_statement.permalink %}">
                    {{ hilight_statement.quote }}
				</div>
				<span class="triangle"></span>
			</section>
			<section class="who-said block-content">
				<header>
					<h3 class="hidden">{% trans "Who's said??" %}</h3>
				</header>

    	        <div class="media col-lg-8 col-xs-8">
    	            <a class="pull-left" href="{% url 'people_detail' hilight_statement.quoted_by.permalink %}">
                        {% image_render hilight_statement.quoted_by.image '160x80' hilight_statement.quoted_by.get_full_name %}
    	            </a>
    	            <div class="media-body">
    	                <a href="{% url 'people_detail' hilight_statement.quoted_by.permalink %}" class="media-heading">{{ hilight_statement.quoted_by.get_full_name }}</a>
    	                <p>{{ hilight_statement.quoted_by.occupation }}</p>
    	            </div>
    	        </div>

				<div class="meter col-lg-4 col-xs-4">
					<h4 class="hidden">{{ hilight_statement.meter.title }}</h4>
					<figure>
                        {% image_render hilight_statement.meter.image_small_text '212x152' hilight_statement.meter.title %}
					</figure>
				</div>
			</section>

            {% else %}

            {% if user.is_authenticated %}
            <div class="text-center">
                <a class="btn btn-primary text-center" href="{% url 'statement_create' %}">
                    <span class="glyphicon glyphicon-pencil"></span> {% trans "Create Hilight Statement" %}
                </a>
            </div>
            {% else %}
            <div class="text-center">{% trans "No Hilight Statement" %}</div>
            {% endif %}

            {% endif %}

		</article>


	</section >

	<section class="col-md-4 summary">
		<header>
			<h2>Summary</h2>
		</header>
		<div class="block block-bg-transparent">
			<ul class="block-content item-list shuffle-bg row">
				<li class="item col-md-12 col-xs-6 first">
					<div class="item-inner row">
						<figure class="col-md-3 col-xs-3 left">
							<img src="/static/css/images/status-true-xs.png" alt="true image small" />
						</figure>
						<div class="col-md-9 col-xs-9 right">
							<div class="amount-wrapper">
								<h3>True</h3>
								<div class="amount-bar"><div class="amount"></div></div>
							</div>
							<div class="amount-num">
								<span class="text-large">6</span>คำพูด
							</div>
						</div>
					</div>
				</li>
				<li class="item col-md-12 col-xs-6">
					<div class="item-inner row">
						<figure class="col-md-3 col-xs-3 left">
							<img src="/static/css/images/status-lie-xs.png" alt="false image small" />
						</figure>
						<div class="col-md-9 col-xs-9 right">
							<div class="amount-wrapper">
								<h3>Lie</h3>
								<div class="amount-bar"><div class="amount"></div></div>
							</div>
							<div class="amount-num">
								<span class="text-large">85</span>คำพูด
							</div>
						</div>
					</div>
				</li>
				<li class="item col-md-12 col-xs-6">
					<div class="item-inner row">
						<figure class="col-md-3 col-xs-3 left">
							<img src="/static/css/images/status-half-truth-xs.png" alt="tricky image small" />
						</figure>
						<div class="col-md-9 col-xs-9 right">
							<div class="amount-wrapper">
								<h3>Half Truth</h3>
								<div class="amount-bar"><div class="amount"></div></div>
							</div>
							<div class="amount-num">
								<span class="text-large">105</span>คำพูด
							</div>
						</div>
					</div>
				</li>
				<li class="item col-md-12 col-xs-6 last">
					<div class="item-inner row">
						<figure class="col-md-3 col-xs-3 left">
							<img src="/static/css//images/status-unverifiable-xs.png" alt="can not prove image small" />
						</figure>
						<div class="col-md-9 col-xs-9 right">
							<div class="amount-wrapper">
								<h3>Unverifiable</h3>
								<div class="amount-bar"><div class="amount"></div></div>
							</div>
							<div class="amount-num">
								<span class="text-large">15</span>คำพูด
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
</div>
<div class="region row">
	<section class="polygraph-list col-md-12" >
		<header class="row">
			<div class="col-md-4">
				<h2><span class="dialog-ic-bw"></span>Polygraph</h2>
			</div>
			<div class="col-md-8 col-xs-12">
				<ul class="nav nav-tabs nav-pills nav-color full-width" role="tablist">
					<li class="first hidden-xs"><a href="#">Updated</a></li>
				  	<li class="hidden-xs active"><a href="#home" role="tab" data-toggle="tab">True</a><span class="caret"></span></li>
				  	<li class="hidden-xs"><a href="#profile" role="tab" data-toggle="tab">Lie</a></li>
				  	<li class="hidden-xs"><a href="#messages" role="tab" data-toggle="tab">Half Truth</a></li>
				  	<li class="last hidden-xs"><a href="#settings" role="tab" data-toggle="tab">Unverifiable</a></li>
					<li class="dropdown visible-xs">
        				<a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Updated <span class="caret"></span></a>
        				<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
        			  		<li class=""><a href="#updated-pane" tabindex="-1" role="tab" data-toggle="tab">Updated</a></li>
        			  		<li class=""><a href="#true-pane" tabindex="-1" role="tab" data-toggle="tab">True</a></li>
        			  		<li class=""><a href="#lie-pane" tabindex="-1" role="tab" data-toggle="tab">Lie</a></li>
        			  		<li class=""><a href="#half_truth-pane" tabindex="-1" role="tab" data-toggle="tab">Half Truth</a></li>
        			  		<li class=""><a href="#unverifiable-pane" tabindex="-1" role="tab" data-toggle="tab">Unverifiable</a></li>
        				</ul>
      				</li>
				</ul>				
			</div>
		</header>
		<div class="tab-content">
			<div class="tab-pane fade in active" id="updated-pane">
			</div>
			<div class="tab-pane fade" id="true-pane">
			</div>
			<div class="tab-pane fade" id="lie-pane">
			</div>
			<div class="tab-pane fade" id="half_truth-pane">
			</div>
			<div class="tab-pane fade" id="unverifiable-pane">
			</div>
		</div>	
		<section class="col-md-12">
			<header>
				<h3 class="hidden">Metor Description</h3>
			</header>
			<div class="row block block-bg-grey polygraph-list-before">
				<div class="block-content">
					<div class="col-lg-3 col-md-4 text-center">
						<h4 class="block-quote-alt">Unverifiable</h4>
					</div>
					<div class="col-lg-9 col-md-8 text-left desc">
						<span>Description :</span>
						<p>“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม ฮิแฟ็กซ์.</p>
					</div>
				</div>				
			</div>
			</section>
    		<section class="col-md-12">
			<header>
				<h3 class="hidden">Polygraph List Item</h3>
			</header>
    	    <article class="row block block-no-border polygraph-list-block new">
    	    	<span>New</span>
    	        <div class="block-content float-right-img col-lg-12">
    	            <p class="text-brown quote lead"><a href="/statement/i-want-to-ruin-the-world/">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม <strong>ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์</strong> ฟลุกแทงโก้สะกอม ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม”</a></p>
    	            <div class="media">
    	                <a class="pull-left" href="#">
    	                    <img class="media-object" src="/static/css/images/people-3-sm.png" alt="...">
    	                </a>
    	                <div class="media-body">
    	                    <a href="/" class="media-heading">สุเทพ เทือกสุบรรณ</a>
    	                </div>
    	            </div>
    	        </div>
    	        <div class="meter-md">
    	            <img src="/static/css/images/status-true-md.png" alt="false image large" />
    	        </div>
    	    </article>
    	    <article class="row block block-no-border polygraph-list-block new">
    	    	<span>New</span>
    	        <div class="block-content float-right-img col-lg-12">
    	            <p class="text-brown quote lead"><a href="/statement/detail/1">“<strong>ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์</strong> ฟลุกแทงโก้สะกอม ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม”</a></p>
    	            <div class="media">
    	                <a class="pull-left" href="#">
    	                    <img class="media-object" src="/static/css/images/people-3-sm.png" alt="...">
    	                </a>
    	                <div class="media-body">
    	                    <a href="/" class="media-heading">สุเทพ เทือกสุบรรณ</a>
    	                </div>
    	            </div>
    	        </div>
    	        <div class="meter-md">
    	            <img src="/static/css/images/status-lie-md.png" alt="false image large" />
    	        </div>
    	    </article>
    	    <article class="row block block-no-border polygraph-list-block updated">
    	    	<span>Updated</span>
    	        <div class="block-content float-right-img col-lg-12">
    	            <p class="text-brown quote lead"><a href="/statement/detail/1">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม <strong>ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์</strong> ฟลุกแทงโก้สะกอม ฮิแฟ็กซ์"</a></p>
    	            <div class="media">
    	                <a class="pull-left" href="#">
    	                    <img class="media-object" src="/static/css/images/people-3-sm.png" alt="...">
    	                </a>
    	                <div class="media-body">
    	                    <a href="/" class="media-heading">สุเทพ เทือกสุบรรณ</a>
    	                </div>
    	            </div>
    	        </div>
    	        <div class="meter-md">
    	            <img src="/static/css/images/status-half-truth-md.png" alt="false image large" />
    	        </div>
    	    </article>
    		</section>

		<a href="/people/2" class="btn btn-default">ดูคำพูด "จริง" ทั้งหมด <span class="glyphicon glyphicon-chevron-right"></span></a>
	</section>
</div>

<section class="region row">
		<header>
			<h2 class="hidden">Other Information</h2>
		</header>
		<aside class="col-md-8 pull-right">
			<header>
				<h2>Tags</h2>
			</header>
			<div class="tag-list">
				<a href="/" class="btn btn-default"><strong>จำนำข้าว</strong></a>
				<a href="/" class="btn btn-default"><strong>รฟม.</strong></a>
				<a href="/" class="btn btn-default"><strong>ธกส.</strong></a>
				<a href="/" class="btn btn-default"><strong>สหยูเนี่ยน</strong></a>
				<a href="/" class="btn btn-default"><strong>รถไฟความเร้วสูง</strong></a>
				<a href="/" class="btn btn-default"><strong>จำนำข้าว</strong></a>
				<a href="/" class="btn btn-default"><strong>รฟม.</strong></a>
				<a href="/" class="btn btn-default"><strong>ธกส.</strong></a>	
				<a href="/" class="btn btn-default"><strong>สหยูเนี่ยน</strong></a>
				<a href="/" class="btn btn-default"><strong>รถไฟความเร้วสูง</strong></a>
				<a href="/" class="btn btn-default"><strong>จำนำข้าว</strong></a>
				<a href="/" class="btn btn-default"><strong>รฟม.</strong></a>
				<a href="/" class="btn btn-default"><strong>ธกส.</strong></a>	
			</div>
		</aside>
		<aside class="col-md-4 pull-left">
			<header>
				<h2>Contact Us</h2>
			</header>
			<p>“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนดป่าไม้สวีท ระโงกอ่อนด้อยอมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ <a href="mailto:webmaster@example.com">info@jabted.com</a> เตอร์ชะโนดป่าไม้สวีท ระโงกอ่อนด้อย</p>
		</aside>
</section>

</div>
{% endblock %}