{% extends 'base.html' %}
{% load i18n %}
{% load common_tags %}
{% load domain_tags %}

{% block base_content %}

<div class="container">

<div class="region row">

    <section class="polygraph-list col-md-8" >

		<header class="row">

            <header class="col-md-12">
			    <h2></span>{% trans "Highlight statement" %}</h2>
		    </header>
			<div class="col-md-12 col-xs-12">
				<ul class="nav nav-tabs nav-pills nav-color full-width" role="tablist">
                    {% for meter, meter_statement in meter_statement_list %}
				  	<li class="hidden-xs{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
                        <a class="tabable" href="#meter-{{ meter.permalink }}" role="tab" data-toggle="tab">
                            {{ meter.title }}
                        </a>
                        <span class="caret"></span>
                    </li>
                    {% endfor %}

					<li class="dropdown visible-xs">
        				<a href="#" id="meter-tab-drop" class="dropdown-toggle" data-toggle="dropdown"><span class="text">{% trans "Latest" %}</span> <span class="caret"></span></a>
        				<ul class="dropdown-menu" role="menu" aria-labelledby="meter-tab-drop">
                            {% for meter, meter_statement in meter_statement_list %}
        			  		<li{% if forloop.first %} class="first"{% endif %}{% if forloop.last %} class="last"{% endif %}>
                                <a href="#meter-{{ meter.permalink }}" tabindex="-1" role="tab" data-toggle="tab">
                                    {{ meter.title }}
                                </a>
                            </li>
                            {% endfor %}
        				</ul>
      				</li>
				</ul>				
			</div>
		</header>
		<div class="tab-content">
            {% for meter, meter_statement in meter_statement_list %}
            <div class="tab-pane fade" id="meter-{{ meter.permalink }}">

                {% if meter.description %}
                <section class="col-md-12 col-no-padding">
                    <header>
                        <h3 class="hidden">{% trans "Meter Description" %}</h3>
                    </header>
                    <div class="block block-bg-grey polygraph-list-before">
                        <div class="block-content">
                            <div class="col-md-12 col-no-padding">
                                <div class="col-lg-4 col-md-4 text-center">
                                    <h4 class="block-quote-alt">{{ meter.title }}</h4>
                                </div>
                                <div class="col-lg-8 col-md-8 text-left desc">
                                    <span>{% trans "Description" %} :</span>
                                    {{ meter.description|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {% endif %}


                {% if meter_statement %}
                <section>
                    <header>
                        <h3 class="hidden">{% trans "Polygraph List Item" %}</h3>
                    </header>

                    {% for statement in meter_statement %}
                    {{ statement|statement_item:'wide' }}
                    {% endfor %}

                    <div class="read-more">

                        <a href="{% if meter.id %}{% url 'meter_detail' meter.permalink %}{% else %}{% url 'statement_list' %}{% endif %}" class="btn btn-default">
                            {% blocktrans with meter.title as meter_title %}See all {{ meter_title }} statements{% endblocktrans %}<span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>


                </section>
                {% else %}

                <section class="col-md-12">


                    <article class="row block block-no-border polygraph-list-block{% if statement.uptodate_status %} {{ statement.uptodate_status.code }}{% endif %}">
                        <div class="block-content float-right-img col-lg-12">
                            <div class="text-brown quote lead">


                                {% if user.is_authenticated %}
                                <a class="btn btn-primary text-center" href="{% url 'statement_create' %}">
                                    <span class="glyphicon glyphicon-pencil"></span> {% blocktrans with meter.title as meter_title %}Create {{ meter_title }} Statement{% endblocktrans %}
                                </a>
                                {% else %}
                                <p>{% blocktrans with meter.title as meter_title  %}No {{ meter_title }} Statement{% endblocktrans %}</p>
                                {% endif %}

                            </div>

                            <div class="media">
                                <span class="pull-left" href="#">
                                    {% image_render None '40x40' '-' %}
                                </span>
                            </div>
                        </div>
                        <div class="meter-md">
                            {% image_render meter.image_medium_text '225x200' meter.title %}
                        </div>

                    </article>


                </section>

                {% endif %}


			</div>
            {% endfor %}

		</div>	

    </section>

    <aside class="col-md-4">
        <div class="row">
            <section class="summary col-md-12">
                <header>
                    <h2>{% trans "Summary" %}</h2>
                </header>
                <div class="block">
                    {{ meter_statement_count|meter_count }}
                </div>
            </section>

            {% if people_list %}
            <section class="people-list">
                <header class="col-md-12">
                    <h2>{% trans "People" %}</h2>
                </header>
                <ul class="list-unstyled">
                    {% for people in people_list %}
                    <li class="col-xs-6 col-md-12">
                        {{ people|people_item }}
                    </li>
                    {% endfor %}
                </ul>
                <div class="col-md-12">
                    <a href="{% url 'people_list' %}" class="btn btn-default">{% trans "See all peoples" %} <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </section>
            {% endif %}
        </div>
    </aside>



</div>

<section class="region row">
		<header>
			<h2 class="hidden">{% trans "Other Information" %}</h2>
		</header>
		<aside class="col-md-8 pull-right">
			<header>
				<h2>{% trans "Tags" %}</h2>
			</header>
			<div class="tag-list">
                {% if tags_list %}
                {% for tags in tags_list %}
                <a href="{% url 'statement_tags_detail' tags.id %}" class="btn btn-default"><strong>{{ tags.name }}</strong></a>
                {% endfor %}
                {% else %}
                {% if user.is_authenticated %}
                <a href="{% url 'statement_create' %}" class="btn btn-default"><strong>{% trans "Create Statement with Tags" %}</strong></a>
                {% else %}
                <span class="btn btn-default"><strong>{% trans "No Tags" %}</strong></span>
                {% endif %}
                {% endif %}
			</div>
		</aside>
		<aside class="col-md-4 pull-left">
			<header>
				<h2>{% trans "Contact Us" %}</h2>
			</header>
            {{ contact_footer }}
		</aside>
</section>

</div>
{% endblock %}