{% extends 'base.html' %}
{% load i18n %}
{% load common_tags %}
{% load domain_tags %}

{% block base_content %}

<div class="container">

<div class="region row">

	<section class="col-md-8" >

        <header>
			<h2><span class="dialog-ic-color"></span>{% trans "Hilight statement" %}</h2>
		</header>
		<article class="block">

            {% if hilight_statement %}
			<section class="highlight-statement block-content">
				<header>
					<h3 class="hidden">{% trans "statement" %}</h3>
				</header>
				<div class="block-quote lead">
                    <a href="{% url 'statement_detail' hilight_statement.permalink %}">
                        {{ hilight_statement.quote }}
                    </a>
				</div>
				<span class="triangle"></span>
			</section>
			<section class="who-said block-content">
				<header>
					<h3 class="hidden">{% trans "Who's said??" %}</h3>
				</header>

    	        <div class="media col-lg-8 col-xs-8">
    	            <a class="pull-left" href="{% url 'people_detail' hilight_statement.quoted_by.permalink %}">
                        {% image_render hilight_statement.quoted_by.image '160x80' hilight_statement.quoted_by.get_full_name %}
    	            </a>
    	            <div class="media-body">
    	                <a href="{% url 'people_detail' hilight_statement.quoted_by.permalink %}" class="media-heading">{{ hilight_statement.quoted_by.get_full_name }}</a>
    	                <p>{{ hilight_statement.quoted_by.occupation }}</p>
    	            </div>
    	        </div>

				<div class="meter col-lg-4 col-xs-4">
					<h4 class="hidden">{{ hilight_statement.meter.title }}</h4>
					<figure>
                        {% image_render hilight_statement.meter.image_small_text '212x152' hilight_statement.meter.title %}
					</figure>
				</div>
			</section>

            {% else %}

            {% if user.is_authenticated %}
            <div class="text-center">
                <a class="btn btn-primary text-center" href="{% url 'statement_create' %}">
                    <span class="glyphicon glyphicon-pencil"></span> {% trans "Create Hilight Statement" %}
                </a>
            </div>
            {% else %}
            <div class="text-center">{% trans "No Hilight Statement" %}</div>
            {% endif %}

            {% endif %}

		</article>


	</section >

	<section class="col-md-4 summary">
		<header>
			<h2>{% trans "Summary" %}</h2>
		</header>
		<div class="block block-bg-transparent">
            {{ meter_statement_count|meter_count }}
		</div>
	</section>
</div>

<div class="region row">

    <section class="polygraph-list col-md-12" >

		<header class="row">
			<div class="col-md-4">
				<h2><span class="dialog-ic-bw"></span>{% trans "Polygraph" %}</h2>
			</div>
			<div class="col-md-8 col-xs-12">
				<ul class="nav nav-tabs nav-pills nav-color full-width" role="tablist">
                    {% for meter, meter_statement in meter_statement_list %}
				  	<li class="hidden-xs{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
                        <a class="tabable" href="#meter-{{ meter.permalink }}" role="tab" data-toggle="tab">
                            {{ meter.title }}
                        </a>
                        <span class="caret"></span>
                    </li>
                    {% endfor %}

					<li class="dropdown visible-xs">
        				<a href="#" id="meter-tab-drop" class="dropdown-toggle" data-toggle="dropdown">Updated <span class="caret"></span></a>
        				<ul class="dropdown-menu" role="menu" aria-labelledby="meter-tab-drop">
                            {% for meter, meter_statement in meter_statement_list %}
        			  		<li{% if forloop.first %} class="first"{% endif %}{% if forloop.last %} class="last"{% endif %}>
                                <a href="#meter-{{ meter.permalink }}" tabindex="-1" role="tab" data-toggle="tab">
                                    {{ meter.title }}
                                </a>
                            </li>
                            {% endfor %}
        				</ul>
      				</li>
				</ul>				
			</div>
		</header>
		<div class="tab-content">
            {% for meter, meter_statement in meter_statement_list %}
            <div class="tab-pane fade" id="meter-{{ meter.permalink }}">

                {% if meter.description %}
                <section class="col-md-12">
                    <header>
                        <h3 class="hidden">{% trans "Meter Description" %}</h3>
                    </header>
                    <div class="row block block-bg-grey polygraph-list-before">
                        <div class="block-content">
                            <div class="col-lg-3 col-md-4 text-center">
                                <h4 class="block-quote-alt">{{ meter.title }}</h4>
                            </div>
                            <div class="col-lg-9 col-md-8 text-left desc">
                                <span>{% trans "Description" %} :</span>
                                {{ meter.description }}
                            </div>
                        </div>
                    </div>
                </section>
                {% endif %}


                {% if meter_statement %}
                <section class="col-md-12">
                    <header>
                        <h3 class="hidden">{% trans "Polygraph List Item" %}</h3>
                    </header>

                    {% for statement in meter_statement %}
                    {{ statement|statement_item:'wide' }}
                    {% endfor %}

                    <a href="{% url 'meter_detail' meter.permalink %}" class="btn btn-default">
                        {% trans "See all" %} "{{ meter.title }}" {% trans "statements" %}<span class="glyphicon glyphicon-chevron-right"></span>
                    </a>


                </section>
                {% else %}

                <section class="col-md-12">

                    {% if user.is_authenticated %}
                    <div class="text-center">
                        <a class="btn btn-primary text-center" href="{% url 'statement_create' %}">
                            <span class="glyphicon glyphicon-pencil"></span> {% trans "Create" %} {{ meter.title }} {% trans "Statement" %}
                        </a>
                    </div>
                    {% else %}
                    <div class="text-center">{% trans "No" %} {{ meter.title }} {% trans "Statement" %}</div>
                    {% endif %}

                </section>

                {% endif %}


			</div>
            {% endfor %}

		</div>	



	</section>

</div>

<section class="region row">
		<header>
			<h2 class="hidden">{% trans "Other Information" %}</h2>
		</header>
		<aside class="col-md-8 pull-right">
			<header>
				<h2>{% trans "Tags" %}</h2>
			</header>
			<div class="tag-list">
                {% for tags in tags_list %}
                <a href="{% url 'tags_detail' tags.id %}" class="btn btn-default"><strong>{{ tags.name }}</strong></a>
                {% endfor %}
			</div>
		</aside>
		<aside class="col-md-4 pull-left">
			<header>
				<h2>{% trans "Contact Us" %}</h2>
			</header>
            {{ contact_footer }}
		</aside>
</section>

</div>
{% endblock %}