{% extends 'base_single.html' %}
{% load i18n %}
{% load common_tags %}
{% load domain_tags %}

{% block title %}{% trans "Polygraph" %}{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'meter_detail_default' %}">{% trans "Polygraph" %}</a></li>
<li class="active">{{ request_meter.title }}</li>
{% endblock %}


{% block content %}

<div class="row">
    <section class="polygraph-list single col-md-12">

		<header class="row">
			<div class="col-md-4 hidden">
				<h2 class="hidden"><span class="dialog-ic-bw"></span>{% trans "Polygraph" %}</h2>
			</div>
			<div class="col-xs-8 pull-right">
				<ul class="nav nav-pills nav-color full-width" role="tablist">

                    {% for meter in meter_list %}
				  	<li class="hidden-xs{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}{% if meter == request_meter %} active{% endif %}">
                        <a href="{% url 'meter_detail' meter.permalink %}">
                            {{ meter.title }}
                        </a>
                    </li>
                    {% endfor %}

					<li class="dropdown visible-xs">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request_meter.title }} <span class="caret"></span></a>
        				<ul class="dropdown-menu" role="menu" aria-labelledby="meter-tab-drop">

                            {% for meter in meter_list %}
        			  		<li class="{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}{% if meter == request_meter %} active{% endif %}">
                                <a href="{% url 'meter_detail' meter.permalink %}" tabindex="-1">
                                    {{ meter.title }}
                                </a>
                            </li>
                            {% endfor %}
                            
        				</ul>
      				</li>
				</ul>				
			</div>
		</header>


        <div class="row">
            <div class="col-md-12">

                <header>
                        <h3 class="hidden">{% trans "Meter Description" %}</h3>
                    </header>
                    <div class="block block-bg-grey polygraph-list-before">
                        <div class="block-content">
                            <div class="col-md-12 col-no-padding">
                                <div class="col-lg-8 col-md-8 col-xs-8 text-left meter-title">
                                    <h4 class="block-quote-alt">{{ request_meter.title }}</h4>
                                </div><div class="row">
                                <div class="col-lg-8 col-md-8 col-xs-7 text-left desc">
                                    <span>{% trans "Description" %} :</span>
                                    {{ request_meter.description|safe }}
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-5 text-right pull-right meter-image">
                                    <figure>
                                        {% image_render request_meter.image_large_text '300x329' request_meter.title %}
                                    </figure>
                                </div></div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8">

                    <div id="main"></div>
                    <header>
                        <h3>{% blocktrans with request_meter.title as meter_title %}All {{ meter_title }} Statements{% endblocktrans %}</h3>
                    </header>



                    {% for statement in statement_list %}
                    {{ statement|statement_item:'wide' }}
                    {% endfor %}

            </div>
            <div class="col-md-4">

                <header>
                        <h3>{% trans "People" %}</h3>
                    </header>
                    {% if people_list %}
                    <ul class="list-unstyled row">
                        {% for people in people_list %}
                        <li class="col-xs-6 col-md-12">
                            {{ people|people_item }}
                        </li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'people_list' %}" class="btn btn-default">{% trans "See all peoples" %} <span class="glyphicon glyphicon-chevron-right"></span></a>
                    {% else %}
                    {% if user.is_authenticated %}
                    <div class="text-center">
                        <a class="btn btn-primary text-center" href="{% url 'people_create' %}">
                            <span class="glyphicon glyphicon-pencil"></span> {% trans "Create People" %}
                        </a>
                    </div>
                    {% else %}
                    <div class="text-center">{% trans "No People" %}</div>
                    {% endif %}
                    {% endif %}

            </div>
        </div>

	</section>

</div>

{% if statement_list.paginator.page_range|length > 1 %}
<ul class="pagination">

    {% if statement_list.has_previous %}
    <li><a href="?page={{ statement_list.paginator.page_range|first }}">&laquo;</a></li>
    <li><a href="?page={{ statement_list.previous_page_number }}">‹</a></li>
    {% endif %}

    {% for page_num in statement_list.paginator.page_range %}
    {% if page_num <= statement_list.number|add:"2" and page_num >= statement_list.number|add:"-2" %}
    <li{% if page_num == statement_list.number %} class="active"{% endif %}><a href="?page={{ page_num }}">{{ page_num }}</a></li>
    {% endif %}
    {% endfor %}

    {% if statement_list.has_next %}
    <li><a href="?page={{ statement_list.next_page_number }}">›</a></li>
    <li><a href="?page={{ statement_list.paginator.page_range|last }}">&raquo;</a></li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}