{% extends 'base_single.html' %}
{% load i18n %}
{% load common_tags %}
{% load domain_tags %}

{% block title %}{% trans "Polygraph" %}{% endblock %}

{% block content %}

<div class="row">
    <section class="polygraph-list single col-md-12">

		<header class="row">
			<div class="col-md-4 hidden">
				<h2 class="hidden"><span class="dialog-ic-bw"></span>{% trans "Polygraph" %}</h2>
			</div>
			<div class="col-md-8 col-xs-12 pull-right">
				<ul class="nav nav-pills nav-color full-width" role="tablist">

                    {% for meter in meter_list %}
				  	<li class="hidden-xs{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}{% if meter == request_meter %} active{% endif %}">
                        <a href="{% url 'meter_detail' meter.permalink %}">
                            {{ meter.title }}
                        </a>
                    </li>
                    {% endfor %}

					<li class="dropdown visible-xs">
        				<a href="#" id="meter-tab-drop" class="dropdown-toggle" data-toggle="dropdown">{{ request_meter.title }} <span class="caret"></span></a>
        				<ul class="dropdown-menu" role="menu" aria-labelledby="meter-tab-drop">

                            {% for meter in meter_list %}
        			  		<li class="{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}{% if meter == request_meter %} active{% endif %}">
                                <a href="{% url 'meter_detail' meter.permalink %}" tabindex="-1">
                                    {{ meter.title }}
                                </a>
                            </li>
                            {% endfor %}
                            
        				</ul>
      				</li>
				</ul>				
			</div>
		</header>
		<div class="tab-content">
            
            <div class="tab-pane active" id="meter-latest">

				<section class="col-md-12 col-no-padding">
                    <header>
                        <h3 class="hidden">Meter Description</h3>
                    </header>
                    <div class="block block-bg-grey polygraph-list-before">
                        <div class="block-content">
                            <div class="col-md-12 col-no-padding">
                                <div class="col-lg-8 col-md-8 col-xs-12 text-left">
                                    <h4 class="block-quote-alt">Truth</h4>
                                </div>
                                <div class="col-lg-4 col-md-4 text-right pull-right">
                                    <figure>
                                    	<img src="/static/images/default_meters/status-truth---large-text.png" alt="..." />
                                    </figure>
                                </div>
                                <div class="col-lg-8 col-md-8 col-xs-12 text-left desc">
                                    <span>Description :</span>
                                    This is truth description. Please, edit me on the admin site.
                                </div>

                            </div>
                        </div>
                    </div>
                </section>

                <section class="col-md-12">
                    <header>
                        <h3 class="hidden">Polygraph List Item</h3>
                    </header>

					<article class="row block block-no-border polygraph-list-block new">    
					    <div class="block-content float-right-img col-lg-12">
					        <span>New</span>
					        <div class="text-brown quote lead">
					            <a href="/statement/dafc490a0/">
					                ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม ฮิแฟ็กซ์ dafc4a4a0
					            </a>
					        </div>
					        <div class="media">
					            <a class="pull-left" href="#">
					                <img src="/media/cache/c2/ea/c2ea3b5b9b8647d6e5e522f84442f594.png" width="40" height="40" alt="d9b43a610 d9b43af80">
					            </a>
					            <div class="media-body">
					                <a href="/people/d9b439170/" class="media-heading">d9b43a610 d9b43af80</a>
					            </div>
					        </div>
					    </div>
					    <div class="meter-md">
					        <img src="/media/cache/0d/87/0d8713a5e4b9b9e117ea63a9f6aab54e.png" width="214" height="195" alt="Unverifiable">
					    </div>
					</article>

					<article class="row block block-no-border polygraph-list-block updated">    
					    <div class="block-content float-right-img col-lg-12">
					        <span>Updated</span>
					        <div class="text-brown quote lead">
					            <a href="/statement/da5b10450/">
					                ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม ฮิแฟ็กซ์ da5b118c0
					            </a>
					        </div>
					        <div class="media">
					            <a class="pull-left" href="#">
					                <img src="/media/cache/c2/ea/c2ea3b5b9b8647d6e5e522f84442f594.png" width="40" height="40" alt="d9e6f7050 d9e6f7a30">
					            </a>
					            <div class="media-body">
					                <a href="/people/d9e6f5a60/" class="media-heading">d9e6f7050 d9e6f7a30</a>
					            </div>
					        </div>
					    </div>
					    <div class="meter-md">
					        <img src="/media/cache/0a/cc/0acce878a8fa68265390f0357f313565.png" width="225" height="197" alt="Half True">
					    </div>
					</article>
                    
					<article class="row block block-no-border polygraph-list-block">    
					    <div class="block-content float-right-img col-lg-12">
					        
					        <div class="text-brown quote lead">
					            <a href="/statement/da57bb910/">
					                ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม ฮิแฟ็กซ์ da57bd0c0
					            </a>
					        </div>
					        <div class="media">
					            <a class="pull-left" href="#">
					                <img src="/media/cache/c2/ea/c2ea3b5b9b8647d6e5e522f84442f594.png" width="40" height="40" alt="d9ce93300 d9ce93cf0">
					            </a>
					            <div class="media-body">
					                <a href="/people/d9ce91d10/" class="media-heading">d9ce93300 d9ce93cf0</a>
					            </div>
					        </div>
					    </div>
					    <div class="meter-md">
					        <img src="/media/cache/ef/e4/efe4ba7825325d942b0190ea59e0819d.png" width="215" height="191" alt="Lie">
					    </div>
					</article>

					<article class="row block block-no-border polygraph-list-block">    
					    <div class="block-content float-right-img col-lg-12">
					        
					        <div class="text-brown quote lead">
					            <a href="/statement/d9eab1e30/">
					                ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม ฮิแฟ็กซ์ d9eab38a0
					            </a>
					        </div>
					        <div class="media">
					            <a class="pull-left" href="#">
					                <img src="/media/cache/c2/ea/c2ea3b5b9b8647d6e5e522f84442f594.png" width="40" height="40" alt="d9e6f7050 d9e6f7a30">
					            </a>
					            <div class="media-body">
					                <a href="/people/d9e6f5a60/" class="media-heading">d9e6f7050 d9e6f7a30</a>
					            </div>
					        </div>
					    </div>
					    <div class="meter-md">
					        <img src="/media/cache/0a/cc/0acce878a8fa68265390f0357f313565.png" width="225" height="197" alt="Half True">
					    </div>
					</article>

                </section>

			</div>
        </div>    

	</section>

</div>

<ul class="pagination">
	<li class="active"><a href="?page=1">1</a></li>
   	<li><a href="?page=2">2</a></li>
    <li><a href="?page=3">3</a></li>
    <li><a href="?page=2">›</a></li>
    <li><a href="?page=4">»</a></li>
</ul>

{% endblock %}