{% extends 'base_sidebar.html' %}
{% load i18n %}
{% load common_tags %}
{% load domain_tags %}

{% block title %}{{ people.get_full_name }}{% endblock %}

{% block content %}

    <div>

        <section class="people-detail">
            <header>
                <h3 class="hidden">{% trans "People Detail" %}</h3>
            </header>
            <div class="block block-no-border">
				<div class="media block-content">

                    {% if user.is_staff or user == people.created_by %}
                    <div class="staff-link-wrapper">
                        <ul>
                            <li>
                                <a href="{% url 'people_edit' people.id %}" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-edit"></span> {% trans "Edit" %}
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% endif %}

                    <span class="pull-left">
                        {% image_render people.image '120x120' people.get_full_name %}
                    </span>

                    <div class="media-body">
                    	<p>{{ people.summary|safe|default:people.occupation }}</p>
    	            </div>
    	    	</div>
                {% if people.description|safe %}
				<div class="block-content">
                    {{ people.description|safe }}
    	    	</div>
                {% endif %}
            </div>
        </section>

        {% if statement_list %}
        <section class="polygraph-list statement-list" id="main">
            <section class="col-md-12">
                <header class="row">
                    <h3>{% trans "Statement related or said by" %} {{ people.get_short_name }}</h3>
                </header>
                {% for statement in statement_list %}
                {{ statement|statement_item }}
                {% endfor %}

            </section>
        </section>
        {% endif %}



        {% if statement_list.paginator.page_range|length > 1 %}
        <ul class="pagination">

            {% if statement_list.has_previous %}
            <li><a href="?page={{ statement_list.paginator.page_range|first }}">&laquo;</a></li>
            <li><a href="?page={{ statement_list.previous_page_number }}">‹</a></li>
            {% endif %}

            {% for page_num in statement_list.paginator.page_range %}
            {% if page_num <= statement_list.number|add:"2" and page_num >= statement_list.number|add:"-2" %}
            <li{% if page_num == statement_list.number %} class="active"{% endif %}><a href="?page={{ page_num }}">{{ page_num }}</a></li>
            {% endif %}
            {% endfor %}

            {% if statement_list.has_next %}
            <li><a href="?page={{ statement_list.next_page_number }}">›</a></li>
            <li><a href="?page={{ statement_list.paginator.page_range|last }}">&raquo;</a></li>
            {% endif %}
        </ul>
        {% endif %}


    </div>

{% endblock %}

{% block sidebar %}

	<div class="row">
		<section class="col-md-12 summary">
			<header>
				<h2>{% trans "Summary" %}</h2>
			</header>
			<div class="block block-bg-transparent">
                {{ meter_statement_count|meter_count }}
			</div>
		</section>
	</div>

{% endblock %}