{% extends 'base_single.html' %}
{% load i18n %}
{% load common_tags %}
{% load domain_tags %}

{% block title %}{% trans "People" %}{% endblock %}

{% block breadcrumb %}
<li class="active">{% trans "People" %}</li>
{% endblock %}

{% block content %}

	<div class="row people-list">

        {% if category_list %}
		<div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            {% if request_category %}
            {{ request_category.title }}
            {% else %}
            {% trans "All" %}
            {% endif %}
            <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"{% if not request_category %} class="active"{% endif %}><a role="menuitem" tabindex="-1" href="{% url 'people_list' %}">{% trans "All" %}</a></li>
                {% for category in category_list %}
                <li role="presentation"{% if category.permalink == request_category.permalink %} class="active"{% endif %}><a role="menuitem" tabindex="-1" href="{% url 'people_list' %}?category={{ category.permalink }}">{{ category.title }}</a></li>
                {% endfor %}
            </ul>
		</div>
        {% endif %}

        {% if people_list %}
        <ul class="list-unstyled">
            {% for people in people_list %}
   			<li class="col-xs-12 col-md-6">
                {{ people|people_item }}
			</li>
            {% endfor %}
        </ul>
        {% else %}
        {% if user.is_authenticated %}
        <div class="text-center">
            <a class="btn btn-primary text-center" href="{% url 'people_create' %}">
                <span class="glyphicon glyphicon-pencil"></span> {% trans "Create People" %}
            </a>
        </div>
        {% else %}
        <div class="text-center">{% trans "No People" %}</div>
        {% endif %}
        {% endif %}


	</div>


    {% if people_list.paginator.page_range|length > 1 %}
    <ul class="pagination">

        {% if people_list.has_previous %}
        <li><a href="?page={{ people_list.paginator.page_range|first }}">&laquo;</a></li>
        <li><a href="?page={{ people_list.previous_page_number }}">‹</a></li>
        {% endif %}

        {% for page_num in people_list.paginator.page_range %}
        {% if page_num <= people_list.number|add:"2" and page_num >= people_list.number|add:"-2" %}
        <li{% if page_num == people_list.number %} class="active"{% endif %}><a href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endif %}
        {% endfor %}

        {% if people_list.has_next %}
        <li><a href="?page={{ people_list.next_page_number }}">›</a></li>
        <li><a href="?page={{ people_list.paginator.page_range|last }}">&raquo;</a></li>
        {% endif %}
    </ul>
    {% endif %}

{% endblock %}