{% extends 'base_single.html' %}
{% load i18n %}
{% load common_tags %}

{% block title %}{% trans "People List" %}{% endblock %}

{% block content %}


	<div class="row people-list">

		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
		    All
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Politician</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Goverment Officer</a></li>
		    <li role="presentation" class="active"><a role="menuitem" tabindex="-1" href="#">Citizen</a></li>
		  </ul>
		</div>


        {% if people_list %}
        <ul class="list-unstyled">
            {% for people in people_list %}
   			<li class="col-xs-12 col-md-6">
				<div class="block block-no-border">
    	            <div class="media block-content">
    	                <a class="pull-left" href="{% url 'people_detail' people.permalink %}">
                            {% image_render people.image '122x122' people.get_full_name %}
    	                </a>
    	                <div class="media-body">
    	                    <h3><a href="{% url 'people_detail' people.permalink %}" class="media-heading">{{ people.get_full_name }}</a></h3>
    	                    <p>{{ people.occupation }}<p>
    	                </div>
    	            </div>
				</div>
			</li>
            {% endfor %}
        </ul>
        {% else %}
        {% if user.is_authenticated %}
        <div class="text-center">
            <a class="btn btn-primary text-center" href="{% url 'people_create' %}">
                <span class="glyphicon glyphicon-pencil"></span> {% trans "Create People" %}
            </a>
        </div>
        {% else %}
        <div class="text-center">{% trans "No People" %}</div>
        {% endif %}
        {% endif %}


	</div>
	<ul class="pagination">
		<li class="active"><a href="?page=1">1</a></li>
		<li><a href="?page=2">2</a></li>
		<li><a href="?page=3">3</a></li>
		<li><a href="?page=2">›</a></li>
        <li><a href="?page=4">»</a></li>
    </ul>

{% endblock %}