{% load common_tags %}
<div class="people-item block">
    <div class="media">
        <a      class="people-item-image"
                href="{% url 'people_detail' people.permalink %}"
                style="background-image: url('{% image_render people.image '600x250' people.get_full_name 'center' 1 %}')"
        >
            {% if people.uptodate_status %}<span class="people-status">{{ people.uptodate_status.text }}</span>{% endif %}


        </a>
        <div class="media-body">
            <h3><a href="{% url 'people_detail' people.permalink %}" class="media-heading lead">{{ people.get_full_name }}</a></h3>
            <p>{{ people.occupation }}&nbsp;</p>
        </div>
    </div>
    <div class="people-meter-count">
        <ul>
            {% for meter, count in people.meter_statement_count %}
            <li>
                <div class="meter-wrapper">
                    <div class="meter-inner">
                        <div class="meter-title">{{ meter.title }}</div>
                        <div class="meter-count"><strong>{{ count }}</strong></div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>