{% extends 'base_sidebar.html' %}
{% load i18n %}
{% load common_tags %}
{% load domain_tags %}

{% block title %}
{% trans "Statements" %}
{% if request_tags %}
<span class="active btn btn-default"><strong>{{ request_tags.name }}</strong></span>
{% endif %}
{% endblock %}

{% block breadcrumb %}
<li class="active">{% trans "Statements" %}</li>
{% endblock %}

{% block content %}

    <div>
        <section class="polygraph-list statement-list">
            <section class="col-md-12">
                <header>
                    <h3 class="hidden">{% trans "Polygraph List Item" %}</h3>
                </header>
                {% if statement_list %}
                {% for statement in statement_list %}
                {{ statement|statement_item }}
                {% endfor %}
                {% else %}
                {% if user.is_authenticated %}
                <div class="text-center">
                    <a class="btn btn-primary text-center" href="{% url 'statement_create' %}">
                        <span class="glyphicon glyphicon-pencil"></span> {% trans "Create Statement" %}
                    </a>
                </div>
                {% else %}
                <div class="text-center">{% trans "No Statement" %}</div>
                {% endif %}
                {% endif %}

            </section>
        </section>
    </div>


    {% if statement_list.paginator.page_range|length > 1 %}
    <ul class="pagination">

        {% if statement_list.has_previous %}
        <li><a href="?page={{ statement_list.paginator.page_range|first }}">&laquo;</a></li>
        <li><a href="?page={{ statement_list.previous_page_number }}">‹</a></li>
        {% endif %}

        {% for page_num in statement_list.paginator.page_range %}
        {% if page_num <= statement_list.number|add:"2" and page_num >= statement_list.number|add:"-2" %}
        <li{% if page_num == statement_list.number %} class="active"{% endif %}><a href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endif %}
        {% endfor %}

        {% if statement_list.has_next %}
        <li><a href="?page={{ statement_list.next_page_number }}">›</a></li>
        <li><a href="?page={{ statement_list.paginator.page_range|last }}">&raquo;</a></li>
        {% endif %}
    </ul>
    {% endif %}

{% endblock %}

{% block sidebar %}

    {% if tags_list.count %}
    <section>
        <header>
            <h2>{% trans "Tags" %}</h2>
        </header>
        <div class="tag-list">
            {% for tags in tags_list %}
            <a href="{% url 'statement_tags_detail' tags.id %}" class="btn btn-default{% if request_tags == tags %} active{% endif %}"><strong>{{ tags.name }}</strong></a>
            {% endfor %}
        </div>
    </section>
    {% endif %}

    {% if meter_list.count %}
    <section class="filter-by-status">
        <header>
            <h2>{% trans "View By Status" %}</h2>
        </header>
        <div class="block">
            <ul class="media-list item-list block-content row">
                {% for meter in meter_list %}
                <li class="media">
                    <div class="item-inner">
                        <a class="pull-left" href="{% url 'meter_detail' meter.permalink %}">
                            {% image_render meter.image_small '87x105' meter.title %}
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">{{ meter.title }}</h3>
                            <a href="{% url 'meter_detail' meter.permalink %}">{% trans "See all" %} "{{ meter.title }}" {% trans "statements" %}</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    {% endif %}

{% endblock %}