{% extends 'base_sidebar.html' %}
{% load i18n %}
{% load humanize %}
{% load activelink %}
{% load common_tags %}
{% load domain_tags %}

{% block title %}{% trans "Statement" %}{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'statement_list' %}">{% trans "Statements" %}</a></li>
<li class="active">{{ statement.quote|truncatewords_html:10|safe }}</li>
{% endblock %}

{% block title_share %}{{ SITE_NAME }}: {{ statement.quoted_by.get_full_name }}{% endblock %}
{% block description %}{{ statement.short_detail|striptags }}{% endblock %}

{% comment %}
{% block image %}
<meta property="og:image" content="{{ BASE_URL }}{{ meter_image.url }}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="{{ meter_image.width }}">
<meta property="og:image:height" content="{{ meter_image.height }}">
{% endblock %}
{% endcomment %}

{% comment %}
{% block image %}
<meta property="og:image" content="{{ BASE_URL }}{{ people_image.url }}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="{{ people_image.width }}">
<meta property="og:image:height" content="{{ people_image.height }}">
{% endblock %}
{% endcomment %}

{% block image %}
<meta property="og:image" content="{{ card_image }}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="{{ card_width }}">
{% endblock %}

{% block content %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=329052743941674&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <article class="block">
        <section class="no-border">
            {{ statement|statement_item_no_link:user }}
        </section>
        <section class="statement-meta block-content">
            <header>
                <h3 class="hidden">{% trans "Meta Statement" %}</h3>
            </header>

            <div class="share-btn pull-left">
                <div class="fb-share-button" data-href="{% url 'statement_detail' statement.permalink %}" data-type="button_count"></div>
                <a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
            </div>
            <div class="views-count pull-right"><span>{{ statement.total_views|intcomma }}</span> {% trans "Views" %}</div>
        </section>
        <section class="statement-detail block-content">
                <header>
                    <h2 class="hidden">{% trans "Statement Detail" %}</h2>
                </header>

                <div class="latest-update">{% trans "Latest update on" %} {{ statement.changed|format_abbr_date }}</div>

                {{ statement.short_detail|safe }}
                <p>&nbsp;</p>

                {{ topic.description|safe }}

                {% if display_statement_revisions and statement.topic.topicrevision_set.all.count > 1 %}
                <p>&nbsp;</p>
                <section>
                    <header><h4>{% trans "Update" %}</h4></header>
                    <ul id="topicrevision-update-list" class="item-list load-more-inline-wrapper">

                        {% for topicrevision in statement.topic.topicrevision_set.all %}
                        <li class="item{% if topicrevision.id == topic.id %} current-revision active{% endif %}">
                            <div class="item-inner">
                                <div><time>{{ topicrevision.created|format_abbr_date }}</time></div>

                                <a{% if topicrevision.id == topic.id %} class="active"{% endif %} href="{% url 'statement_topicrevision_detail' statement.permalink topicrevision.id %}">
                                    {{ topicrevision.title }}
                                </a>
                                {% if topicrevision.id == topic.id %}
                                    <span class="glyphicon glyphicon-hand-left current-revision-icon"></span>
                                {% endif %}

                            </div>
                        </li>
                        {% endfor %}

                    </ul>
                    <div class="load-more">
                        <a class="load-more-inline" href="#topicrevision-update-list">+ {% trans "See all update" %}</a>
                    </div>
                </section>
                {% endif %}

        </section>
    </article>

    {% if statement.relate_statements.all.count %}
    <section class="related-statement">
        <header>
            <h2>{% trans "Related Statement" %}</h2>
        </header>
        <div class="row">
            {% for relate_statement in statement.relate_statements.all %}
            <article class="col-md-6">
                <div class="block block-bg-color">
                    <a href="{% url 'statement_detail' relate_statement.permalink %}">"{{ relate_statement.quote|striptags|safe }}"</a>
                </div>
                <div class="media">
                    <a class="pull-left" href="{% url 'people_detail' relate_statement.quoted_by.permalink %}">
                        {% image_render relate_statement.quoted_by.image '52x52' relate_statement.quoted_by.get_full_name %}
                    </a>
                    <div class="media-body">
                        <a href="{% url 'statement_detail' relate_statement.permalink %}" class="media-heading">{{ relate_statement.quoted_by.get_full_name }}</a>
                    </div>
                </div>
            </article>
            {% endfor %}
      </div>
    </section>
    {% endif %}

{% endblock %}

{% block sidebar %}

    <section class="about-statement">
        <header>
            <h2>{% trans "About Statement" %}</h2>
        </header>

        {% if statement.topic or statement.references %}
        <div class="block">
            <div class="block-content">
                {% if topic %}
                <h3>{% trans "Topic" %}</h3>
                <p>{{ topic.title }}</p>
                {% endif  %}

                {% if statement.references %}
                <h3>{% trans "References" %}</h3>
                <ul class="item-list icon-list block-content row">
                    {% for reference in statement.references %}
                    <li>
                        <div class="item-inner no-border-bottom">
                            <span class="glyphicon glyphicon-link margin-right text-brown"></span><a href="{{ reference.url }}" target="_blank">{% if reference.title %}{{ reference.title }}{% else %}{{ reference.url }}{% endif %}</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        {% endif %}

    </section>

    {% if statement.tag_set.all.count %}
    <section>
        <header>
            <h2>{% trans "Tags" %}</h2>
        </header>
        <div class="tag-list">

            {% for tag in statement.tag_set.all %}
            <a href="{% url 'statement_tags_detail' tag.id %}" type="button" class="btn btn-default"><strong>{{ tag.name }}</strong></a>
            {% endfor %}

        </div>
    </section>
    {% endif %}

    {% if meter_list.count %}
    <section class="filter-by-status">
        <header>
            <h2>{% trans "View By Status" %}</h2>
        </header>
        <div class="block">
            <ul class="media-list item-list block-content row">
                {% for meter in meter_list %}
                <li class="media">
                    <a href="{% url 'meter_detail' meter.permalink %}" class="item-inner">
                        <span class="pull-left">
                            {% image_render meter.image_small '65x90' meter.title %}
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading">{{ meter.title }}</h3>
                            <span>{% blocktrans with meter.title as meter_title %}See all {{ meter_title }} statements{% endblocktrans %}</span>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    {% endif %}

{% endblock %}
