{% load common_tags %}
<article class="row block block-no-border polygraph-list-block {% if statement.uptodate_status %} {{ statement.uptodate_status.code }}{% endif %}">
    {% if statement.uptodate_status %}<span>{{ statement.uptodate_status.text }}</span>{% endif %}
    <div class="block-content col-lg-12">

        <div class="text-brown quote lead">
            <a href="{% url 'statement_detail' statement.permalink %}">&ldquo; {{ statement.quote|removetags:'p'|safe }} &rdquo;</a>
        </div>
        <div class="media">
            <a class="pull-left" href="{% url 'people_detail' statement.quoted_by.permalink %}">
                {% image_render statement.quoted_by.image '40x40' statement.quoted_by.get_full_name %}
            </a>
            <div class="media-body">
                <a href="{% url 'people_detail' statement.quoted_by.permalink %}" class="media-heading">{{ statement.quoted_by.get_full_name }}</a>
            </div>
        </div>
    </div>
    <div class="meter-md">
        {% image_render statement.meter.image_small_text '200x107' statement.meter.title %}
    </div>
</article>