{% load i18n %}
{% load common_tags %}
<article class="block statement-item polygraph-list-block{% if statement.uptodate_status %} {{ statement.uptodate_status.code }}{% endif %}">
    <div class="block-content col-lg-12">

        {% if user.is_staff or user == statement.created_by %}
        <div class="staff-link-wrapper">
            <ul>
                <li>
                    <a href="{% url 'statement_edit' statement.id %}" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-edit"></span> {% trans "Edit" %}
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}

        <div class="quote-wrapper">

            {% if statement.uptodate_status %}<span class="statement-status">{{ statement.uptodate_status.text }}</span>{% endif %}
            
            <div class="text-brown block-quote lead">

                {% if no_link %}
                {{ statement.quote|removetags:'p'|safe }}
                {% else %}
                <a href="{% url 'statement_detail' statement.permalink %}">{{ statement.quote|removetags:'p'|safe }}</a>
                {% endif %}

            </div>
            <div class="submit">
                <strong>{% trans "Source" %}&nbsp;&nbsp;</strong>{{ statement.source }}
            </div>


        </div>
        <div class="media">
            <span class="triangle"></span>

            <a
                    class="vignette"
                    href="{% url 'people_detail' statement.quoted_by.permalink %}"
                    style="background-image: url('{% image_render statement.quoted_by.image '750x250' statement.quoted_by.get_full_name 'center' 1 %}');"
            >

            </a>
            <div class="media-body">
                <a href="{% url 'people_detail' statement.quoted_by.permalink %}" class="media-heading lead">
                    {{ statement.quoted_by.get_full_name }}
                </a>
                <div class="people-occupation">
                    {{ statement.quoted_by.occupation }}
                </div>
            </div>
            <div class="meter-md">

                <div class="meter-img-wrapper">
                    {% image_render statement.meter.image_medium_text '200x107' statement.meter.title %}
                </div>
                <div class="meter-bg meter-{{ statement.meter.permalink }}">
                </div>
                <div class="meter-img-real">
                    {% image_render statement.meter.image_medium_text '200x107' statement.meter.title %}
                </div>
            </div>
        </div>

    </div>

</article>