{% extends 'base_sidebar.html' %}
{% load i18n %}
{% load common_tags %}

{% block title %}{% trans "Statement list" %}{% endblock %}

{% block content %}

    <div class="btn-group text-right">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">News Paper</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Television</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>

    <div>
        <section class="polygraph-list statement-list">
            <section class="col-md-12">
                <header>
                    <h3 class="hidden">{% trans "Polygraph List Item" %}</h3>
                </header>

                {% for statement in statement_list %}
                 <article class="row block block-no-border polygraph-list-block new{% if statement.uptodate_status %} {{ statement.uptodate_status.code }}{% endif %}">
                    {% if statement.uptodate_status %}<span>{{ statement.uptodate_status.text }}</span>{% endif %}
                    <div class="block-content col-lg-12">

                        <div class="text-brown quote lead">
                            <a href="{% url 'statement_detail' statement.permalink %}">&ldquo; {{ statement.quote|removetags:'p'|safe }} &rdquo;</a>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="{% url 'people_detail' statement.quoted_by.permalink %}">
                                {% image_render statement.quoted_by.image '40x40' statement.quoted_by.get_full_name %}
                            </a>
                            <div class="media-body">
                                <a href="{% url 'people_detail' statement.quoted_by.permalink %}" class="media-heading">{{ statement.quoted_by.get_full_name }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="meter-md">
                        {% image_render statement.meter.image_small_text '137x95' statement.meter.title %}
                    </div>
                </article>
                {% endfor %}

            </section>
        </section >
    </div>


    {% if statement_list.paginator.page_range %}
    <ul class="pagination">

        {% if statement_list.has_previous %}
        <li><a href="?page={{ statement_list.paginator.page_range|first }}">&laquo;</a></li>
        <li><a href="?page={{ statement_list.previous_page_number }}">‹</a></li>
        {% endif %}

        {% for page_num in statement_list.paginator.page_range %}
        {% if page_num <= statement_list.number|add:"2" and page_num >= statement_list.number|add:"-2" %}
        <li{% if page_num == statement_list.number %} class="active"{% endif %}><a href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endif %}
        {% endfor %}

        {% if statement_list.has_next %}
        <li><a href="?page={{ statement_list.next_page_number }}">›</a></li>
        <li><a href="?page={{ statement_list.paginator.page_range|last }}">&raquo;</a></li>
        {% endif %}
    </ul>
    {% endif %}

{% endblock %}

{% block sidebar %}

    {% if tags_list.count %}
    <section>
        <header>
            <h2>{% trans "Tags" %}</h2>
        </header>
        <div class="tag-list">
            {% for tags in tags_list %}
            <a href="{% url 'tags_detail' tags.id %}" class="btn btn-default"><strong>{{ tags.name }}</strong></a>
            {% endfor %}
        </div>
    </section>
    {% endif %}

    {% if meter_list.count %}
    <section class="filter-by-status">
        <header>
            <h2>By Status</h2>
        </header>
        <div class="block">
            <ul class="media-list item-list block-content row">
                {% for meter in meter_list %}
                <li class="media">
                    <div class="item-inner">
                        <a class="pull-left" href="{% url 'meter_detail' meter.permalink %}">
                            {% image_render meter.image_small '87x105' meter.title %}
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">{{ meter.title }}</h3>
                            <a href="{% url 'meter_detail' meter.permalink %}">{% trans "See all" %} "{{ meter.title }}" {% trans "statements" %}</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    {% endif %}

{% endblock %}