{% extends 'base_sidebar.html' %}
{% load i18n %}

{% block title %}{% trans "Statement list" %}{% endblock %}

{% block content %}

    <div class="btn-group text-right">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">News Paper</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Television</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>

    <div class="block statement-list">
        <ul class="block-content item-list">
            <li class="item first">
                <article class="item-inner">
                    <div class="col-lg-8 col-md-7 col-sm-8 col-xs-7">
                        <p class="text-brown"><a href="/statement/detail/1">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม”</a></p>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/static/css/images/people-3-sm.png" alt="...">
                            </a>
                            <div class="media-body">
                                <a href="/" class="media-heading">สุเทพ เทือกสุบรรณ</a>
                            </div>
                        </div>
                    </div>
                    <div class="meter-md col-lg-4 col-md-5 col-sm-4 col-xs-5 text-right">
                        <img src="/static/css/images/false-md.png" alt="false image medium" />
                    </div>
                </article>
            </li>
            <li class="item">
                <article class="item-inner">
                    <div class="col-lg-8 col-md-7 col-sm-8 col-xs-7">
                        <p class="text-brown"><a href="/statement/detail/1">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุก แทงโก้สะ</a></p>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/static/css/images/people-4-sm.png" alt="...">
                            </a>
                            <div class="media-body">
                                <a href="/" class="media-heading">พ.ต.ท.ดร.ทักษิณ ชินวัตร</a>
                            </div>
                        </div>
                    </div>
                    <div class="meter-md col-lg-4 col-md-5 col-sm-4 col-xs-5 text-right">
                        <img src="/static/css/images/cant-prove-md.png" alt="false image medium" />
                    </div>
                </article>
            </li>
            <li class="item">
                <article class="item-inner">
                    <div class="col-lg-8 col-md-7 col-sm-8 col-xs-7">
                        <p class="text-brown"><a href="/statement/detail/1">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุก แทงโก้สะ</p>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/static/css/images/people-5-sm.png" alt="...">
                            </a>
                            <div class="media-body">
                                <a href="/" class="media-heading">ชูวิทย์ กมลวิศิษฏ์</a>
                            </div>
                        </div>
                    </div>
                    <div class="meter-md col-lg-4 col-md-5 col-sm-4 col-xs-5 text-right">
                        <img src="/static/css/images/true-md.png" alt="false image medium" />
                    </div>
                </article>
            </li>
            <li class="item">
                <article class="item-inner">
                    <div class="col-lg-8 col-md-7 col-sm-8 col-xs-7">
                        <p class="text-brown"><a href="/statement/detail/1">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุก แทงโก้สะ</p>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/static/css/images/people-3-sm.png" alt="...">
                            </a>
                            <div class="media-body">
                                <a href="/" class="media-heading">กำนันสุเทพ เทือกสุบรรณ</a>
                            </div>
                        </div>
                    </div>
                    <div class="meter-md col-lg-4 col-md-5 col-sm-4 col-xs-5 text-right">
                        <img src="/static/css/images/cant-prove-md.png" alt="false image medium" />
                    </div>
                </article>
            </li>
            <li class="item">
                <article class="item-inner">
                    <div class="col-lg-8 col-md-7 col-sm-8 col-xs-7">
                        <p class="text-brown"><a href="/statement/detail/1">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุก แทงโก้สะ</p>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/static/css/images/people-3-sm.png" alt="...">
                            </a>
                            <div class="media-body">
                                <a href="/" class="media-heading">กำนันสุเทพ เทือกสุบรรณ</a>
                            </div>
                        </div>
                    </div>
                    <div class="meter-md col-lg-4 col-md-5 col-sm-4 col-xs-5 text-right">
                        <img src="/static/css/images/false-md.png" alt="false image medium" />
                    </div>
                </article>
            </li>
            <li class="item">
                <article class="item-inner">
                    <div class="col-lg-8 col-md-7 col-sm-8 col-xs-7">
                        <p class="text-brown"><a href="/statement/detail/1">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม”</a></p>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/static/css/images/people-3-sm.png" alt="...">
                            </a>
                            <div class="media-body">
                                <a href="/" class="media-heading">กำนันสุเทพ เทือกสุบรรณ</a>
                            </div>
                        </div>
                    </div>
                    <div class="meter-md col-lg-4 col-md-5 col-sm-4 col-xs-5 text-right">
                        <img src="/static/css/images/false-md.png" alt="false image medium" />
                    </div>
                </article>
            </li>
            <li class="item">
                <article class="item-inner">
                    <div class="col-lg-8 col-md-7 col-sm-8 col-xs-7">
                        <p class="text-brown"><a href="/statement/detail/1">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุก แทงโก้สะ</p>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/static/css/images/people-4-sm.png" alt="...">
                            </a>
                            <div class="media-body">
                                <a href="/" class="media-heading">กพ.ต.ท.ดร.ทักษิณ ชินวัตร</a>
                            </div>
                        </div>
                    </div>
                    <div class="meter-md col-lg-4 col-md-5 col-sm-4 col-xs-5 text-right">
                        <img src="/static/css/images/cant-prove-md.png" alt="false image medium" />
                    </div>
                </article>
            </li>
            <li class="item">
                <article class="item-inner">
                    <div class="col-lg-8 col-md-7 col-sm-8 col-xs-7">
                        <p class="text-brown"><a href="/statement/detail/1">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุก แทงโก้สะ</p>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/static/css/images/people-5-sm.png" alt="...">
                            </a>
                            <div class="media-body">
                                <a href="/" class="media-heading">ชูวิทย์ กมลวิศิษฏ์</a>
                            </div>
                        </div>
                    </div>
                    <div class="meter-md col-lg-4 col-md-5 col-sm-4 col-xs-5 text-right">
                        <img src="/static/css/images/true-md.png" alt="false image medium" />
                    </div>
                </article>
            </li>
            <li class="item">
                <article class="item-inner">
                    <div class="col-lg-8 col-md-7 col-sm-8 col-xs-7">
                        <p class="text-brown"><a href="/statement/detail/1">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุก แทงโก้สะ</p>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/static/css/images/people-3-sm.png" alt="...">
                            </a>
                            <div class="media-body">
                                <a href="/" class="media-heading">กำนันสุเทพ เทือกสุบรรณ</a>
                            </div>
                        </div>
                    </div>
                    <div class="meter-md col-lg-4 col-md-5 col-sm-4 col-xs-5 text-right">
                        <img src="/static/css/images/cant-prove-md.png" alt="false image medium" />
                    </div>
                </article>
            </li>
            <li class="item last">
                <article class="item-inner">
                    <div class="col-lg-8 col-md-7 col-sm-8 col-xs-7">
                        <p class="text-brown"><a href="/statement/detail/1">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอดี้ เอ็กซ์เพรสคาแร็คเตอร์ชะโนด ป่าไม้สวีท ระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุก แทงโก้สะ</p>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="/static/css/images/people-3-sm.png" alt="...">
                            </a>
                            <div class="media-body">
                                <a href="/" class="media-heading">กำนันสุเทพ เทือกสุบรรณ</a>
                            </div>
                        </div>
                    </div>
                    <div class="meter-md col-lg-4 col-md-5 col-sm-4 col-xs-5 text-right">
                        <img src="/static/css/images/false-md.png" alt="false image medium" />
                    </div>
                </article>
            </li>
        </ul>
    </div>

<div>
    <section class="polygraph-list">
        <section class="col-md-12">
            <header>
                <h3 class="hidden">Polygraph List Item</h3>
            </header>
            <article class="row block block-no-border polygraph-list-block new">
                <span>New</span>
                <div class="block-content float-right-img col-lg-12">
                    <p class="text-brown quote lead"><a href="/statement/detail/1">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม <strong>ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์</strong> ฟลุกแทงโก้สะกอม ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม”</a></p>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/static/css/images/people-3-sm.png" alt="...">
                        </a>
                        <div class="media-body">
                            <a href="/" class="media-heading">สุเทพ เทือกสุบรรณ</a>
                        </div>
                    </div>
                </div>
                <div class="meter-md">
                    <img src="/static/css/images/false-lg.png" alt="false image large" />
                </div>
            </article>
            <article class="row block block-no-border polygraph-list-block new">
                <span>New</span>
                <div class="block-content float-right-img col-lg-12">
                    <p class="text-brown quote lead"><a href="/statement/detail/1">“<strong>ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์</strong> ฟลุกแทงโก้สะกอม ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม”</a></p>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/static/css/images/people-3-sm.png" alt="...">
                        </a>
                        <div class="media-body">
                            <a href="/" class="media-heading">สุเทพ เทือกสุบรรณ</a>
                        </div>
                    </div>
                </div>
                <div class="meter-md">
                    <img src="/static/css/images/false-lg.png" alt="false image large" />
                </div>
            </article>
            <article class="row block block-no-border polygraph-list-block updated">
                <span>Updated</span>
                <div class="block-content float-right-img col-lg-12">
                    <p class="text-brown quote lead"><a href="/statement/detail/1">“ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์ ฟลุกแทงโก้สะกอม <strong>ฮิแฟ็กซ์ อมาตยาธิปไตยอีโรติก สหรัฐแก๊สโซฮอล์ สหรัฐบอเอ็กซ์เพรสคาแร็คเตอร์ชะโป่าไม้สระโงกอ่อนด้อยเทอร์โบบ็อกซ์</strong> ฟลุกแทงโก้สะกอม ฮิแฟ็กซ์"</a></p>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/static/css/images/people-3-sm.png" alt="...">
                        </a>
                        <div class="media-body">
                            <a href="/" class="media-heading">สุเทพ เทือกสุบรรณ</a>
                        </div>
                    </div>
                </div>
                <div class="meter-md">
                    <img src="/static/css/images/false-lg.png" alt="false image large" />
                </div>
            </article>
        </section>

        <a href="/people/2" class="btn btn-default">ดูคำพูด "จริง" ทั้งหมด <span class="glyphicon glyphicon-chevron-right"></span></a>
    </section >
</div>

    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">‹</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">›</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>

{% endblock %}

{% block sidebar %}

    <section>
        <header>
            <h2>Block title 1</h2>
        </header>
        <div class="tag-list">
            <a href="/" class="btn btn-default"><strong>จำนำข้าว</strong></a>
            <a href="/" class="btn btn-default"><strong>รฟม.</strong></a>
            <a href="/" class="btn btn-default"><strong>ธกส.</strong></a>
            <a href="/" class="btn btn-default"><strong>สหยูเนี่ยน</strong></a>
            <a href="/" class="btn btn-default"><strong>รถไฟความเร้วสูง</strong></a>
            <a href="/" class="btn btn-default"><strong>จำนำข้าว</strong></a>
            <a href="/" class="btn btn-default"><strong>รฟม.</strong></a>
            <a href="/" class="btn btn-default"><strong>ธกส.</strong></a> 
            <a href="/" class="btn btn-default"><strong>สหยูเนี่ยน</strong></a>
            <a href="/" class="btn btn-default"><strong>รถไฟความเร้วสูง</strong></a>
            <a href="/" class="btn btn-default"><strong>จำนำข้าว</strong></a>
            <a href="/" class="btn btn-default"><strong>รฟม.</strong></a>
            <a href="/" class="btn btn-default"><strong>ธกส.</strong></a> 
        </div>
    </section>

    <section class="filter-by-status">
        <header>
            <h2>By Status</h2>
        </header>
        <div class="block">
            <ul class="media-list item-list block-content row">
                <li class="media">
                    <div class="item-inner">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/static/css/images/true-sm.png" alt="...">
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">True</h3>
                            <a href="/people/2">ดูคำพูด "True" ทั้งหมด</a>
                        </div>
                    </div>
                </li>
                <li class="media">
                    <div class="item-inner">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/static/css/images/false-sm.png" alt="...">
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">False</h3>
                            <a href="/people/2">ดูคำพูด "False" ทั้งหมด</a>
                        </div>
                    </div>
                </li>
                <li class="media">
                    <div class="item-inner">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/static/css/images/tricky-sm.png" alt="...">
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Tricky</h3>
                            <a href="/people/2">ดูคำพูด "Tricky" ทั้งหมด</a>
                        </div>
                    </div>
                </li>
                <li class="media">
                    <div class="item-inner">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/static/css/images/cant-prove-sm.png" alt="...">
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Can't Prove</h3>
                            <a href="/people/2">ดูคำพูด "Can't Prove" ทั้งหมด</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

{% endblock %}