{% extends 'base_sidebar.html' %}
{% load i18n %}

{% block js %}
{{ form.media }}
{% include 'autocomplete_light/static.html' %}
{% endblock %}

{% block title %}
{% if form.is_new %}{% trans "Create" %}{% else %}{% trans "Edit" %}{% endif %} {% trans form.inst.inst_name %}
{% if not form.is_new %}
<a href="{% url 'statement_detail' form.inst.permalink %}" class="btn btn-default btn-xs btn-view">
    <span class="glyphicon glyphicon-eye-open"></span> {% trans "View result" %}
</a>
{% endif %}

{% endblock %}

{% block before_wrapper %}
<form method="post" role="form" enctype="multipart/form-data">
{% endblock %}
{% block after_wrapper %}
</form>
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'statement_list' %}">{% trans "Statements" %}</a></li>
{% if form.is_new %}
<li class="active">{% trans "Create" %}</li>
{% else %}
<li><a href="{% url 'statement_detail' form.inst.permalink %}">{{ form.inst.quote|truncatewords_html:10|safe }}</a></li>
<li class="active">{% trans "Edit" %}</li>
{% endif %}
{% endblock %}


{% block content %}

<div class="form-normal">

    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="errors alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}

    <div class="controls form-group">
        <label for="id_permalink" class="field-container control-label">{% trans "Permalink" %} *</label>
        <div class="field-container ">

            <input disabled="disabled" readonly="readonly" id="id_permalink_readonly" name="permalink_readonly" type="text" class="form-control" value="{{ form.permalink.value|default_if_none:"" }}">
            <a id="edit-permalink" href="#id_permalink">{% trans "edit" %}</a>

            <input id="id_permalink" name="permalink" type="text" class="form-control" value="{{ form.permalink.value|default_if_none:"" }}" required>
            <span class="help-block">{{ form.permalink.help_text }}</span>
            {% if form.permalink.errors %}
            <div class="errors alert alert-danger">{{ form.permalink.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group">
        <label for="id_quote" class="field-container control-label">{% trans "Quote" %} *</label>
        <div class="field-container">
            {{ form.quote }}
            <span class="help-block">
            {% trans "This people said." %}
            </span>
            {% if form.quote.errors %}
            <div class="errors alert alert-danger">{{ form.quote.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group">
        <label for="id_short_detail" class="field-container control-label">{% trans "Quote detail" %}</label>
        <div class="field-container">
            {{ form.short_detail }}
            <span class="help-block">
            {% trans "This people didn't said but describe by you." %}
            </span>
            {% if form.short_detail.errors %}
            <div class="errors alert alert-danger">{{ form.short_detail.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group">
        <label for="id_quoted_by" class="field-container control-label">{% trans "Quoted by" %} *</label>
        <div class="field-container">
            {{ form.quoted_by }}

            <div class="popup-create-link-wrapper">
                {% trans "or" %}
                <a href="{% url 'people_create' %}?_popup=1" class="autocomplete-add-another" id="add_id_quoted_by">
                    {% trans "create people" %}
                    <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="{%  trans "Add another" %}">
                </a>
            </div>
            {% if form.quoted_by.errors %}
            <div class="errors alert alert-danger">{{ form.quoted_by.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group statement-meter">
        <label for="id_meter" class="field-container control-label">{% trans "Polygraph" %}</label>
        <div class="field-container radio">
            {% for meter in form.meter %}
                {{ meter.tag }}
                 <label for="id_meter_{{ meter.index }}">{{ meter.choice_label }}</label>
            {% endfor %}

            {% if form.meter.errors %}
            <div class="errors alert alert-danger">{{ form.meter.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group">
        <label for="id_source" class="field-container control-label">{% trans "Source" %}</label>
        <div class="field-container">
            <input id="id_source" name="source" type="text" class="form-control" value="{{ form.source.value|default_if_none:"" }}">
            <span class="help-block">
                {% trans "For example <em> Thairath 4/6/2014 page 2. </em>" %}
            </span>
            {% if form.source.errors %}
            <div class="errors alert alert-danger">{{ form.source.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group block block-bg-transparent statement-desc">
        <div class="block-content">

            <label for="id_topic" class="field-container control-label">{% trans "Topic" %}</label>
            <div class="field-container-no-overflow">

                <div class="inline-reference-wrapper">

                    {{ form.topic }}
                    {% if form.topic.errors %}
                    <div class="errors alert alert-danger">{{ form.topic.errors }}</div>
                    {% endif %}

                    <div class="inline-create-link-wrapper">
                        {% trans "or" %}
                        <a href="{% url 'topic_create' %}?_inline=1" class="add-another-inline" id="add_id_topic" target="topic_inline">
                            {% trans "create topic" %}
                            <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="{%  trans 'Add another' %}">
                        </a>
                    </div>
                </div>

                <div class="add-another-inline-input-list" id="topic_inline">

                </div>

                {% if form.topic.errors %}
                <div class="errors alert alert-danger">{{ form.topic.errors }}</div>
                {% endif %}


            </div>
        </div>
    </div>


</div>


<script type="text/javascript">

    if (CKEDITOR.instances.id_quote) {
        var editor = CKEDITOR.instances.id_quote;
        editor.on('contentDom', function () {

            editor.document.on('keyup', function () {
                $('#id_quote').val(editor.getData()).trigger('keyup');
            });
        });
    }

    {% if form.is_new %}
    generatePermalink($('textarea[name=quote]'));
    {% endif %}
    controlPermalink();
    preventScrollReload();
</script>

{% endblock %}


{% block sidebar %}
<section>
    <header>
        <h2>{% trans "About Statement" %}</h2>
    </header>

    <div class="form-normal">

        <div class="controls form-group">
            <label for="id_references" class="field-container control-label">{% trans "References" %}</label>
            <div class="field-container">
                {{ reference_formset.management_form }}
                <ol id="id_references">
                    {% for reference in reference_formset %}
                    <li class="form-group">
                        <div class="input-text">
                            <div class="input-wrapper">
                                <label class="sr-only" for="{{ reference.title.id_for_label }}">{% trans "Title" %}</label>
                                {{ reference.title }}
                            </div>
                            <div class="input-wrapper">
                                <label class="sr-only" for="{{ reference.url.id_for_label }}">{% trans "URL" %}</label>
                                {{ reference.url }}
                            </div>
                        </div>
                        <div class="input-delete">
                            {% if reference.url.value %}
                            {{ reference.DELETE }}<label for="{{ reference.DELETE.id_for_label }}">{% trans 'Delete' %}</label>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ol>

                <input type="button" value="{% trans "Add More"%}" id="id_references_add_more" class="add_more btn" />

                {% if form.reference_formset.errors %}
                <div class="errors alert alert-danger">{{ form.reference_formset.errors }}</div>
                {% endif %}
            </div>
        </div>


        <div class="controls form-group">
            <label for="id_tags" class="field-container control-label">{% trans "Tags" %}</label>
            <div class="field-container">

                {{ form.tags }}
                <span class="help-block">
                {% trans "Separate by comma, space, tab or enter" %}
                </span>
                {% if form.tags.errors %}
                <div class="errors alert alert-danger">{{ form.tags.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="controls form-group">
            <label for="id_relate_statements" class="field-container control-label">{% trans "Relate Statements" %}</label>
            <div class="field-container">
                {{ form.relate_statements }}
                <span class="help-block">
                    {% trans "Display relate statements on the bottom of this statement detail page." %}
                </span>
                {% if form.relate_statements.errors %}
                <div class="errors alert alert-danger">{{ form.relate_statements.errors }}</div>
                {% endif %}
            </div>
        </div>


        <div class="controls form-group">
            <label for="id_relate_peoples" class="field-container control-label">{% trans "Relate Peoples" %}</label>
            <div class="field-container">
                {{ form.relate_peoples }}
                <span class="help-block">
                    {% trans "Display this statement on detail page of relate people." %}
                </span>
                {% if form.relate_peoples.errors %}
                <div class="errors alert alert-danger">{{ form.relate_peoples.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="controls form-group inst-frontpage">
            <label>{% trans "Front page settings" %}</label>
            <div class="field-container checkbox">
                <input{% if form.hilight.value %} checked=checked{% endif %} id="id_{{ form.hilight.name }}" type="checkbox" name="{{ form.hilight.name }}" value="1" />
                <label for="id_{{ form.hilight.name }}">{% trans "Highlight" %}</label>
                {% if form.hilight.errors %}
                <div class="errors alert alert-danger">{{ form.hilight.errors }}</div>
                {% endif %}
            </div>
            <div class="field-container checkbox">
                <input{% if form.promote.value %} checked=checked{% endif %} id="id_{{ form.promote.name }}" type="checkbox" name="{{ form.promote.name }}" value="1" />
                <label for="id_{{ form.promote.name }}">{% trans "Promote" %}</label>
                {% if form.promote.errors %}
                <div class="errors alert alert-danger">{{ form.promote.errors }}</div>
                {% endif %}
            </div>
        </div>

    </div>

</section>

{% endblock %}


{% block after_sidebar %}

<div class="controls form-group inst-status form-horizontal">
    <label for="id_status" class="col-sm-2 control-label">{% trans "Status" %}</label>
    <div class="col-sm-10 radio">
        {% for status in form.status %}
            {% if status.choice_value != STATUS_PUBLISHED|slugify or form.inst.published or user.is_staff %}
            {{ status.tag }}
             <label for="id_status_{{ status.index }}">{{ status.choice_label }}</label>
            {% endif %}
        {% endfor %}

        {% if form.status.errors %}
        <div class="errors alert alert-danger">{{ form.status.errors }}</div>
        {% endif %}
    </div>
</div>

<div class="controls form-group">
    <div class="col-sm-offset-2-bnk field-container form-action">
        <button class="btn btn-primary" type="submit">{% if form.is_new %}{% trans "Save new" %}{% else %}{% trans "Save changes" %}{% endif %}</button>
        <a href="." class="btn btn-cancle flat-btn">{% trans "Cancel" %}</a>

        {% if not form.is_new %}
        <a class="btn btn-delete btn-md" href="{% url 'domain_delete' 'statement' form.inst.id %}"><span class="glyphicon glyphicon-remove"></span> {% trans "Delete" %}</a>
        {% endif %}

    </div>
</div>
{% endblock %}