{% load i18n %}
{% load common_tags %}
<article class="row block block-no-border polygraph-list-block{% if statement.uptodate_status %} {{ statement.uptodate_status.code }}{% endif %}">    
    <div class="block-content float-right-img col-lg-12">
        {% if statement.uptodate_status %}<span>{{ statement.uptodate_status.text }}</span>{% endif %}
        <div class="text-brown quote lead">
            <a href="{% url 'statement_detail' statement.permalink %}">
                {{ statement.quote|safe }}
            </a>
        </div>
        <div class="media">
            <a class="pull-left" href="#">
                {% image_render statement.quoted_by.image '40x40' statement.quoted_by.get_full_name %}
            </a>
            <div class="media-body">
                <a href="{% url 'people_detail' statement.quoted_by.permalink %}" class="media-heading">{{ statement.quoted_by.get_full_name }}</a>
            </div>
        </div>
    </div>
    <div class="meter-md">
        {% image_render statement.meter.image_medium_text '225x200' statement.meter.title %}
    </div>
</article>