{% extends 'base_sidebar.html' %}
{% load i18n %}

{% block title %}{% trans "Statement detail" %}{% endblock %}

{% block content %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <article class="block">
        <section class="highlight-statement block-content">
            <header>
                <h2 class="hidden">statement</h2>
            </header>
            <blockquote>…รถไฟ ในกรุงเทพฯ 4 แสนล้าน (งบประมาณการสร้างรถไฟฟ้า) แต่ 4 แสนล้านจังหวัดเดียว 7 แสนล้าน (งบประมาณในการสร้างรถไฟความเร็วสูง) นี่มัน 29 จังหวัด คนกรุงเทพฯก็จะชินกับรถไฟในกรุงเทพฯ แต่รถไฟความเร็วสูงคนค้านกันเยอะ</blockquote>
            <span class="triangle"></span>
        </section>
        <section class="who-said block-content">
            <header>
                <h2 class="hidden">Who's said??</h2>
            </header>
            <div class="people-profile col-lg-6 col-xs-6">
                <img src="/static/css/images/people-1-md.png" alt="yinglak avatar" />
                <h3><a href="/people/1">นายชัชชาติ สิธิพันธุ์</a></h3>
                <p>รักษาการรัฐมนตรีว่าการกระทรวงคมนาคม</p>
            </div>
            <div class="meter col-lg-6 col-xs-6">
                <h3 class="hidden">true</h3>
                <img src="/static/css/images/true-md.png" alt="false image medium" />
            </div>
        </section>
        <section class="statement-meta block-content">
            <header>
                <h3 class="hidden">statement meta</h3>
            </header>
            <div class="submit">
                <p><strong>ที่มา&nbsp;&nbsp;</strong>นสพ.​โพสต์ทูเดย์ &nbsp;|&nbsp; ฉบับวันที่ 17 พ.ค. 2557 &nbsp;|&nbsp; หน้า 14</p>
            </div>
            <div class="share-btn pull-left">
                <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-type="button_count"></div>
                <a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
            </div>
            <div class="views-count pull-right"><span>2,376</span> Views</div>
        </section>
        <section class="statement-detail block-content">
                <header>
                    <h2 class="hidden">Statement Detail</h2>
                </header>
                <h3>รถไฟความเร็วสูงของ ชัชชาติ</h3>
                <p>จากการสัมภาษณ์ออกรายการเจาะข่าวตื้น ทาง ที่ออกอากาศเมื่อวันที่ 4 เมษายน 2557 ที่ผ่านมา นายชัชชาติ สิธิพันธุ์ รักษาการรัฐมนตรีว่าการกระทรวงคมนาคม ได้กล่าวเปรียบเทียบงบประมาณระว่างการสร้างรถไฟฟ้าในเขตกรุงเทพฯ และพื้นที่รอบนอกอีกส่วนหนึ่ง กับการสร้างรถไฟฟ้าความเร็วสูงที่ผ่านพื้นที่ 29 จังหวัด ไว้ว่า “…รถไฟ ในกรุงเทพฯ 4 แสนล้าน (งบประมาณการสร้างรถไฟฟ้า) แต่ 4 แสนล้านจังหวัดเดียว 7 แสนล้าน (งบประมาณในการสร้างรถไฟความเร็วสูง) นี่มัน 29 จังหวัด คนกรุงเทพฯก็จะชินกับรถไฟในกรุงเทพฯ แต่รถไฟความเร็วสูงคนค้านกันเยอะ”</p>
                <h3>จากงบประมาณ 2 ล้านล้าน</h3>
                <p>โครงการลงทุนโครงสร้างพื้นฐานวงเงิน 2 ล้านล้านบาท ที่มีกรอบระยะเวลาลงทุน 7 ปี (2557-2563) เป็นโครงการของรัฐบาลเพื่อพัฒนาโครงสร้างพื้นฐานด้านการคมนาคมของประเทศ เชื่อมต่อเส้นทางการเดินทางและขนส่ง ระหว่างภูมิภาคและประเทศใกล้เคียง ด้วยการขยายและพัฒนาระบบรถไฟความเร็วสูง และรถไฟรางคู่เป็นหลัก รวมถึงการลงทุนทางถนน และท่าเรือน้ำลึก</p>
                <p>จากตัวโครงการทั้งหลายยังคงเป็นที่วิพากษ์วิจารณ์ถึงความคุ้มค่าของการลงทุน และมีกระแสคัดค้านจากหลายภาคส่วน เพราะไม่แน่ใจว่าจะเป็นตอบโจทย์การเสริมสร้างขีดความสามารถในการแข่งขัน ลดต้นทุนโลจิสติกส์ ต้นทุนการขนส่งสินค้าที่แท้จริงหรือไม่ และจากงบประมาณ 2 ล้านล้านตรงนี้ได้มีการแยกออกมาว่างบประมาณที่ใช้ในเรื่องระบบรางเป็นงบประมาณกว่า 80% ของงบประมาณทั้งหมด</p>
                <h3>รถไฟฟ้า VS รถไฟความเร็วสูง </h3>
                <p>เมื่อดูประกอบกับ เอกสารประกอบการพิจารณา ร่างพระราชบัญญัติให้อานาจกระทรวงการคลังกู้เงินเพื่อ การพัฒนาโครงสร้างพื้นฐานด้านคมนาคมขนส่งของประเทศ พ.ศ. … จะทำให้เห็นตัวเลขชัดเจนขึ้นว่าในส่วนของรถไฟความเร็วสูง อยู่ในแผนพัฒนาโครงข่ายเชื่อมต่อภูมิภาค มีตัวเลขงบประมาณอยู่ที่ 994,430.90 ล้านบาท โดย เป็นโครงการรถไฟความเร็วสูง 4 โครงการ เป็นโครงการรถไฟรางคู่ 2 โครงการ และโครงการสร้างทางหลวงพิเศษ 3 โครงการ วงเงินสำหรับรถไฟความเร็วสูงทั้งหมดคิดเป็น 783,229.9 ล้านบาท ส่วนงบประมาณในส่วนของการสร้างรถไฟฟ้า อยู่ในส่วนของแผนพัฒนาระบบขนส่งในเขตเมือง มีตัวเลขงบอยู่ที่ 472,448.12 ล้านบาท</p>
                <p>และได้มีการสรุปสัดส่วนการใช้งบ 2 ล้านล้านออกมาในโลกออนไลน์ ว่ากามีการใช้งบในส่วน รถไฟความเร็วสูง 783,553 ล้านบาท คิดเป็น 39.2%  รถไฟฟ้า 456,662 ล้านบาท คิดเป็น 22.8%</p>
                <p>ถนนทางหลวง 241,080 ล้านบาท คิดเป็น 12.1%  ถนนทางหลวงชนบท 34,309 ล้านบาท คิดเป็น 1.7%  สถานีขนส่งสินค้า 14,093 ล้านบาท คิดเป็น 0.7%  ท่าเรือ 29,581 ล้านบาท คิดเป็น 1.5%  ด่านศุลกากร 12,545 ล้านบาท คิดเป็น 0.6%</p><p>ปรับปรุงระบบรถไฟ (เพิ่มเครื่องกั้น ซ่อมบำรุงรางที่เสียหาย) 23,236 ล้านบาท คิดเป็น 1.2%  รถไฟทางคู่ และทางคู่เส้นทางใหม่ 383,891 ล้านบาท คิดเป็น 19.2%  ค่าสำรองเผื่อฉุกเฉิน (ความผันผวนราคาวัสดุ การติดตามและประเมินผล) 21,050 ล้านบาท คิดเป็น 1.0% ซึ่งแม้ตัวเลขจะคลาดเคลื่อนจากในเอกสารประกอบร่างพระราชบัญญัติไปบ้าง แต่ก็มีความใกล้เคียง</p>
                <p>ทั้งนี้ทั้งนั้นก่อนหน้านี้ในปี 2554 ได้มีตัวเลขประมาณการงบประมาณการสร้างรถไฟฟ้า 10 สายในเขตกรุงเทพว่ารวมๆ แล้วจะต้องใช้งบลงทุนประมาณ 668,593 ล้านบาท (รวมค่าเวนคืน-ก่อสร้าง-งานระบบ)</p>
                <div class="block block-bg-transparent statement-desc">
                    <div class="block-content">
                        <section>
                            <header><h3>เส้นทางรถไฟ 29 จังหวัด</h3></header>
                            <p>สำหรับเส้นทางที่กระทรวงคมนาคมเตรียมเร่งรัดก่อสร้างรถไฟความเร็วสูงมี 4 เส้นทาง ตัดผ่าน 29 จังหวัด ประกอบด้วย</p>
                            <ul>
                                <li>เส้นทางที่ 1 กรุงเทพฯ-เชียงใหม่ ผ่านจังหวัดปทุมธานี พระนครศรีอยุธยา นครสวรรค์ พิจิตร พิษณุโลก  อุตรดิตถ์ แพร่ ลำปาง ลำพูน และเชียงใหม่</li>
                                <li>เส้นทางที่ 2 กรุงเทพฯ-นครราชสีมา-หนองคาย ผ่านจังหวัดปทุมธานี พระนครศรีอยุธยา สระบุรี นครราชสีมา ข่อนแก่น อุดรธานี และหนองคาย</li>
                                <li>เส้นทางที่ 3 กรุงเทพฯ-หัวหิน-ปาดังเบซาร์ ผ่านจังหวัดสมุทรสาคร สมุทรสงคราม ราชบุรี เพชรบุรี ประจวบคีรีขันธ์ ชุมพร สุราษฎร์ธานี นครศรีธรรมราช พัทลุง และสงขลา</li>
                                <li>เส้นทางที่  กรุงเทพฯ-ระยอง ผ่านจังหวัด ฉะเชิงเทรา ชลบุรี และระยอง</li>
                            </ul>
                        </section>
                        <section>
                            <header><h4>Update</h4></header>
                            <ul class="item-list">
                                <li class="item">
                                    <div class="item-inner">
                                        <div><time>20 May 2014</time></div>
                                        <a href="/">มิใช่คะแนนนิยมของรัฐบาล แต่คือการยกระดับและรักษาความมั่นคงของรายได้</a>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="item-inner">
                                        <div><time>22 May 2014</time></div>
                                        <a href="/">หมายถึงปลูกอนาคตตัวเองลงบนผืนแผ่นดิน โดยไม่กระทบกับวินัยทางการเงินของประเทศ</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="load-more">
                                <a href="/">+ See all update</a>
                            </div>
                        </section>
                    </div>
                </div>
        </section>
    </article>
    <section class="related-statement">
        <header>
            <h2>Related Statement</h2>
        </header>
        <div class="row">
            <article class="col-md-6">
                <div class="block block-bg-color">
                    <a href="/">"เป้าหมายสูงสุดของโครงการรับจำนำข้าว มิใช่คะแนนนิยมของรัฐบาล แต่คือการยกระดับและรักษาความมั่นคงของรายได้ เพื่อชีวิตความเป็นอยู่ที่ดีข      เพื่ออนาคตที่ดีกว่าของลูกหลาน และเพื่อให้อาชีพปลูกข้าวให้คนกิน หมายถึงปลูกอนาคตตัวเองลงบนผืนแผ่นดิน โดยไม่กระทบกับวินัยทางการเงินของประเทศ"</a>
                </div>
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="/static/css/images/people-3-sm.png" alt="...">
                    </a>
                    <div class="media-body">
                        <a href="/" class="media-heading">Media heading</a>
                    </div>
                </div>
            </article>
            <article class="col-md-6">
                <div class="block block-bg-color">
                    <a href="/">"เป้าหมายสูงสุดของโครงการรับจำนำข้าว มิใช่คะแนนนิยมของรัฐบาล แต่คือการยกระดับและรักษาความมั่นคงของรายได้ เพื่อชีวิตความเป็นอยู่ที่ดีข      เพื่ออนาคตที่ดีกว่าของลูกหลาน และเพื่อให้อาชีพปลูกข้าวให้คนกิน หมายถึงปลูกอนาคตตัวเองลงบนผืนแผ่นดิน โดยไม่กระทบกับวินัยทางการเงินของประเทศ"</a>
                </div>
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="/static/css/images/people-3-sm.png" alt="...">
                    </a>
                    <div class="media-body">
                        <a href="/" class="media-heading">Media heading</a>
                    </div>
                </div>
            </article>
        </div>
    </section>

{% endblock %}

{% block sidebar %}

    <section class="about-statement">
        <header>
            <h2>About Statement</h2>
        </header>
        <div class="block">
            <div class="block-content">
                <h3>Topic</h3>
                <p>งบประมาณระว่างการสร้างรถไฟฟ้าในเขตกรุงเทพฯ และพื้นที่รอบนอกอีกส่วนหนึ่ง กับการสร้างรถไฟฟ้าความเร็วสูงที่ผ่านพื้นที่ 29 จังหวัด</p>
                <h3>References</h3>
                <ul class="item-list block-content row">
                    <li>
                        <div class="item-inner">
                            <a href="http://www.thaihispeedtrain.com/about2.php" target="_blank">โครงการศึกษาและออกแบบระบบรถไฟความเร็วสูง</a>
                        </div>
                    </li>
                    <li>
                        <div class="item-inner">
                            <a href="https://www.youtube.com/watch?v=BnhXk3V9Rio" target="_blank">เจาะข่าวตื้น 128 : เจาะชัชชาติ รมต.ที่แข็งแกร่งที่สุดในปฐพี</a>
                        </div>
                    </li>
                    <li>
                        <div class="item-inner">
                            <a href="www.tisco.co.th/AttachFileAction.do?fileName=jul_sep2013_01.pdf" target="_blank">โครงการลงทุนโครงสร้างพื้นฐาน 2 ล้านล้านบาท</a>
                        </div>
                    </li>
                    <li>
                        <div class="item-inner">
                            <a href="http://www.oknation.net/blog/print.php?id=852019" target="_blank">ไฟเขียวพรบ.กู้ลงทุนโครงสร้างพื้นฐาน 2.2 ล้านล้านบาท:รถไฟครองงบ 80%</a>
                        </div>
                    </li>
                    <li>
                        <div class="item-inner">
                            <a href="/people/2" target="_blank">PDF pitlprojects_v2-1-1 , spitlprojects_v2-2-1, v3-1</a>
                        </div>
                    </li>
                    <li>
                        <div class="item-inner">
                            <a href="http://pantip.com/topic/31069628" target="_blank">pantip.com: 53 โครงการ??งบประมาณ 2 ล้านล้านบาท??กับระยะเวลา 7 ปี???</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section>
        <header>
            <h2>Tags</h2>
        </header>
        <div class="tag-list">
            <a href="/" type="button" class="btn btn-default"><strong>จำนำข้าว</strong></a>
            <a href="/" type="button" class="btn btn-default"><strong>รฟม.</strong></a>
            <a href="/" type="button" class="btn btn-default"><strong>ธกส.</strong></a>
            <a href="/" type="button" class="btn btn-default"><strong>สหยูเนี่ยน</strong></a>
            <a href="/" type="button" class="btn btn-default"><strong>รถไฟความเร้วสูง</strong></a>
            <a href="/" type="button" class="btn btn-default"><strong>จำนำข้าว</strong></a>
            <a href="/" type="button" class="btn btn-default"><strong>รฟม.</strong></a>
            <a href="/" type="button" class="btn btn-default"><strong>ธกส.</strong></a> 
            <a href="/" type="button" class="btn btn-default"><strong>สหยูเนี่ยน</strong></a>
            <a href="/" type="button" class="btn btn-default"><strong>รถไฟความเร้วสูง</strong></a>
            <a href="/" type="button" class="btn btn-default"><strong>จำนำข้าว</strong></a>
            <a href="/" type="button" class="btn btn-default"><strong>รฟม.</strong></a>
            <a href="/" type="button" class="btn btn-default"><strong>ธกส.</strong></a> 
        </div>
    </section>

    <section class="filter-by-status">
        <header>
            <h2>By Status</h2>
        </header>
        <div class="block">
            <ul class="media-list item-list block-content row">
                <li class="media">
                    <div class="item-inner">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/static/css/images/true-sm.png" alt="...">
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">True</h3>
                            <a href="/people/2">ดูคำพูด "True" ทั้งหมด</a>
                        </div>
                    </div>
                </li>
                <li class="media">
                    <div class="item-inner">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/static/css/images/false-sm.png" alt="...">
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">False</h3>
                            <a href="/people/2">ดูคำพูด "False" ทั้งหมด</a>
                        </div>
                    </div>
                </li>
                <li class="media">
                    <div class="item-inner">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/static/css/images/tricky-sm.png" alt="...">
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Tricky</h3>
                            <a href="/people/2">ดูคำพูด "Tricky" ทั้งหมด</a>
                        </div>
                    </div>
                </li>
                <li class="media">
                    <div class="item-inner">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/static/css/images/cant-prove-sm.png" alt="...">
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Can't Prove</h3>
                            <a href="/people/2">ดูคำพูด "Can't Prove" ทั้งหมด</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

{% endblock %}