{% extends 'base_single.html' %}
{% load i18n %}

{% block js %}
{{ form.media }}
{% endblock %}

{% block title %}{% if form.is_new %}{% trans "Create" %}{% else %}{% trans "Edit" %}{% endif %} {{ form.inst.inst_name }}{% endblock %}
{% block content_class %} content-smart{% endblock %}

{% block content %}
<form method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="errors alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}

    <div class="controls form-group">
        <label for="id_permalink" class="col-sm-2 control-label">{% trans "Permalink" %}</label>
        <div class="col-sm-10">
            <input id="id_permalink" name="permalink" type="text" class="form-control" value="{{ form.permalink.value|default_if_none:"" }}" required>
            <span class="help-block">{{ form.permalink.help_text }}</span>
            {% if form.permalink.errors %}
            <div class="errors alert alert-danger">{{ form.permalink.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group">
        <label for="id_title" class="col-sm-2 control-label">{% trans "Title" %}</label>
        <div class="col-sm-10">
            <input id="id_title" name="title" type="text" class="form-control" value="{{ form.title.value|default_if_none:"" }}">
            {% if form.title.errors %}
            <div class="errors alert alert-danger">{{ form.title.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group">
        <label for="id_description" class="col-sm-2 control-label">{% trans "Description" %}</label>
        <div class="col-sm-10">
            {{ form.description }}
            {% if form.description.errors %}
            <div class="errors alert alert-danger">{{ form.description.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group">
        <div class="col-sm-offset-2 col-sm-10 form-action">
            <button class="btn btn-primary" type="submit">{% if form.is_new %}{% trans "Save new" %}{% else %}{% trans "Save changes" %}{% endif %}</button>
            <a href="{% url 'home' %}" class="btn btn-cancle flat-btn">{% trans "Cancel" %}</a>
        </div>
    </div>
</form>

{% endblock %}