{% extends 'base_sidebar.html' %}
{% load i18n %}
{% load common_tags %}
{% load domain_tags %}

{% block title %}{{ topic.title }}{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'topic_list' %}">{% trans "Topics" %}</a></li>
<li class="active">{{ topic.title }}</li>
{% endblock %}


{% block content %}

    <div>

        <section class="topic-detail{% if user.is_staff or user == topic.created_by %} can-edit{% endif %}">
            <header>
                <h3 class="hidden">{% trans "Topic Detail" %}</h3>
            </header>
            <div class="block block-no-border">

                {% if user.is_staff or user == topic.created_by %}
				<div class="media block-content">
                    <div class="staff-link-wrapper">
                        <ul>
                            <li>
                                <a href="{% url 'topic_edit' origin.id %}" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-edit"></span> {% trans "Edit" %}
                                </a>
                            </li>
                        </ul>
                    </div>
    	    	</div>
                {% endif %}

                {% if topic.description|safe %}
				<div class="block-content">
                    {{ topic.description|safe }}
    	    	</div>
                {% endif %}
            </div>
        </section>

        {% if statement_list %}
        <div id="main"></div>
        <section class="polygraph-list statement-list">
            <section class="col-md-12">
                <header class="row">
                    <h3>{% trans "Statements of" %} {{ topic.title }}</h3>
                </header>
                {% for statement in statement_list %}
                {{ statement|statement_item }}
                {% endfor %}

            </section>
        </section>
        {% endif %}



        {% if statement_list.paginator.page_range|length > 1 %}
        <ul class="pagination">

            {% if statement_list.has_previous %}
            <li><a href="?page={{ statement_list.paginator.page_range|first }}">&laquo;</a></li>
            <li><a href="?page={{ statement_list.previous_page_number }}">‹</a></li>
            {% endif %}

            {% for page_num in statement_list.paginator.page_range %}
            {% if page_num <= statement_list.number|add:"2" and page_num >= statement_list.number|add:"-2" %}
            <li{% if page_num == statement_list.number %} class="active"{% endif %}><a href="?page={{ page_num }}">{{ page_num }}</a></li>
            {% endif %}
            {% endfor %}

            {% if statement_list.has_next %}
            <li><a href="?page={{ statement_list.next_page_number }}">›</a></li>
            <li><a href="?page={{ statement_list.paginator.page_range|last }}">&raquo;</a></li>
            {% endif %}
        </ul>
        {% endif %}


    </div>

{% endblock %}

{% block sidebar %}

	<div class="row">
		<section class="col-md-12 summary">
			<header>
				<h2>{% trans "Summary" %}</h2>
			</header>
			<div class="block block-bg-transparent">
                {{ meter_statement_count|meter_count }}
			</div>
		</section>
	</div>

{% endblock %}