{% extends 'base_single.html' %}
{% load i18n %}

{% block js %}
{{ form.media }}
{% endblock %}

{% block title %}{% if form.is_new %}{% trans "Create" %}{% else %}{% trans "Edit" %}{% endif %} {{ form.inst.inst_name }}{% endblock %}
{% block content_class %} content-smart{% endblock %}

{% block content %}
<form method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="errors alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}

    {% include 'domain/topic_inline_form.html' %}


</form>

{% endblock %}