คุณได้รับอีเมลฉบับนี้เนื่องจากคุณได้ขอตั้งรหัสผ่านใหม่สำหรับผู้ใช้ {{user.email}} ที่เว็บไซต์ {{domain}}
หากคุณไม่ได้เป็นผู้ขอ คุณสามารถลบอีเมลฉบับนี้ได้ รหัสผ่านที่คุณใช้อยู่ปัจจุบันจะยังคงเหมือนเดิม
แต่หากคุณเป็นผู้ขอตั้งรหัสผ่านใหม่ ให้กดที่ลิงก์ด้านล่างเพื่อตั้งรหัสผ่านใหม่
{{domain}}/account/reset/{{uid}}-{{token}}/

------------------------------------------------------
อีเมลฉบับนี้ส่งจากระบบอัตโนมัติ กรุณาอย่าตอบกลับ เนื่องจากจะไม่มีผู้ได้รับอีเมลของคุณค่ะ

กองทุนวิจัยและพัฒนากิจการกระจายเสียง กิจการโทรทัศน์ และกิจการโทรคมนาคมเพื่อประโยชน์สาธารณะ
888 ชั้น 6-7 อาคารไอทาวเวอร์ 1 ถนนวิภาวดีรังสิต แขวงจตุจักร เขตจตุจักร กรุงเทพ 10900
โทรศัพท์ 02 554 8117, 02 554 8140, 02 554 8148, 02 554 8111-114 โทรสาร 02 554 8100
{{ settings.WEBSITE_DOMAIN }}