{% extends 'base_single.html' %}

{% block content %}
<div class="container row login page-not-found">
  <div class="media">
    <div class="media-body pull-left">
      <h1 class="page-title"><span class="big">404</span>Page not found</h1>
      <p>Please check your request url or</p>
      <p><a href="/">Back to home page</a></p>
    </div>
    <figure class="text-center">
      <img class="media-object" src="../static/images/page-not-found.png" alt="page not found">
    </figure>
  </div>
</div>
{% endblock %}

