{% extends 'base_single.html' %}

{% block content %}
    <div class="container login">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h1 class="page-title">Something wrong</h1>
                <p>Please, try again or <a href="/" style="color: #fff; text-align: underline; text-decoration: underline;">Back to home page</a></p>
            </div>
            <div class="col-md-6 col-xs-12">
                <figure>
                    <img src="../../static/images/page-not-found.jpg" />
                </figure>
            </div>
        </div>
    </div>
{% endblock %}