<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Fix me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
  <div id="wrap">
    <div class="header-single">
        <div class="container">
            <div class="row header">
                <a class="brand" href="/">Fix me</a>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="container login">
            <div class="row">
                <h1 class="page-title">Something wrong</h1>
                <p>Please, try again or</p>
                <p><a href="/" style="color: #fff; text-align: underline; text-decoration: underline;">Back to home page</a></p>
            </div>
        </div>

    </div>
      
      <div id="push"></div>
  </div><!-- End wrap --> 

    <div id="footer">
        <div class="container">
            <p>Fix me</p>
        </div>
    </div>
</body>
</html>