{% extends 'base.html' %}

{% block base_content %}

{% if not request_inline %}
<div class="container">

    <div class="content-inner{% block content_class %}{% endblock %}">
        <section>
            <header>
                <h1>{% block title %}{% endblock %}</h1>
            </header>
            <div class="section-content">
{% endif %}

                {% block content %}{% endblock %}

{% if not request_inline %}
            </div>
        </section>
    </div>
</div>
{% endif %}

{% endblock %}