{% extends 'base.html' %}

{% block base_content %}

<div class="container sidebar-right">
    <div class="row">

        {% block before_wrapper %}{% endblock %}

        <section class="col-md-8">

            <header>
                <h1>{% block title %}{% endblock %}</h1>
            </header>

            <div class="content-inner{% block content_class %}{% endblock %}">
                {% block content %}{% endblock %}
            <div>

        </section>

        <aside class="col-md-4 sidebar">
            {% block sidebar %}{% endblock %}
        </aside>

        <section class="col-md-8 after-sidebar">
            {% block after_sidebar %}{% endblock %}
        </section>

        {% block after_wrapper %}{% endblock %}

    </div>

</div>
{% endblock %}