{% load i18n %}
{% load activelink %}
{% load common_tags %}
<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% captureas title_content %}{% block title %}{% endblock %}{% endcaptureas %}
        {% captureas description_content %}{% block description %}{% endblock %}{% endcaptureas %}
        {% captureas image_content %}{% block image %}{% endblock %}{% endcaptureas %}

        <meta name="og:title" content="{{ title_content|striptags }}">
        <meta name="og:site_name" content="{{ SITE_NAME }}">
        {% if description_content %}
        <meta name="og:description" content="{{ description_content }}">
        {% endif %}
        {% if image_content %}
        <meta name="og:image" content="{{ BASE_URL }}{{ image_content }}">
        {% endif %}



        <title>{% ifactive 'home' %}{{ SITE_NAME }}{% else %}{{ title_content|striptags }}|{{ SITE_NAME }}{% endifactive %}</title>

        <!-- Bootstrap core CSS -->
        <link rel="shortcut icon" href="{{ SITE_FAVICON_URL }}" type="image/vnd.microsoft.icon">
        <link href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}libs/prettycheckable/css/prettycheckable.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/stylesheets/style.css" rel="stylesheet">
        {% block css %}{% endblock %}

        {% captureas js_content %}{% block js %}{% endblock %}{% endcaptureas %}

        {% if 'jquery.min.js' not in js_content %}
        <script src="{{ STATIC_URL }}libs/jquery/jquery.min.js"></script>
        {% endif %}

        {{ js_content }}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="{{ STATIC_URL }}libs/html5shiv/html5shiv.js"></script>
            <script src="{{ STATIC_URL }}libs/respond.js/respond.min.js"></script>
        <![endif]-->

        <script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}libs/jquery.popconfirm.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}libs/prettycheckable/js/prettycheckable.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}libs/scrolltofixed/jquery-scrolltofixed-min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>

    </head>

    <body{% if request_popup %} class="request-popup"{% endif %}>

        {% if not request_popup %}

        <header>

            {% if user.is_authenticated %}
            <div class="admin-menu">
                <div class="container">
                    <div class="row">
                        <div class="btn-group col-md-12">
                            <a class="{% ifactive 'statement_create' %}active {% endifactive %}btn btn-default text-right" href="{% url 'statement_create' %}"><span class="glyphicon glyphicon-plus margin-right"></span>{% trans "Create Statement" %}</a>
                            <a class="{% ifactive 'people_create' %}active {% endifactive %}btn btn-default" href="{% url 'people_create' %}"><span class="glyphicon glyphicon-plus margin-right"></span>{% trans "Create People" %}</a>
                            <div class="btn-group">
                                <a class="{% ifstartswith 'manage' %}active {% endifstartswith %}btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog margin-right"></span>{% trans "Manage" %}<span class="caret margin-left"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a{% ifactive 'home' %} class="active"{% endifactive %} href="{% url 'manage_my_statement' %}">{% trans "My Statements" %}</a></li>
                                    <li><a href="{% url 'manage_my_people' %}">{% trans "My Peoples" %}</a></li>
                                    {% if user.is_staff %}
                                    <li class="divider"></li>
                                    <li role="presentation" class="dropdown-header">{% trans "Editor" %}</li>
                                    <li{% ifactive 'manage_pending_statement' %} class="active"{% endifactive %}><a href="{% url 'manage_pending_statement' %}">{% trans "Pending Review" %}</a></li>
                                    <li{% ifactive 'manage_hilight_statement' %} class="active"{% endifactive %}><a href="{% url 'manage_hilight_statement' %}">{% trans "Highlight" %}</a></li>
                                    <li{% ifactive 'manage_promote_statement' %} class="active"{% endifactive %}><a href="{% url 'manage_promote_statement' %}">{% trans "Promote" %}</a></li>
                                    <li{% ifactive 'manage_statement' %} class="active"{% endifactive %}><a href="{% url 'manage_statement' %}#">{% trans "All Statements" %}</a></li>
                                    <li{% ifactive 'manage_people' %} class="active"{% endifactive %}><a href="{% url 'manage_people' %}">{% trans "All Peoples" %}</a></li>
                                    {% endif %}

                                </ul>
                            </div>
                            <div class="btn-group">
                                <a class="{% ifstartswith 'account' %}active {% endifstartswith %}btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog margin-right"></span>{% trans "Account" %}<span class="caret margin-left"></span></a>
                                <ul class="dropdown-menu">
                                    <li{% ifactive 'account_edit' %} class="active"{% endifactive %}><a href="{% url 'account_edit' %}">{% trans "Settings" %}</a></li>
                                    <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
                                    {% if user.is_staff %}
                                    <li class="divider"></li>
                                    <li role="presentation" class="dropdown-header">{% trans "Editor" %}</li>
                                    <li{% ifactive 'account_invite' %} class="active"{% endifactive %}><a href="{% url 'account_invite' %}">{% trans "Invite" %}</a></li>
                                    {% endif %}

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1>
                            <a class="navbar-brand" href="{% url 'home' %}">
                                <img src="{{ SITE_LOGO_URL }}" alt="{{ SITE_NAME }}" title="Site Logo" />
                                <span class="sr-only">{% trans "Polygraph" %}</span>
                            </a>
                        </h1>
                    </div>
                    <div class="navbar-collapse collapse" style="height: 1px;">
                        <ul class="nav navbar-nav navbar-right">
                            <li{% ifactive 'home' %} class="active"{% endifactive %}><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                            <li{% ifstartswith 'statement_list' %} class="active"{% endifstartswith %}><a href="{% url 'statement_list' %}">{% trans "Statement" %}</a></li>
                            <li{% ifstartswith 'people_list' %} class="active"{% endifstartswith %}><a href="{% url 'people_list' %}">{% trans "People" %}</a></li>
                            <li{% ifstartswith 'meter_detail_default' %} class="active"{% endifstartswith %}><a href="{% url 'meter_detail_default' %}">{% trans "Polygraph" %}</a></li>
                        </ul>
                        {% if static_page_list %}
                        <ul class="nav navbar-nav sec-menu visible-xs">
                            {% for static_page in static_page_list %}
                            <li class="active"><a href="{% url static_page.url_name %}">{{ static_page.title }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>
        </header>

        {% ifactive 'home' %}
        {% else %}
        <section class="breadcrumb-wrapper container">
            <header><h2 class="hidden">Breadcrumbs</h2></header>
            <ol class="breadcrumb">
                <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                {% block breadcrumb %}
                {% endblock %}
            </ol>
        </section><!--/.nav-collapse -->
        {% endifactive %}

        {% endif %}

        {% if messages %}
        <div class="container messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ message|safe }}
            </div>
        {% endfor %}
        </div>
        {% endif %}

        {% block base_content %}{% endblock %}


        {% if not request_popup %}

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12 footer-logo">[{{ SITE_NAME }}]</div>
                    <div class="col-md-3 col-md-offset-5 col-xs-12 footer-menu">
                        <div class="row">
                            {% for static_page in static_page_list %}
                            <div class="col-md-6 col-xs-6"><a{% ifactive static_page.url_name %} class="active"{% endifactive %} href="{% url static_page.url_name %}">{{ static_page.title }}</a></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        {% endif %}

        {% if request_pagination %}
        <script type="text/javascript">
            $.scrollTo('#main')
        </script>
        {% endif %}

    </body>

</html>
