{% extends 'base.html' %}

{% block base_content %}

<div class="container">
    <div class="row">

        <section class="col-md-8">

            <header>
                <h1>{% block title %}{% endblock %}</h1>
            </header>

            <div class="content-inner{% block content_class %}{% endblock %}">
                {% block content %}{% endblock %}
            <div>

        </section>

        <aside class="col-md-4">
            {% block sidebar %}{% endblock %}
        </aside>

    </div>

</div>
{% endblock %}