// nav
$navbar-bg : #333; // base orange
$navbar-a-separate : #565656;
$navbar-a-hover : #000; // text hover (dark brown)
$navbar-a-bg-active : #baaa96; // main menu item active
$logo-bg : #a97c50; // main color

// button
$text_normal : #333333; // text normal
$navbar : #333; // base orange
$navbar-a-separate : #565656;
$navbar-a-hover : #000; // text hover (dark brown)
$btn-bg-hover : #baaa96; // hover orange
$main-color : #a97c50; // main color

// layouts
$text-on-dark-bg : #cd5e26;

// elements
$text_normal : #333333;
$pagination-bg-hover : #baaa96;