@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";

$base_orange : #cd5e26; // base orange
$hover_orange : #ff9933; // hover orange
$border_orange : #a34b21; // border orange
$bright_orange : #fe6625; // bright orange
$soft_orange : #ffc092;
$text_hover : #4C0000; // text hover (dark brown)
$text_brown : #7f5d3d; // text brown
$text_normal : #333333; // text normal
$block_border : #CCCCCC;

body {
  padding-top: 140px;
  background: url(../images/body-bg.png);
  font-size: 16px;
  position: relative;
}

body.request-popup {
    padding-top: 0;
}

.col-no-padding { padding: 0; }

h1, h2, h3, h4, h5, h6,
p {
	color: $text_normal;
}
p.border-bt { padding-bottom: 20px; border-bottom: 2px solid $block_border; }

.text-brown,
.text-brown p { color: $text_brown; }

a,
a:hover { color: $text_brown; }
a:hover { text-decoration: underline; }

.text-large { font-size: 40px; font-weight: bold; }
.align-right { text-align: right; }
@media (max-width: 768px) {
	.align-right { text-align: left; }
}

.btn-primary {
	color: #FFF;
	background-color: $bright_orange;
	border-color: $bright_orange;
	&:hover { 
		background-color: $base_orange;
		border-color: $base_orange;
	}
}
.btn-color {
	color: $text_normal;
	background-color: $soft_orange;
	&:hover {
		color: $text_normal;
		background-color: $soft_orange;
	}
}
.btn-delete {
    float: right;
}
@media (max-width: 640px) {
	.hidden-640 { display: none !important; }
	aside .item-list li { width: 100%; }
}
.glyphicon.margin-right { margin-right: 5px; }
.caret.margin-left { margin-left: 8px; }
.region {margin-bottom: 30px;}

.container { margin-bottom: 30px; }
.content-inner { position: relative; }
.content-thin {
  	max-width: 350px;
  	margin: 0 auto;
}
.content-smart {
  	max-width: 800px;
  	margin: 0 auto;
}
.files-widget {
	width: 100%;
	.files-widget-dropbox {
		width: 100% !important;
		margin: 0;
		border: 3px dashed $block-border !important;
	}
	.controls a.fake-files-input { display: inline; }
	.files-widget-deleted {
		p { border: none; }
		> div { border: none; background-color: #F2F2F2; padding: 10px; }
	}
}


.sidebar { margin-top: 6px; }
.sidebar .item-list {
	.media {
		padding: 0 15px;
		margin-top: 0;
		img { margin-right: 10px; }
		.media-heading { margin-top: 15px; }
		&:last-child .item-inner { border-bottom: 0; }
	}
}

.breadcrumb-wrapper,
.breadcrumb {
	margin-bottom: 0;
	font-size: 14px;
}
.breadcrumb {
	padding: 0;
	background-color: transparent;
	p { display: inline; color: #999; }
}

.pagination {
	margin-top: 0;
	&>li>a { color: $text_normal; }
	li.active a,
	li.active a:hover { 
		border-color: $block_border;
		background-color: $base_orange;
	}
}

[class*="dialog-ic"] {
	position: relative;
	display: block;
	float: left;
	margin-right: 0.5em;
	width: 40px; 
	height: 25px;
	&:after {
		border-width: 5px;
		border-style: solid;
		content: "";
		display: inline-block;
		position: absolute;
		bottom: -10px;
		left: 50%;	
	}
}
[class*="dialog-ic-color"] {
	background-color: $bright_orange;
	&:after {
		border-color: $bright_orange $bright_orange transparent transparent;
	}
}
[class*="dialog-ic-bw"] {
	background-color: $block_border;
	&:after {
		border-color: $block_border $block_border transparent transparent;
	}
}

.navbar-default {
	background-color: $base_orange;
	.container { margin-bottom: 0; }
	.navbar-toggle {
		border: none;
		&:hover { background-color: $hover_orange; }
		.icon-bar { 
			background-color: #FFF;
			width: 30px;
			height: 5px;
			border-radius: 5px;
		}
	}
	.navbar-collapse {border: none;}
	.navbar-header a {
		color: #FFF; 
		font-size: inherit;
		&:hover { color: #FFF; }
		span { font-size: 14px; margin-left: 1em; line-height: 1em; }
	}
	.navbar-nav {
		// border-left: 1px solid $border_orange;
		margin-top: 60px;
		&.navbar-right:last-child {	margin-right: 0;}
		&>li { position: relative; }
		&>li>a {
			color: #FFF;
			// border-right: 1px solid $border_orange;
			padding-top: 20px;
			padding-bottom: 20px;
			font-weight: bold;
			&:hover { color: $text_hover; }			
		}

		&>.active>a,
		&>.active>a:hover {
			color: $text_hover;
			background-color: $hover_orange;
		}

		&>li.active:after {
			border-color: $hover_orange $hover_orange transparent transparent ;
			border-width: 10px;
			border-style: solid;
			content: "";
			display: inline-block;
			position: absolute;
			bottom: -20px;
			left: 50%;
			margin-left: -10px;			
		}
	}
}
@media (max-width: 767px) {
	.navbar-default {
		// padding-bottom: 5em;
		.navbar-header img {
			width: 65%;
		}
		.navbar-nav { 
			border: none;
			margin-top: 0;
			margin-bottom: 0;
			&.navbar-right:last-child {margin-right: -15px;}
			&>li>a {
				color: $text_hover;
				background-color: $hover_orange;
				border-bottom: 1px solid #d3722b;
				border-right: none;
				&:hover { background-color: $base_orange; }
			}
			&>.active>a,
			&>.active>a:hover {
				color: $text_hover;
				background-color: $base_orange;
			}
			&>li.active:after {
				display: none;
			}
		}
		.navbar-toggle {
			margin-top: 20px;
			.icon-bar+.icon-bar { margin-top: 6px; }
		}
		.navbar-collapse { max-height: 100%; }
		.sec-menu {
			&>li>a {
				border-bottom: none;
				padding-top: 10px;
				padding-bottom: 10px;
				&:hover { 
					background-color: $hover_orange;
					text-decoration: underline;
				}
			}
			&>.active>a,
			&>.active>a:hover {
				text-decoration: underline;
				background-color: $hover_orange;
			}
		}
	}
}

.navbar { background-color: $base_orange; }

.navbar-header h1 {margin: 0;}
.navbar-brand { height: auto; }
.form-action {
	margin-top: 10px;
  	margin-bottom: 10px;
}

.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-98%);
}

.form-normal {
	.checkbox { font-weight: normal; }
	.form-control {
	  position: relative;
	  height: auto;
	  @include box-sizing(border-box);
	  padding: 10px;
	  font-size: 16px;
	  &:focus { z-index: 2; }
	}
}
form {
  margin: 20px 0;
}
input.first {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
input.middle {
  margin-bottom: -1px;
  border-radius: 0;
}
input.last,
input + .errors{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.checkbox ul, .radio ul {
  list-style: none;
  padding-left: 0;
}

.checkbox-single {
  margin-top: 10px;
}

.controls .prettycheckbox label, .controls .prettyradio label {
  font-weight: normal;
  margin: 4px 5px;
}

.form-group {
  .autocomplete-light-widget {
    display: block;
  }
  .autocomplete-light-widget input, .autocomplete-light-widget input:focus {
    width: 100%;
  }
}

.inst-status {
  background-color: #d5d5d5;
  overflow: hidden;
}


.block {
	overflow: hidden;
	background-color: #FFF;
	@include border-radius(5px);
	border: 1px solid $block_border;
	.block-content {
		padding: 20px;
	}
	ul.block-content {
		padding: 0;
		li {
			.item-inner {
				margin: 0;
				.left {padding-right: 0;padding-left: 0; }
				.right {padding-right: 0;}
			}
		}
		&.item-list {
			margin-bottom: 0;
			.item-inner {
				padding: 10px 5px 0 15px;
			}
			&.shuffle-bg {
				li .item-inner { border: none; }
				li,
				li + li + li + li { background-color: $hover_orange; }
				li + li,
				li + li + li + li + li { background-color: #e78c30; }
				li + li + li,
				li + li + li + li + li + li { background-color: #ffaf4c; }
			}
			li.first { 
				.item-inner {
					padding-top: 10px;
				}
			}
		}
	}
	&.block-bg-transparent {
		background-color: transparent;
		border: none;
	}
	&.block-bg-grey { 
		background-color: #F5F5F5;
	}
	&.block-bg-color {
		background-color: $soft_orange;
		border: none;
		@include border-radius(0);
		padding: 20px;
	}
	&.block-bg-hover {
		background-color: $hover_orange;
	}
	&.block-no-border {
		border: none;
	}
}
@media (min-width: 993px) {
	.block {
		ul.block-content {
			li {
				&.first .item-inner { border-top: none; padding-top: 0; }
				&.last .item-inner { border-bottom: none; padding-bottom: 0; }
			}
		}
	}
}
@media (max-width: 992px) {
	.block {
		ul.block-content {
			li {
				.item-inner { border: none; }
			}
		}
	}
}

.item-list {
	list-style: none;
	padding-left: 0;
	li {
		.item-inner {
			overflow: hidden;
			padding: 10px 0;
			border-bottom: 1px dotted #333333;
			&.no-border-bottom { border-bottom: none; }
		}
	}
	&.icon-list { 
		.item-inner a { display: block; padding-left: 25px; margin-top: -22px; }
	}
}
@media (max-width: 640px) {
	.item {
		width: 100%;
		.item-inner {
			min-height: 111px;
			.left { position: absolute; }
			.right {
				padding-left: 90px;
				width: 100%;
			}
		}
	}
}

.summary h3 {
	.left {
		img { max-width: 80px; width: 100%; }
	}

}
.amount {
	height: 10px;
	background-color: $base_orange;
	@include border-radius(5px);
}
.amount-wrapper {
	padding-right: 80px;
	a { color: $text_normal; }
}
.amount-num {
	position: absolute;
	top: 25%;
	right: 0;
	width: 70px;
	text-align: center;
	padding-left: 0;
	span { display: block; line-height: 35px; color: $text_normal; }
}

.highlight-statement {
	border-bottom: 3px solid #ffb07d;
	position: relative;
	.triangle {
		width: 25px;
		height: 25px;
		position: absolute;
		bottom: -25px;
		left: 60px;
		z-index: 2;
		background: url(../images/triangle.png) no-repeat 0 0;
	}
}

.block-quote,
.block-quote * { 
	color: $text_brown;
	margin: 0;
	line-height: 1.8;
}
.block-quote,
.block-quote-alt {
	strong { font-size: 1.25em; font-weight: normal; }
	position: relative;
	display: block;
	border-left: 0;
	padding: 20px 25px 0 25px;
	word-wrap: break-word;
	&:before,
	&:after {
		content: "";
		width: 23px;
		height: 18px;
		background: url(../images/quote.png) transparent no-repeat 0 0;
		position: absolute;
		z-index: 1;
	}
	&:before {
		top: 0; left: 0;
	}
	&:after {
		background-position: -23px 0;
		bottom: 0; right: 0;
	}
}
.block-quote-alt {
	padding-top: 0;
	display: inline-block;
	padding: 0 30px;
	max-width: 270px;
	font-size: 3.5em;
	font-weight: bold;
	line-height: 1.38em;
	&:after {
		top: 0; right: 0;
	}	
}
@media (max-width: 992px) {
	.block-quote-alt {
		max-width: 100%;
		margin-bottom: 10px;
	}
}
@media (max-width: 560px) {
	.block-quote-alt { font-size: 2.8em; }
}

.who-said {
	position: relative;
	overflow: hidden;
	background-color: $soft_orange;
	&.block-content { padding: 15px 20px 0 20px; }
	.media {
		overflow: hidden;
		margin-top: 20px;
		.media-body { margin-top: 30px; }
	}
	.meter {
		text-align: right;
		padding-right: 0;
		margin-top: 20px;
		// img { height: 100%; max-height: 140px;}
	}
}
@media (max-width: 600px) {
	.who-said {
		&.block-content { padding: 25px 20px 0 20px; }
		.media { margin-top: 10px; }
		.meter { margin-top: 0; }
	}
}
@media (max-width: 540px) {
	.who-said {
		.media {
			padding-left: 0;
			a.pull-left {
				width: 75px;
				img { width: 100% }
			}
			.media-body {
				margin-top: 0;
				font-size: 95%;
			}
		}
	}
}
// hilight statement landscape iPhone
@media (max-width: 479px) {
	.highlight-statement {
		.block-quote {
			padding: 30px 0 30px;
			* { line-height: 1.5; }
		}
	}
	.who-said {
		.media { 
			width: 100%;
			padding: 0 15px 15px 0; }
		.meter { 
			width: 100%; 
			padding-left: 0;
			text-align: center;
		}
	}
}

.statement-meta {
	border-bottom: 2px solid #D8D8D8;
	position: relative;
	overflow: hidden;
	.submit { margin-bottom: 30px; }
	.fb-share-button {
		overflow: hidden;
		margin-right: 10px;
	}
}
.statement-desc {
	border: 5px dashed $soft_orange !important;
	.block-content>section { margin-bottom: 30px; }
}
.related-statement {
	article { margin-bottom: 30px; }
	.block { position: relative; overflow: visible; }
	.block:after {
		border-color: $soft_orange transparent transparent $soft_orange;
		border-width: 8px 11px;
		border-style: solid;
		content: "";
		display: inline-block;
		position: absolute;
		bottom: -15px;
		left: 75px;
		margin-left: -10px;
	}
	.media { margin-top: 20px; }
}

.hilight-people {
	.left { position: absolute; }
	.right { padding-left: 140px; }
}

.nav-color {
	padding-top: 15px;
	li {
		padding: 0 10px; margin: 0;
		text-align: center;
		.caret {
			border-top: none;
			border-bottom: 12px solid #F2F2F2;
			border-right: 12px solid transparent;
			border-left: 12px solid transparent;
			margin-bottom: -8px;
		}
		&.last,
		&.dropdown {
			padding-right: 0;
			&:after { display: none; }
		}
	}
	> li:after {
		content: "•";
		position: absolute;
		top: 0.8em;
		right: -3px;
	}
	li a {
		@include border-radius(20px);
		background-color: transparent;
		padding: 10px 20px;
		&:hover {
			background-color: $soft_orange;
			color: $text_brown;
		}
	}
	li.active a {
		background-color: $bright_orange;
		color: #FFFFFF;
		border-color: $bright_orange;
		&:hover {
			background-color: $bright_orange;
			border-color: $bright_orange;
		}
	}
}

.nav.full-width {
	border-bottom: 0;
	li.dropdown {
		width: 100%;
		@include border-radius(5px);
		padding: 0;
		margin: 0;
		a {
			@include border-radius(5px);
			background-color: #FFF;
			border: 1px solid #CCC;
			margin: 0;
			text-align: left;
			&:hover { background-color: #FFF; border: 1px solid #CCC; } 
			&.dropdown-toggle { font-size: 1.5em; }
			.caret {
				position: absolute;
				right: 15px;
				top: 50%;
				margin-top: -4px;
				border-top: 8px solid $text-brown;
				border-right: 8px solid transparent;
				border-left: 8px solid transparent;
				border-bottom: 0 solid transparent;
			}
		}
		&.open a { border: 1px solid #CCC; color: $text-brown; }
		ul.dropdown-menu {
			width: 100%;
			z-index: 2;
			li { 
				padding: 0; 
			}
			li a { @include border-radius(0); border: none; } 
			li.active,
			li:hover {
				a { 
					color: #FFF;
					background-color: $base_orange;
				}
			} 
		}
	}
}

@media (min-width: 992px) {
	.nav-color {
		float: right;
	}
}
@media (max-width: 768px) {
	.nav.full-width {
		margin: 15px 0;
		> li.active {
			a { 
				color: $text-brown;
			} 
		}
	}
}

.polygraph-list.single {
	.nav-color {
		padding: 0;
		margin-top: -45px;
		margin-bottom: 30px;
	}
	.polygraph-list-before {
		.block-quote-alt {max-width: 100%;}
		.meter-image { margin-top: -80px; }
		img {
			width: 100%;
			height: auto;
			max-width: 249px;
		}
	}
}
@media (max-width: 991px) {
	.polygraph-list.single {
		.nav-color {
			padding: 0;
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
}
@media (max-width: 480px) {
	.polygraph-list.single {
		.polygraph-list-before {
			.meter-title, .desc, .meter-image {
				width: 100%;
			}
			.meter-title, .meter-image {
				text-align: center;
			}
			.meter-image { margin-top: 20px; }
			img {
				max-width: 175px;
				margin-left: -35px;
			}
		}
	}		
}

.polygraph-list {
	&>header { position: relative; z-index: 2; overflow: visible; }
	&>section { position: relative; z-index: 1; }
	.statement-list { overflow: hidden; }
	.block {
		margin-bottom: 1.2em;
	}
	.polygraph-list-block {
		position: relative;
		.block-content > span {
			display: block;
			padding: 5px 0;
			color: #FFF;
			font-size: 75%;
			background-color: $bright_orange;
			width: 80px;
			text-align: center;
			text-transform: uppercase;
			margin: 0 0 10px -20px;
		}
		&.updated span {
			background-color: $hover_orange;
		}
		.quote { line-height: 1.8em; }
	}
}
.polygraph-list-block {
	.block-content {
		&.float-right-img {
			padding-right: 270px;
			/* img { width: 40px; height: 40px; } */
		}
	}
	.meter-md {
		position: absolute;
		bottom: 20px;
		right: 20px;
	}
}
.polygraph-list.statement-list {
	.block-content {
		padding-bottom: 0;
		border-bottom: 85px solid #F2F2F2;
		position: initial;
		.quote {
			font-size: 18px;
		}
		.media {
			position: absolute;
			bottom: 10px;
			width: 100%;
			padding-right: 160px;
		}
	}
	.meter-md {
		right: 20px;
		bottom: 10px;
	}
}
@media (max-width: 991px) {
	.statement-list {
		.polygraph-list-block {
			.meter-md {
				position: absolute;
				bottom: 10px;
				right: 20px;
				img {
					height: 100%;
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.polygraph-list-block {
		.block-content {
			&.float-right-img {
				padding-right: 20px;
				padding-bottom: 150px;
			}
			.media {
				position: absolute;
				bottom: 20px;
				width: 100%;
				padding-right: 160px;
			}
		}
		.meter-md {
			position: absolute;
			bottom: 20px;
			right: 0;
			img {
				height: 150px;
				width: auto;
			}
		}
	}
}

@media (max-width: 767px) {
	.polygraph-list-block {
		.block-content {
			&.float-right-img {
				padding-bottom: 110px;
			}
		}
		.meter-md {
			right: 20px;
			img {
				height: 100px;
			}
		}
	}
}
@media (max-width: 460px) {
	.statement-list .polygraph-list-block {
		.block-content { 
			border-bottom: 125px solid #F2F2F2; 
		}
		.block-content .media { 
			position: relative;
			padding-right: 0;
			bottom: 0;
			margin-bottom: 15px;
		}
	} 
}
.btn-group-custom {
	position: absolute;
	top: -45px;
	right: 0;
	.btn {
		@include border-radius(0);
	}
}

/*
 *  Polygraph List Before Style.
 */
.polygraph-list-before {
	width: 100%;
	.block-content { overflow: hidden; }
	span {
		margin-bottom: 10px;
		display: block;
	}
	.desc { margin-top: 20px; }
}
@media (max-width: 991px) {
	.polygraph-list-before .desc { padding: 0; }
}
// ###########################

.about-statement {
	h3 {  margin-top: 0; }
	p { margin-bottom: 2em; }
}

.tag-list {
	a {
		margin-bottom: 10px;
		margin-right: 10px;
	}
}

footer {
	background-color: $base_orange;
	* {color: #FFF; line-height: 60px;}
	.container { margin-bottom: 0; }
	.footer-logo { font-size: 30px; }
	.footer-menu {
		div {
			text-align: right;
			a:hover { color: $text_hover; }
		}
	}
	a.active {
	    text-decoration: underline;
	}
}
@media (max-width: 767px) {
	footer {
		.footer-menu {
			div {
				text-align: left;
			}
		}
	}
}

//############# Form Create Statement
.sidebar-right {
	.form-normal {
		.form-control {
			padding: 6px 12px;
			height: 34px;
			font-size: 14px;
		}
	}
	ol {
		padding-left: 2em;
		li.form-group input.form-control { display: inline-block; }	
	}
	form {
		h1, h2 { margin-bottom: 30px; }
	}
	.add_more { float: right; }
}
.sidebar {
	.form-group textarea { max-width: 100%; }	
}

.add-another-inline-input-list {

    overflow: hidden;
    margin-top: 20px;

    .form-group {
        overflow: hidden;
    }
}
.inline-reference-wrapper {
    position: relative;
}

#inline_overlay {
    background: url(../images/body-bg.png);
    opacity: 0.8;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: content-box;
    border-radius: 5px;
    border: solid 1px #DDD;
}

//####################################################

.autocomplete-light-widget {
	.deck>span[data-value] {
		position: relative;
	    width: 100%;
		padding: 10px !important;
		background-color: #FFF;
		@include border-radius(5px);
		border: 1px solid #ccc;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		img { margin: 0 0 0 0; }
		.remove {
		    background-position-y: 3px;
		    height: 17px;
		}
		.remove:hover {
		    background-position-y: 3px;
		}
		.reference-span {
		    margin-left: 10px;
		}

	}
}

.form-group ul.tagit {
    width: 100%;
}
.field-container {
    overflow: hidden;
}
.sidebar .radio {
    padding-left: 0;
}
.tagit-hidden-field {
    display: none;
}
.media-list .prettyradio {
    display: table-row;
}

.media-list .prettyradio > * {
    display: table-cell;
}

.statement-meter .radio {
    padding-left: 0;
}
.statement-meter .radio .image-wrapper {
    margin-top: -11px;
    margin-right: 5px;
}

.statement-meter .prettyradio {
    padding-top: 11px;
    padding-left: 7px;
    padding-right: 3px;
    background-color: #FFF;
    border-radius: 25px 2px 2px 25px;
    border-right: solid 5px #ffc092;
    margin-right: 5px;

    label {
        margin-left: 2px;
    }
}


.staff-link-wrapper {

    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px 0 10px;
    color: #555;
    z-index: 1;

    ul {
        list-style: none;
        padding-left: 0px;

    }
    a {
        color: #555;
    }
}

.people-list {
	.dropdown {
		position: absolute;
		top: 10px;
		right: 0;
		width: 250px;
		.btn {
			width: 100%;
			text-align: left;
			white-space: normal;
			@include border-radius(0);
			.caret {
				position: absolute;
				right: 15px;
				top: 50%;
				margin-top: -4px;
				border-top: 8px solid;
				border-right: 5px solid transparent;
				border-left: 5px solid transparent;
			}
		}
		.dropdown-menu {
			width: 100%;
			right: 0;
			left: auto;
			margin-top: -1px;
			background-color: #f4f4f4;
			@include border-radius(0);
			li { margin-top: 10px; }
			li a {
				padding: 3px 12px;
				white-space: normal;
				&:hover {
					background-color: $base_orange;
					color: #FFF;
				}
			}
			li.active a {
				background-color: $base_orange;
				color: #FFF;
			}
		}
	}
	.pull-left {
		margin-right: 20px;
		height: 122px; overflow: hidden;
	}
	.media-body h3 { margin-top: 0; }
	ul.list-unstyled {
		li {
			margin: 15px 0;
		}
	}
}

@media (max-width: 479px) {
	.people-list {
		.dropdown {
			position: relative;
			margin-left: 15px;
			top: auto;
		}
	}
}

.people-detail {
	.media.block-content { background-color: #f5f5f5; }
}

.can-edit .people-summary p {
    margin-right: 50px;
}

.inst-frontpage {
    border: solid 1px #c6c6c6;
    border-radius: 4px;

    &>label {
        display: block;
        padding: 10px 15px;
        border-bottom: solid 1px #c6c6c6;
    }
}

.btn-view {
    float: right;
    margin-top: 12px;
}



// ##########################
// DEV
// ##########################

ul.nav-tabs  li.active .caret {
    display: inline-block;
}
@media (min-width: 768px) {
	ul.nav-tabs li .caret {
	    display: none;
	}
}
ul.nav-tabs li.first .caret { border-bottom-color: #FFF; }

#main {
    height: 140px;
    margin-top: -140px;
    width: 100%;
}

@media (max-width: 767px) {
    #main {
        height: 87px;
        margin-top: -87px;
    }
}

.front-block-quote {
    display: table-cell;
    vertical-align: middle;
}

.front-highlight-statement {
    display: table;
    width: 100%;
    min-height: 320px;
}

.front-highlight-statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.front-no-highlight-statement .meter img {
    height: 103px;
}

.polygraph-list .polygraph-list-block .quote {
    min-height: 140px;

}

td.quote {
    width: 40%;
}
td.created {
    min-width: 90px;
}
td.status {
    min-width: 200px;
}
td.meter {
    min-width: 55px;
}
.statement-detail img {
    max-width: 100%;
    height: auto !important;
}


#id_permalink_readonly {
    display: inline-block;
    margin-right: -50px;
    padding-right: 60px;
}

#edit-permalink {
    position: relative;
}


.inline-media {

    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;

    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.reference-wrapper .glyphicon {
    color: #65BF61;
}