@import "compass/css3/box-sizing";

h1, h2, h3, h4, h5, h6,
p {
	color: #333;
}

body {
  padding-top: 60px;
  background-color: #E5E5E5;
}
.container { margin-bottom: 30px; }
.content-thin {
  	max-width: 500px;
  	padding: 15px;
  	margin: 0 auto;
}

.navbar-default {
	background-color: #cd5e26;
	height: 61px;
	.container-fluid {
		max-width: 1170px;
	}
	.navbar-toggle {
		border: none;
		&:hover { background-color: #ff9933; }
		.icon-bar { 
			background-color: #FFF;
			width: 30px;
			height: 5px;
			border-radius: 5px;
		}
	}
	.navbar-collapse {border: none;}
	.navbar-header a {
		color: #FFF; 
		font-size: inherit;
		&:hover { color: #FFF; }
		span { font-size: 14px; margin-left: 1em; line-height: 1em; }
	}
	.navbar-nav { 
		margin: 0 -15px;
		border-left: 1px solid #a34b21;
		&.navbar-right:last-child {	margin-right: 0;}
		&>li { position: relative; }
		&>li>a {
			color: #FFF;
			border-right: 1px solid #a34b21;
			padding-top: 20px;
			padding-bottom: 20px;
			font-weight: bold;
			&:hover { color: #4C0000; }			
		}

		&>.active>a,
		&>.active>a:hover {
			color: #4C0000;
			background-color: #ff9933;
		}

		&>li.active:after {
			border-color: #ff9933 #ff9933 transparent transparent ;
			border-width: 10px;
			border-style: solid;
			content: "";
			display: inline-block;
			position: absolute;
			bottom: -20px;
			left: 50%;
			margin-left: -10px;			
		}
	}
	.sec-menu { display: none; }
}
@media (max-width: 767px) {
	.navbar-default {
		padding-bottom: 5em;
		.navbar-nav { 
			border: none;
			&.navbar-right:last-child {margin-right: -15px;}
			&>li>a {
				color: #4C0000;
				background-color: #ff9933;
				border-bottom: 1px solid #d3722b;
				border-right: none;
				&:hover { background-color: #cd5e26; }
			}
			&>.active>a,
			&>.active>a:hover {
				color: #4C0000;
				background-color: #cd5e26;
			}
			&>li.active:after {
				display: none;
			}
		}
		.navbar-collapse { max-height: 100%; }
		.sec-menu {
			display: block;
			&>li>a {
				border-bottom: none;
				padding-top: 10px;
				padding-bottom: 10px;
				&:hover { background-color: #ff9933; text-decoration: underline;}
			}
			&>.active>a,
			&>.active>a:hover {
				text-decoration: underline;
				background-color: #ff9933;
			}
		}
	}
}
.btn-primary {
	color: #FFF;
	background-color: #fe6625;
	border: none;
	&:hover { 
		background-color: #cd5e26;
	}
}

section.container { min-height: 500px; }

.navbar {
    background-color: #cd5e26;
}

.navbar-header h1 {margin: 0;}

.form-action {
	margin-top: 10px;
  	margin-bottom: 10px;
}

.form-normal {
	.checkbox {
		font-weight: normal;
	}
	.form-control {
	  position: relative;
	  height: auto;
	  @include box-sizing(border-box);
	  padding: 10px;
	  font-size: 16px;
	  &:focus { z-index: 2; }
	}
}

input.first {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
input.middle {
  margin-bottom: -1px;
  border-radius: 0;
}
input.last,
input + .errors{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.block {
	background-color: #FFF;
}

footer {
	background-color: #cd5e26;
	* {color: #FFF; line-height: 60px;}
	.container-fluid { max-width: 1170px; }
	.footer-logo { font-size: 30px; }
	.footer-menu {
		div {
			text-align: right;
			a:hover { color: #4C0000; }
		}
	}
}
@media (max-width: 767px) {
	footer {
		.footer-menu {
			div {
				text-align: left;
			}
		}
	}
}