@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";

@import "filter.scss";

$base_orange : #CD5E26; // base orange
$statement-status-new: #FF9933; // hover orange
$border_orange : #A34B21; // border orange
$bright_orange : #FE6625; // bright orange
$soft_orange : #FFC092;
$text_hover : #4C0000; // text hover (dark brown)
$text_brown : #7F5D3D; // text brown
$text_drak_brown : #523D1D;
$text_normal : #333333; // text normal
$block_border : #CCCCCC;

$navbar : #333;
$navbar-a-separate : #565656;
$navbar-a-hover : #000;
$navbar-menu-active : #BAAA96;
$logo-img-background : #A97C50;

@font-face {
  src: url("../fonts/woff/boon-300.woff") format("woff");
  font-family: "Boon-0.6";
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url("../fonts/woff/boon-700.woff") format("woff");
  font-family: "Boon-0.6";
  font-style: normal;
  font-weight: 700;
}



body {
  padding-top: 98px;
  background: url(../images/body-bg.png);
  font-size: 16px;
  position: relative;
}

@media (max-width: 767px) {

  body { padding-top: 80px; }
}
body.request-popup {
  padding-top: 0;
}

h1, h2, h3, h4, .nav, .footer-menu{
  font-family: "Boon-0.6";
  font-style: normal;
  font-weight: 700 !important;
}
.block-quote,
body .quote,
.statement-item .media-heading,
.people-item .media-heading {
  font-family: "Boon-0.6";
  font-style: normal;
  font-weight: 300 !important;
  strong {
    font-weight: 700 !important;
  }
}

.col-no-padding {
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
p {
	color: $text_normal;
}

header {
  h1, h2, h3 {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .lead {
    font-size: 18px;
  }
  .block-quote strong {
    font-size: 1em;
  }
}

p.border-bt {
  padding-bottom: 20px;
  border-bottom: 2px solid $block_border;
}

.text-brown,
.text-brown p { color: $text_brown; }

.see-all {
  z-index: -1;
}
.see-all a { 
  color: $text_brown;
  &:hover {
    color: $text_brown;
    background-color: #FFF;
    text-decoration: underline;
  }
}

a,
a:hover { color: $text_brown; }
a:hover { text-decoration: underline; }

.text-large { font-size: 40px; font-weight: bold; }

.align-right { text-align: right; }
@media (max-width: 768px) {
	.align-right { text-align: left; }
}

.btn-primary {
	color: #FFF;
	background-color: $logo-img-background;
	border-color: $logo-img-background;
	&:hover { 
		background-color: $navbar-menu-active;
		border-color: $navbar-menu-active;
	}
}
.btn-color {
	color: $text_normal;
	background-color: $soft_orange;
	&:hover {
		color: $text_normal;
		background-color: $soft_orange;
	}
}
.btn-delete {
    float: right;
}

// ####################################
// Auto complete style
// ####################################

ul.tagit li.tagit-choice .tagit-close { 
  margin-top: -12px !important;
}

.topic-reference-wrapper,
.autocomplete-light-widget.quoted_by {
  margin-bottom: 10px;
  a {
    color: #333;
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 2px 5px;
    font-size: 0.8em;
    @include border-radius(5px);
  } 
  .glyphicon {
    color: #333;
  }
}

.yourlabs-autocomplete .hilight {
  background-color: $navbar-menu-active !important;
  background-image: none !important;
  .reference-wrapper {
    color: #333;
  }
  .glyphicon {
    color: #333;
  }
}

// ####################################

@media (max-width: 640px) {
	.hidden-640 { display: none !important; }
	aside .item-list li { width: 100%; }
}
.glyphicon.margin-right { margin-right: 5px; }
.caret.margin-left { margin-left: 8px; }
.region {margin-bottom: 30px;}

.container { margin-bottom: 30px; }
.container.messages { margin-bottom: 0; }
.content-inner { position: relative; }
.content-thin {
  	max-width: 350px;
  	margin: 0 auto;
}
.content-smart {
  	max-width: 800px;
  	margin: 0 auto;
}
.files-widget {
	width: 100%;
	.files-widget-dropbox {
		width: 100% !important;
		margin: 0;
		border: 3px dashed $block-border !important;
	}
	.controls a.fake-files-input { display: inline; }
	.files-widget-deleted {
		p { border: none; }
		> div { border: none; background-color: #F2F2F2; padding: 10px; }
	}
}


.sidebar { margin-top: 6px; }
.sidebar .item-list {
	.media {
		padding: 0 15px;
		margin-top: 0;
		img { 
      margin-right: 10px;
    }
		.media-heading { margin-top: 15px; }
		&:last-child .item-inner { border-bottom: 0; }
	}
}

.breadcrumb-wrapper,
.breadcrumb {
	margin-bottom: 0;
	font-size: 14px;
}
.breadcrumb {
	padding: 0;
	background-color: transparent;
	p { display: inline; color: #999; }
}

.pagination {
	margin-top: 0;
	&>li>a { 
    color: $text_normal; 
    border: none;
    margin-right: 8px;
    padding: 10px 12px;
  }
  &>li:first-child>a,
  &>li:last-child>a { border-radius: 0; }
	li.active a,
	li.active a:hover {
		background-color: $navbar-menu-active;
	}
}

[class*="dialog-ic"] {
	position: relative;
	display: block;
	float: left;
	margin-right: 0.5em;
	width: 40px; 
	height: 25px;
	&:after {
		border-width: 5px;
		border-style: solid;
		content: "";
		display: inline-block;
		position: absolute;
		bottom: -10px;
		left: 50%;	
	}
}
[class*="dialog-ic-color"] {
	background-color: $bright_orange;
	&:after {
		border-color: $bright_orange $bright_orange transparent transparent;
	}
}
[class*="dialog-ic-bw"] {
	background-color: $block_border;
	&:after {
		border-color: $block_border $block_border transparent transparent;
	}
}

.navbar-default {
  background-color: $navbar;
  &.navbar-fixed-top { border-bottom: none; }
  .container { margin-bottom: 0; position: relative; }
  .navbar-toggle {
    border: none;
    &:hover { background-color: $navbar-menu-active; }
    .icon-bar { 
      background-color: #FFF;
      width: 30px;
      height: 5px;
      border-radius: 5px;
    }
  }
  .navbar-collapse {border: none;}
  .navbar-header a {
    color: #FFF; 
    font-size: inherit;
    &:hover { color: #FFF; }
    span { font-size: 14px; margin-left: 1em; line-height: 1em; }
  }
  .navbar-nav {
    &.navbar-right:last-child { margin-right: 0;}
    &>li { position: relative; }
    &>li>a {
      color: #FFF;
      border-right: 1px solid $navbar-a-separate;
      padding: 20px 30px;
      font-weight: bold;
      font-size: 18px;
      &:hover {
        color: #FFF;
        text-decoration: underline;
      }     
    }

    &>.active>a,
    &>.active>a:hover {
      color: $navbar-a-hover;
      background-color: $navbar-menu-active;
    }

    &>li.active:after {
      border-color: $navbar-menu-active $navbar-menu-active transparent transparent ;
      border-width: 10px;
      border-style: solid;
      content: "";
      display: inline-block;
      position: absolute;
      bottom: -20px;
      left: 50%;
      margin-left: -10px;     
    }
  }
}
@media (max-width: 767px) {
  .navbar-default {
    .navbar-nav { 
      border: none;
      margin-top: 0;
      margin-bottom: 0;
      &>li.active:after {
        display: none;
      }
    }
    .navbar-collapse { 
      max-height: 100%;
      li a { 
        padding: 15px 15px;
        border-right: none;
      }
    }
  }
  .navbar-brand {
    img {
      width: auto;
      height: 57px;
      position: absolute;
      padding: 0; 
      margin-left: 15px;
      top: 0;
      left: 0;
    }
  }
}

.navbar-header h1 {margin: 0;}
.navbar-brand {
  img {
    position: absolute;
    padding: 0; 
    margin-left: 15px;
    top: 0;
    left: 0;
    background-color: $logo-img-background;
  }
}

.form-action {
	margin-top: 10px;
  margin-bottom: 10px;
}

.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-98%);
}

.form-normal {
	.checkbox { font-weight: normal; }
	.form-control {
	  position: relative;
	  height: auto;
	  @include box-sizing(border-box);
	  padding: 10px;
	  font-size: 16px;
	  &:focus { z-index: 2; }
	}
}
form {
  margin: 20px 0;
}
input.first {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
input.middle {
  margin-bottom: -1px;
  border-radius: 0;
}
input.last,
input + .errors{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.checkbox ul, .radio ul {
  list-style: none;
  padding-left: 0;
}

.checkbox-single {
  margin-top: 10px;
}

.controls .prettycheckbox label,
.controls .prettyradio label {
  font-weight: normal;
  margin: 4px 5px;
}

.form-group {
  .autocomplete-light-widget {
    display: block;
  }
  .autocomplete-light-widget input,
  .autocomplete-light-widget input:focus {
    width: 100%;
  }
}

.inst-status {
  background-color: #d5d5d5;
  overflow: hidden;
}


.block {
	overflow: hidden;
	background-color: #FFF;
	@include border-radius(5px);
	border: 1px solid $block_border;
	.block-content {
		padding: 20px;
	}
	ul.block-content {
		padding: 0;
		li {
			.item-inner {
				margin: 0;
				.left {padding-right: 0;padding-left: 0; }
				.right {padding-right: 0;}
			}
		}
		&.item-list {
			margin-bottom: 0;
			.item-inner {
				padding: 10px 5px 0 15px;
			}
			li.first { 
				.item-inner {
					padding-top: 10px;
				}
			}
		}
	}
	&.block-bg-transparent {
		background-color: transparent;
		border: none;
	}
	&.block-bg-grey { 
		background-color: #F5F5F5;
	}
	&.block-bg-color {
		background-color: $soft_orange;
		border: none;
		@include border-radius(0);
		padding: 20px;
	}
	&.block-bg-hover {
		background-color: $navbar-menu-active;
	}
	&.block-no-border {
		border: none;
	}
}

@media (min-width: 993px) {
	.block {
		ul.block-content {
			li {
				&.first .item-inner { border-top: none; padding-top: 0; }
				&.last .item-inner { border-bottom: none; padding-bottom: 0; }
			}
		}
	}
}

.item-list {
	list-style: none;
	padding-left: 0;
	li {
		.item-inner {
			overflow: hidden;
			padding: 10px 0;
			display: block;
			&.no-border-bottom { border-bottom: none; }
		}
    &:last-child .item-inner {
      border-bottom: none;
    }
	}
	&.icon-list { 
		.item-inner a { display: block; padding-left: 25px; margin-top: -22px; }
	}
}
@media (max-width: 640px) {
	.item {
		width: 100%;
		.item-inner {
			min-height: 111px;
			.left { position: absolute; }
			.right {
				padding-left: 90px;
				width: 100%;
			}
		}
	}
}

.summary {
	h3 .left {
		img { max-width: 80px; width: 100%; }
	}

	li.active {
	    background-color: #baaa96;
	}

}
.amount {
	height: 10px;
	background-color: $logo-img-background;
	@include border-radius(5px);
}
.amount-wrapper {
	padding-right: 80px;
	a { color: $text_normal; }
}
.amount-num {
	position: absolute;
	top: 25%;
	right: 0;
	width: 70px;
	text-align: center;
	padding-left: 0;
	span { display: block; line-height: 35px; color: $text_normal; }
}

.highlight-statement {
	position: relative;
	.triangle {
		width: 23px;
		height: 22px;
		position: absolute;
		bottom: -20px;
		left: 60px;
		z-index: 2;
		background: url(../images/triangle.png) no-repeat 0 0;
	}
}

.block-quote,
.block-quote * { 
	color: $text_drak_brown !important;;
	margin: 0;
}
.block-quote,
.block-quote-alt {
	strong { font-size: 1.25em; font-weight: normal; }
  a, span { position: relative; }
	position: relative;
	display: block;
	border-left: 0;
	padding: 0px 30px 0 35px;
	margin: 12px 10px 30px 10px;
	word-wrap: break-word;
	&:before,
	a:after,
  span:after {
		content: "";
		width: 23px;
		height: 18px;
		background: url(../images/quote.png) transparent no-repeat 0 0;
		position: absolute;
		z-index: 1;
	}
	&:before {
		top: 0; left: 0;
	}
	a:after,
  span:after {
		background-position: -23px 0;
		bottom: 0;
    right: 0;
    display: inline-block;
    margin-right: -33px;
	}
}
.updated,
.new,
.pending {
  .block-quote {
    margin-top: 55px;
  }
}

.block-quote-alt {
	padding-top: 0;
	display: inline-block;
	padding: 0 30px;
	max-width: 270px;
	font-size: 3.5em;
	font-weight: bold;
	line-height: 1.38em;
  &:after {
    content: "";
    width: 23px;
    height: 18px;
    background: url(../images/quote.png) transparent no-repeat -23px 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
	}	
}
@media (max-width: 992px) {
	.block-quote-alt {
		max-width: 100%;
		margin-bottom: 10px;
	}
}
@media (max-width: 560px) {
	.block-quote-alt { font-size: 2.8em; }
}

.statement-meta {
	border-bottom: 2px solid #D8D8D8;
	position: relative;
	overflow: hidden;
	.submit { margin-bottom: 30px; }
	.fb-share-button {
		overflow: hidden;
		margin-right: 10px;
	}
}
.statement-desc {
	border: 5px dashed $soft_orange !important;
	.block-content>section { margin-bottom: 30px; }
}
.related-statement {
	article { margin-bottom: 30px; }
	.block { position: relative; overflow: visible; }
	.block:after {
		border-color: $soft_orange transparent transparent $soft_orange;
		border-width: 8px 11px;
		border-style: solid;
		content: "";
		display: inline-block;
		position: absolute;
		bottom: -15px;
		left: 75px;
		margin-left: -10px;
	}
	.media { margin-top: 20px; }
}

.hilight-people {
	.left { position: absolute; }
	.right { padding-left: 140px; }
}

.polygraph-list.single {
	.polygraph-list-before {
		.block-quote-alt {max-width: 100%;}
		.meter-image { margin-top: -80px; }
		img {
			width: 100%;
			height: auto;
			max-width: 160px;
			margin-right: 50px;
		}
	}
}

@media (max-width: 480px) {
	.polygraph-list.single {
		.polygraph-list-before {
		    .desc {
		        padding-left: 30px;
		    }
			.meter-title, .desc, .meter-image {
				width: 100%;
			}
			.meter-title, .meter-image {
				text-align: center;
			}
			.meter-image { margin-top: 20px; }
		}
	}		
}

.polygraph-list {
	&>header { position: relative; z-index: 2; overflow: visible; }
	&>section,
  &>.tab-content { position: relative; z-index: 1; }
	.statement-list { overflow: hidden; }
	.block {
		margin-bottom: 1.2em;
	}
	.polygraph-list-block {
		position: relative;
		.quote { line-height: 1.8em; }
	}
}
.polygraph-list-block {
	.block-content {
		&.float-right-img {
			padding-right: 270px;
		}
	}
}
.polygraph-list.statement-list {
	.block-content {
		position: initial;
		.quote {
			font-size: 18px;
		}

	}
}


@media (max-width: 540px) {
    .statement-item .media-body {

    }
}
.btn-group-custom {
	position: absolute;
	top: -45px;
	right: 0;
	.btn {
		@include border-radius(0);
	}
}

/*
 *  Polygraph List Before Style.
 */
.polygraph-list-before {
	width: 100%;
	.block-content { overflow: hidden; }
	span {
		margin-bottom: 10px;
		display: block;
	}
	.desc {
	    margin-top: 20px;
	    padding-left: 55px;
	}
}
// @media (max-width: 991px) {
// 	.polygraph-list-before .desc { padding: 0; }
// }

// ###########################

.about-statement {
	h3 {  margin-top: 0; }
	p { margin-bottom: 2em; }
}

.tag-list {
	a {
		margin-bottom: 10px;
		margin-right: 10px;
	}
}

footer {
  height: 60px;
  background-color: $logo-img-background;
  .container { margin-bottom: 0; }
  .footer-logo {
      height: 60px;
      img { height: 100%; }
  }
  .footer-menu {
    div {
      a { color: #FFF; line-height: 60px; }
    }
  }
  a.active {
      text-decoration: underline;
  }

  .footer-content {
      position: relative;
  }
    .footer-menu-inner {
        float: right;
        padding-right: 10px;
    }
  .footer-menu-item {
        float: left;
        margin: 0 15px;
  }
}
@media (max-width: 767px) {
  footer {
    .footer-menu {
      div {
        text-align: left;
      }
    }
  }
}

//############# Form Create Statement
.sidebar-right {
	.form-normal {
		.form-control {
			padding: 6px 12px;
			height: 34px;
			font-size: 14px;
		}
	}
	ol {
		padding-left: 2em;
		li.form-group input.form-control { display: inline-block; }	
	}
	form {
		h1, h2 { margin-bottom: 30px; }
	}
	.add_more { float: right; }
}
.sidebar {
	.form-group textarea { max-width: 100%; }	
}

.add-another-inline-input-list {

    overflow: hidden;
    margin-top: 20px;

    .form-group {
        overflow: hidden;
    }
}
.inline-reference-wrapper {
    position: relative;
}

#inline_overlay {
    background: url(../images/body-bg.png);
    opacity: 0.8;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: content-box;
    border-radius: 5px;
    border: solid 1px #DDD;
}

.autocomplete-light-widget {
	.deck>span[data-value] {
		position: relative;
	    width: 100%;
		padding: 10px !important;
		background-color: #FFF;
		@include border-radius(5px);
		border: 1px solid #ccc;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		img { margin: 0 0 0 0; }
		.remove {
		    background-position-y: 3px;
		    height: 17px;
		}
		.remove:hover {
		    background-position-y: 3px;
		}
		.reference-span {
		    margin-left: 10px;
		}

	}
}

.form-group ul.tagit {
    width: 100%;
}
.field-container {
    overflow: hidden;
}
.sidebar .radio {
    padding-left: 0;
}
.tagit-hidden-field {
    display: none;
}

.statement-meter .radio {
    padding-left: 0;
}
.statement-meter .prettyradio {
    padding-left: 7px;
    padding-right: 3px;
    background-color: #FFF;
    border-radius: 25px 2px 2px 25px;
    border-right: solid 5px #ffc092;
    margin-right: 5px;
    > a {
      margin-top: 0.75em;
    }
    label {
        margin-left: 2px;
    }
}
.statement-meter .prettyradio .item-inner {
    display: table-row;
    .image-wrapper,
    .media-body {
      display: table-cell;
      vertical-align: middle;
    }
    .media-body .media-heading {
      display: block;
      float: left;
      margin-bottom: 0;
      margin-left: 5px;
    }
}
.statement-meter .prettyradio .item-inner {
    margin-top: -11px;
    margin-right: 5px;
}

.staff-link-wrapper {

    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px 0 10px;
    color: #555;
    z-index: 1;

    ul {
        list-style: none;
        padding-left: 0px;

    }
    a {
        color: #555;
    }
}


.people-detail {
	.media.block-content { background-color: #f5f5f5; }
  .statement-item .media {
    margin: -20px -20px 0 -20px;
  }
	.people-summary {
	    margin-top: 20px;
	}
}

.can-edit .people-summary p {
    margin-right: 50px;
}

.inst-frontpage {
    border: solid 1px #c6c6c6;
    border-radius: 4px;

    &>label {
        display: block;
        padding: 10px 15px;
        border-bottom: solid 1px #c6c6c6;
    }
}

.btn-view {
    float: right;
    margin-top: 12px;
}



// ##########################
// DEV
// ##########################

ul.nav-tabs  li.active .caret {
    display: inline-block;
}
// @media (min-width: 768px) {
// 	ul.nav-tabs li .caret {
// 	    display: none;
// 	}

// }
ul.nav-tabs li.first .caret { border-bottom-color: #FFF; }

#main {
    height: 140px;
    margin-top: -140px;
    width: 100%;
}

@media (max-width: 767px) {
    #main {
        height: 87px;
        margin-top: -87px;
    }
    .navbar-header {
	    position: relative;

	}

}

.front-block-quote {
    display: table-cell;
    vertical-align: middle;
}

.front-highlight-statement {
    display: table;
    width: 100%;
    min-height: 320px;
}

.front-highlight-statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.front-no-highlight-statement .meter img {
    height: 103px;
}

.polygraph-list .polygraph-list-block .quote {
    min-height: 140px;

}

.vignette {
    display: block;
    position: relative;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;

        background-image: url('../images/vignette.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }
}

.polygraph-list .statement-item {
    margin-bottom: 3em;
}

.statement-item {

    .media {
        margin: 30px -20px -20px -20px;
        position: relative;
        height: 210px;
        overflow: visible;
    }

    .media-body,
    .meter-md,
    .statement-status {
        position: absolute;
        z-index: 2;
    }
    .media-body {
        bottom: 0px;
        margin: 30px;
        max-width: 40%;
    }
    .media-heading {
        color: #fe6625;
    }

    .meter-md {
        max-width: 40%;
        min-width: 120px;
		position: absolute;
		top: 38px;
		right: 20px;

        img {
            display: block;
            right: 8%;
            bottom: 0;
            position: absolute;
        }
        .meter-img-wrapper, .meter-img-real {

            position: absolute;
            width: 80%;
            padding-top: 80%;
            height: 0px;
            right: -8%;
            bottom: 0;
        }
        .meter-img-wrapper {
            -webkit-border-bottom-right-radius: 50%;
            -webkit-border-bottom-left-radius: 50%;
            -moz-border-radius-bottomright: 50%;
            -moz-border-radius-bottomleft: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
            overflow: hidden;
        }
        .meter-img-real {
            width: 200%;
            overflow: hidden;
            bottom: 20px;
            img {
                right: 3%;
                bottom: -20px;
            }
        }
        .meter-bg {
            background-color: #baaa96;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            right: -8%;
            z-index: -1;
            width: 80%;
            padding-top: 80%;

            &.meter-truth {
                background-color: #8EBAA1;
            }
            &.meter-lie {
                background-color: #82343D;
            }
            &.meter-half-truth {
                background-color: #996675;
            }
            &.meter-unverifiable {
                background-color: #D8984D;
            }
        }
    }


    .statement-status {
        display: block;
        padding: 5px 10px;
        color: #FFF;
        font-size: 75%;
        font-weight: bold;
        background-color: $bright_orange;
        text-align: center;
        text-transform: uppercase;
        top: 18px;
        left: 0;
        color: #333;
    }
    &.updated .statement-status {
      background-color: $statement-status-new;
    }

    .people-occupation {
        color: #FFF;
        font-size: 0.9em;
        font-weight: lighter;
        margin-top: 0.5em;
    }

    .submit {
        margin: 0 48px;
        padding-right: 100px;
        font-size: 0.8em;
        color: #555;
    }

    .triangle {
		width: 23px;
		height: 22px;
		position: absolute;
		top: 0px;
		left: 60px;
		z-index: 2;
		background: url(../images/triangle.png) no-repeat 0 0;
	}
}

@media (max-width: 520px) {
  .statement-item {
    .meter-md {
      right: 32px;
      .meter-img-wrapper img,
      .meter-img-real img {
          width: auto;
          height: 85%;
      }      
    }
    .submit {
      padding-right: 0;
      margin-bottom: 60px;
    }
  }
}


.no-border .block {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;

    border: none 0px;
}

.who-said {
  position: relative;
  .media {
    margin: -20px -20px 0 -20px;
  }
  .meter-md {
    position: absolute;
    top: -60px;
    right: 15px;
  }
}
.highlight-statement {
  .submit {
    margin: 0 48px;
    padding-right: 100px;
    font-size: 0.8em;
    color: #555;
  }
}

@media (max-width: 480px) {
    .statement-item {
        .block-content {
            padding-left: 2%;
            padding-right: 2%;
        }
    }
}


.people-item {
    .people-item-image {
        display: block;
        position: relative;
        width: 100%;
        height: 210px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }
    .media-body {
        padding: 10px 15px;
        background-color: #000;
        h3 {
          margin-top: 0;
          margin-bottom: 0;
        }
        .media-heading {
            color: #fe6625;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            white-space: nowrap;
        }
        p {
            color: #AAA;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            white-space: nowrap;
            margin-top: 0.3em;
            margin-bottom: 0.5em;
            font-size: 0.9em;
        }
    }

    .people-meter-count {
        display: table;
        width: 100%;
        ul {
            list-style: none;
            padding: 0;
            display: table-row;

            li {
                margin: 3px;
                display: table-cell;
                min-width: 3.2em;
            }

        }
        .meter-wrapper {
            text-align: center;
            margin-top: 25px;
            float: left;
            width: 100%;
            border-right: 1px solid #cccccc;

        }

        li:last-child .meter-wrapper {
            border-right: 0px none;

        }


        .meter-inner {
            margin-top: -18px;
        }
        .meter-title {
            font-family: "Boon-0.6";
            font-weight: 700;
        }
        .meter-count {
            font-size: 1.5em;
            padding: 5px 2px 8px 2px;

        }
    }

    .people-status {
        display: block;
        padding: 5px 10px;
        color: #FFF;
        font-size: 75%;
        font-weight: bold;
        background-color: $bright_orange;
        text-align: center;
        text-transform: uppercase;
        top: 18px;
        left: 0;
        color: #333;
        position: absolute;
        
    }
}

@media (max-width: 600px) {
    .people-list > ul > li {
        width: 100%;
    }
}

td.quote {
    width: 40%;
}
td.created {
    min-width: 90px;
}
td.status {
    min-width: 200px;
}
td.meter {
    min-width: 55px;
}
.statement-detail img {
    max-width: 100%;
    height: auto !important;
}

.latest-update {
    font-size: 0.9em;
    margin-bottom: 20px;
}

#id_permalink_readonly {
    display: inline-block;
    margin-right: -50px;
    padding-right: 60px;
}

#edit-permalink {
    position: relative;
}


.inline-media {

    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;

    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.error-page {
  .media {
    max-width: 480px;
    margin: 0 auto;
    .media-body {
      margin-right: 30px;
    }
  }
  .page-title {
    .big {
      font-size: 3em;
      display: block;
    }
  }
}

@media (max-width: 320px) {
  .error-page {
    .media {
      width: 100%;
      margin: 0;
      .media-body {
        margin-right: 0;
      }
      figure {
        width: 100%;
        float: left;
      }
    }
  }
}

.maintenance-mode {
  text-align: center;
  h1 { font-size: 40px; }
  h2 { font-size: 30px; }
  .block-quote { 
    font-size: 22px;
    max-width: 480px;
    margin: 30px auto;
    &:before {
      left: auto;
      margin-left: -35px;
    }
  }
  img { max-width: 100%; }
}

.staff-link {
    text-align: center;
    background-color: #A97C50;
    font-family: "Boon-0.6";
    font-style: normal;
    font-weight: 700 !important;
    display: none;
    a {
        display: inline-block;
        color: #FFF;
        padding-bottom: 5px;
    }

}

.fb_iframe_widget iframe {
  height: 20px !important;
}

.table-pain {
    tr {
        border: transparent !important;
    }
    td {
        background-color: #FFF !important;
    }
    .order input {
        width: 30px;
        border: none 0px;
    }
    .changed td, .changed input {
        background-color: #FFEECC !important;
    }
}