{% extends 'base_single.html' %}
{% load i18n %}

{% block title %}{% trans "About Us" %}{% endblock %}
{% block breadcrumb %}<li class="active">{% trans "About Us" %}</li>{% endblock %}

{% block content_class %} content-smart{% endblock %}

{% block content %}

<p>"จับเท็จดอทคอม" ก่อตั้งด้วยความมุ่งหมายที่จะร่วมเป็นส่วนเล็กๆ ในการติดตามตรวจสอบ "คำพูด" ของบุคคลสาธารณะ โดยเฉพาะผู้มีอำนาจทางการเมือง โดยนำทักษะความเชี่ยวชาญในการสืบค้นของนักข่าวสืบสวนสอบสวน มาใช้ในการนำเสนอข้อค้นพบอย่างเป็นระบบ ผ่านการออกแบบเว็บไซต์ให้เข้าใจง่ายและสืบค้นคำพูดได้โดยสะดวก แทนที่จะปล่อยให้ข้อมูลอันเป็นประโยชน์สาธารณะจมหายไปในสายธารของโซเชียลมีเดียทั้งหลาย</p>

<p>ทีมงานจับเท็จจะตรวจสอบเฉพาะ "คำพูด" ที่เกี่ยวกับข้อเท็จจริง ซึ่งสามารถค้นหาหลักฐานมาพิสูจน์ได้เท่านั้น คำพูดประเภทความคิดเห็น คำสัญญา หรือคำประกาศต่างๆ นานา เกี่ยวกับอนาคตหรือความเชื่อส่วนตัว เป็นสิ่งที่อยู่นอกเหนือขอบเขตการทำงานของเรา</p>

<p>ทีมงานขอเชิญชวนให้ทุกท่านมีส่วนร่วมในการเสนอคำพูดที่อยากให้ตรวจสอบ ตรวจสอบการทำงานของทีมงานจับเท็จเอง และเสนอแนะข้อคิดเห็นหรือติชม ผ่านการแสดงความเห็นบนเฟซบุ๊ก <a href="https://www.facebook.com/ThaiPublica" target="_blank">ThaiPublica</a>  หรืออีเมล info@thaipublica.org</p>

<p>จับเท็จดอทคอมนับเป็นโครงการ data journalism หรือวารสารศาสตร์เชิงข้อมูล โครงการแรกของสำนักข่าวออนไลน์ ไทยพับลิก้า เกิดขึ้นโดยความร่วมมือระหว่าง <a href="http://thaipublica.org/" target="_blank">ไทยพับลิก้า</a> ร่วมกับ <a href="https://www.opendream.co.th" target="_blank">โอเพ่นดรีม</a></p>

{% endblock %}