{% extends 'base_single.html' %}
{% load i18n %}

{% block title %}{% trans "Contact Us" %}{% endblock %}
{% block breadcrumb %}<li class="active">{% trans "Contact Us" %}</li>{% endblock %}

{% block content_class %} content-smart{% endblock %}

{% block content %}

<h3>ไทยพับลิก้า</h3>
<p>62 รามอินทรา 5 แยก 3 แขวงอนุสาวรีย์ เขตบางเขน กรุงเทพฯ 10220</p>
<p>โทร. 02-9706998 อีเมล info@thaipublica.org</p>
<p>ระบบจัดการข้อมูลโดย <a href="https://github.com/opendream/polygraph" target="_blank">Polygraph</a>, ออกแบบและพัฒนาโดย <a href="http://www.opendream.co.th/" target="_blank">บริษัท โอเพ่นดรีม</a></p>

{% endblock %}